#helpWindow {
    border-style: solid;
    border-width: 9px;
    border-color: black;
    position: absolute;
    width: 920px;
    height: 90%;
    margin-left: 20%;
    margin-right: 20%;
    background-image: url(../images/background1.jpg);
    background-repeat: repeat;
    z-index: 3;
    overflow-y: auto;
}

#minigameNameplate {
	
	background-color: purple;
	z-index: 4;
	position: absolute;
	display: none;
	font-size: 30px;
	text-shadow:  5px 5px 1px black;
	text-align: center;
	height: 35px;
	color: white;
	margin-left: 20%;
	margin-right: 20%;
	
	border-style: solid;
    border-width: 9px;
    border-color: black;
    border-radius: 10px;

    padding: 0px;
    padding-left: 20px;


	
}

#helpButton:hover {
    border-style: solid;
    border-width: 2px;
    border-color: red;
}

#helpButton {
    border-style: solid;
    border-width: 2px;
    border-color: black;
    position: absolute;
    float: right;
    width: 50px;
    height: 50px;
    z-index: 3;
    background: white;
    font-size: 50px;
    display: none;
    background-image: url(../images/quickHelp.jpg);
}

body {
    background-image: url(../images/wallpaperDefault.jpg);
    background-repeat:  repeat;
}

select {
    background: rgba(255,0,255,.2);
    width: 180px;
    padding: 2px;
    font-size: 16px;
    line-height: 1;
    border: solid black 1px;
    height: 28px;
    border-radius: 10px;
}

option:nth-child(odd) {
    background: rgba(255,0,255,.2);
}

option:nth-child(even) {
    background: rgba(200,0,200,.2);
}

option:nth-child(1) {
    background: rgba(255,0,255,.2);
    font-weight: bold;
}

test {
    color: red;
    font-size: 50px;
}

symbol_star {
    /*background-image: url(images/symb_star.png);*/
}

newchar {
    font-size: 35px;
    color: blue;
}

orange {
    color: orange;
}

blue {
    color: blue;
}

green {
    color: green;
}

red {
    color: red;
}

pink {
    color: #FF00FF;
}

black {
    color: #FFFFFF;
}

shade0 {
    color: #2347ff;
}

shade1 {
    color: #473dff;
}

shade2 {
    color: #5e34ff;
}

shade3 {
    color: #7a2bff;
}

shade4 {
    color: #ae17ff;
}

shade5 {
    color: #6a0cff;
}

shade6 {
    color: #EA00FF;
}

fade {
}

debug {
    color: #660066;
    font-style: italic;
}

yourName {
    color: blue;
    font-size: 25px;
    text-align: center;
}

textarea {
    border: 1px solid #999999;
    width: 100%;
    padding: 1px;
    font-size: 18px;
    text-align: center;
    background-color: transparent;
}

#grayBackground {
    top: 0px;
    left: 0px;
    overflow: hidden;
    float: none;
    position: fixed;
    background-image: url(../images/darkBackground.jpg);
    background-repeat: repeat;
    opacity: .8;
    z-index: 2;
    width: 100%;
    height: 100%;
    /*visibility: hidden;*/
}



#clearTextButton {
    position: relative;
    float: right;
    vertical-align: top;
}

#outputBox textarea {
    border: 1px solid #999999;
    width: 100%;
    padding: 1px;
    font-size: 18px;
    background-color: transparent;
    text-align: left;
}

#nameBox {
    vertical-align: top;
    position: relative;
    font-size: 20px;
    width: 70%;
    margin-left: 14%;
    margin-right: 14%;
    border-width: medium;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    background: rgba(255,255,255,.4);
    opacity: 0.9;
    height: 80px;
    font-family: fantasy;
    font-size: 60px;
    text-align: center;
    overflow: auto;
}

#newGameWindow {
    border-style: solid;
    border-width: 9px;
    border-color: black;
    position: absolute;
    width: 920px;
    height: 90%;
    margin-left: 20%;
    margin-right: 20%;
    padding: 20px;
    background-image: url(../images/background1.jpg);
    background-repeat: repeat;
    z-index: 3;
    overflow-y: auto;
}

#loadPlayerDifficultyWrapper {
    overflow: auto;
}

#characterLoadDiv {
    float: left;
    width: 33%;
}

#difficultyChoice {
    /*background:rgba(200,200,255,0.6);*/
    float: right;
    font-size: 25px;
    width: 33%;
}

#gameSpeedChoice {
    /*background:rgba(200,200,255,0.6);*/
    float: right;
    font-size: 25px;
    width: 33%;
}


#hideMe {
    visibility: hidden;
    display: none;
}

#everythingWrapper {
    position: relative;
    height: 100%;
}

#gameplayBox {
    border-width: medium;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    position: relative;
    float: left;
    width: 1000px;
    height: 700px;
    z-index: 1;
    margin-left: .2%;
    margin-right: .2%;
    padding: .5%;
    background: rgba(200,255,200,.7);
}

#leftColumnDiv {
    border-width: medium;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    position: relative;
    float: left;
    padding: 5px;
    width: 225px;
    height: 700px;
    background: rgba(255,200,200,.4);
}

#rightColumnDiv {
    border-width: medium;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    position: relative;
    float: left;
    width: 225px;
    height: 700px;
    background: rgba(200,200,255,.7);
}

#buttons {
    vertical-align: top;
    position: relative;
}



#questionTimerWrapper {
    position: relative;
    vertical-align: top;
    width: 95%;
    margin-left: 2.5%;
    margin-left: 2.5%;
    /*margin-left: 20%;
	margin-right: 20%;*/
    background: rgba(0,0,255,.3);
    overflow: auto;
}

#question {
    position: relative;
    float: left;
    width: 1000px;
    height: 100px;
    margin-left: 0%;
    margin-left: 0%;
    border-style: solid;
    border-color: black;
    background: rgba(255,255,0,0.3);
    overflow: auto;
}

#timer {
    position: relative;
    float: left;
    width: 200px;
    height: 100px;
    border-style: solid;
    border-color: black;
    resize: none;
}

#skipButton {
    position: relative;
    float: left;
    width: 10%;
    border-style: solid;
    border-color: black;
}

    #skipButton .button {
        background: rgba(255,255,0,0.3);
    }

#choices {
    position: relative;
    vertical-align: top;
    width: 100%;
    border-style: solid;
    border-color: black;
    background: rgba(255,255,255,0.3);
    /*margin-left: 20%;
	margin-right: 20%;*/
}

.a20x20Button:hover {
    border-style: solid;
    border-color: orange;
    border-width: 2px;
    height: 16px;
    width: 16px;
}

.imgButton:hover {
    border-style: solid;
    border-color: red;
    border-width: 3px;
    height: 69px;
    width: 69px;
}

.newGameButton:hover {
    border-style: solid;
    border-color: red;
    border-width: 3px;
    height: 144px;
    width: 294px;
}

.nextRoundButton:hover {
    border-style: solid;
    border-color: red;
    border-width: 3px;
    height: 69px;
    width: 219px;
}

.returnButton:hover {
    border-style: solid;
    border-color: red;
    border-width: 3px;
    height: 69px;
    width: 69px;
}

#answer {
    position: relative;
    clear: both;
    width: 100%;
    height: 100px;
    border-style: solid;
    border-color: black;
    background: rgba(255,255,255,1);
}


#console {
    overflow-x: hidden;
    position: relative;
    font-size: 20px;
    width: 95%;
    border-width: medium;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    background: rgba(255,255,255,0.6);
    height: 600px;
    padding: 5px;
}

#selectedPlayerDesc {
    overflow-x: hidden;
    width: 900px;
    height: 160px;
    border-width: 3px;
    border-style: solid;
    border-color: black;
    border-top: 0px;
    border-bottom: 0px;
    font-size: 20px;
    background: rgba(200,255,200,0.6);
}

#selectedPlayerInfo {
    overflow-x: hidden;
    overflow-y: hidden;
    width: 900px;
    height: 40px;
    border-width: 3px;
    border-style: solid;
    border-color: black;
    border-bottom-width: 1px;
    border-bottom-style: dashed;
    font-size: 32px;
    font-family: "Verdana";
    background: rgba(200,255,200,0.6);
}

#selectedPlayerAuthor {
    overflow-x: hidden;
    width: 900px;
    height: 30px;
    border-width: 3px;
    border-style: solid;
    border-color: black;
    border-top-width: 1px;
    border-top-style: dashed;
    font-family: "Lucida Console";
    font-size: 20px;
    background: rgba(200,255,200,0.6);
}

#selectedOpponentDesc {
    overflow-x: hidden;
    width: 900px;
    height: 160px;
    border-width: 3px;
    border-style: solid;
    border-color: black;
    border-top: 0px;
    border-bottom: 0px;
    font-size: 20px;
    background: rgba(200,255,200,0.6);
}

#selectedOpponentInfo {
    overflow-x: hidden;
    overflow-y: hidden;
    width: 900px;
    height: 40px;
    border-width: 3px;
    border-style: solid;
    border-color: black;
    border-bottom-width: 1px;
    border-bottom-style: dashed;
    font-size: 32px;
    font-family: "Verdana";
    background: rgba(200,255,200,0.6);
}

#selectedOpponentAuthor {
    overflow-x: hidden;
    width: 900px;
    height: 30px;
    border-width: 3px;
    border-style: solid;
    border-color: black;
    border-top-width: 1px;
    border-top-style: dashed;
    font-size: 20px;
    font-family: "Lucida Console";
    background: rgba(200,255,200,0.6);
}

#scrollBox textarea {
    border: 1px solid #999999;
    width: 100%;
    padding: 1px;
    font-size: 18px;
    background-color: transparent;
    text-align: left;
}



#innerPadding {
    padding: 0%;
}

#totalOpponentTF {
    border-width: medium;
    border-radius: 5px;
    border-style: solid;
    border-color: black;
    position: relative;
    float: left;
    width: 100px;
    height: 680px;
    margin-left: 6px;
    margin-top: 7px;
    background: rgba(255,200,200,.7);
}

#totalPlayerTF {
    border-width: medium;
    border-radius: 5px;
    border-style: solid;
    border-color: black;
    position: relative;
    float: left;
    width: 100px;
    height: 680px;
    margin-top: 7px;
    background: rgba(200,255,200,.7);
}

#totalOpponentTFProgressBar {
    background-image: url(../images/oTotalTF.jpg);
    background-repeat: repeat;
    height: 100%;
    width: 99%;
    position: absolute;
    bottom: 0px;
}

#totalPlayerTFProgressBar {
    background-image: url(../images/pTotalTF.jpg);
    background-repeat: repeat;
    height: 100%;
    width: 99%;
    position: absolute;
    bottom: 0px;
}



/*--------------------------- REFLEX MINIGAME -------------------------------*/

#reflexGameMainWindow {
    border-style: solid;
    border-width: 9px;
    border-color: black;
    border-radius: 10px;
    position: absolute;
    /*visibility:hidden;*/
    width: 520px;
    height: 650px;
    margin-left: 20%;
    margin-right: 20%;
    padding: 20px;
    background-image: url(../images/background1.jpg);
    background-repeat: repeat;
    z-index: 4;
}

#reflexActionWindow {
    height: 500px;
    width: 500px;
    border: solid 6px;
    border-color: black;
    border-radius: 10px;
    background-image: url(../images/background2.jpg);
    background-repeat: repeat;
    opacity: .8;
}

.reflexTarget {
    height: 30px;
    width: 30px;
    position: relative;
    background-image: url(../images/reflexTarget.png);
}

#reflexTimer {
    width: 400px;
    height: 200px;
    width: 200px;
    height: 100px;
    border-style: solid;
    border-color: black;
    background: rgba(200,255,200,0.6);
    visibility: hidden;
}

timerTextStyle {
    font-size: 60px;
    resize: none;
}

#reflexPoints {
    float: left;
    width: 400px;
    height: 200px;
    width: 200px;
    height: 100px;
    border-style: solid;
    border-color: black;
    background: rgba(200,255,200,0.6);
}

#reflexOpponentScore {
    width: 500px;
    height: 30px;
    background: rgba(255,200,200,0.6);
    border: 6px solid black;
    border-radius: 10px;
}

#reflexPlayerScore {
    width: 500px;
    height: 30px;
    background: rgba(200,255,200,0.6);
    border: 6px solid black;
    border-radius: 10px;
}

#reflexOpponentScoreProgressBar {
    background-image: url(../images/cBarBackground.jpg);
    background-repeat: repeat;
    height: 96%;
    width: 1%;
    float: left;
}

#reflexPlayerScoreProgressBar {
    background-image: url(../images/pBarBackground.jpg);
    background-repeat: repeat;
    height: 96%;
    width: 1%;
    float: left;
}

reflexWinText {
    font: 80px green;
}

reflexLoseText {
    font: 80px red;
}

/*--------------------------- SEQUENCE MINIGAME -------------------------------*/


#sequenceGameMainWindow {
    border-style: solid;
    border-width: 9px;
    border-color: black;
    border-radius: 10px;
    position: absolute;
    /*visibility:hidden;*/
    width: 700px;
    height: 650px;
    margin-left: 20%;
    margin-right: 20%;
    padding: 20px;
    background-image: url(../images/background1.jpg);
    background-repeat: repeat;
    z-index: 4;
}

#sequenceActionWindow {
    height: 500px;
    width: 700px;
    border: solid 6px;
    border-color: black;
    border-radius: 10px;
    background-image: url(../images/background2.jpg);
    background-repeat: repeat;
    opacity: .8;
}

#sequenceOpponentScore {
    width: 700px;
    height: 30px;
    background: rgba(255,200,200,0.6);
    border: 6px solid black;
    border-radius: 10px;
}

#sequenceOpponentScoreProgressBar {
    background-image: url(../images/cBarBackground.jpg);
    background-repeat: repeat;
    height: 96%;
    width: 1%;
    float: left;
}

#sequencePlayerScore {
    width: 700px;
    height: 30px;
    background: rgba(200,255,200,0.6);
    border: 6px solid black;
    border-radius: 10px;
}

#sequencePlayerScoreProgressBar {
    background-image: url(../images/pBarBackground.jpg);
    background-repeat: repeat;
    height: 96%;
    width: 1%;
    float: left;
}

#seqImgWrapper {
    width: 100%;
    height: 82px;
    background: rgba(255,255,255,1);
    /*border: 2px solid black;*/
}

#seqImgBtnsWrapper {
    vertical-align: bottom;
    width: 100%;
    height: 164px;
    background: rgba(255,255,255,1);
    /*border: 2px solid black;*/
}

#sequenceTest1 {
    width: 50px;
    height: 50px;
    background: rgba(255,200,200,0.6);
    border: 2px solid black;
    visibility: hidden;
}

#sequenceTest2 {
    width: 50px;
    height: 50px;
    background: rgba(255,200,200,0.6);
    border: 2px solid black;
    visibility: hidden;
}

.seqImg {
    float: left;
    height: 81.2px;
    width: 81.2px;
    background: rgba(255,200,200,0.6);
    border: 3px solid black;
    background-image: url(../images/symb_blank.png);
    background-size: 100% 100%;
}

.seqImgBtn {
    float: left;
    height: 81.2px;
    width: 81.2px;
    background: rgba(255,200,200,0.6);
    border: 3px solid black;
    background-image: url(../images/symb_blank.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

    .seqImgBtn:hover {
        float: left;
        height: 75.2px;
        width: 75.2px;
        background: rgba(255,200,200,0.6);
        border: 6px solid green;
        background-image: url(../images/symb_blank.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }





/*--------------------------- MEMORY MINIGAME -------------------------------*/

#memoryGameMainWindow {
    border-style: solid;
    border-width: 9px;
    border-color: black;
    border-radius: 10px;
    position: absolute;
    width: 520px;
    height: 650px;
    margin-left: 20%;
    margin-right: 20%;
    padding: 20px;
    background-image: url(../images/background1.jpg);
    background-repeat: repeat;
    z-index: 4;
}

#memoryActionWindow {
    height: 500px;
    width: 500px;
    border: solid 6px;
    border-color: black;
    border-radius: 10px;
    background-image: url(../images/background2.jpg);
    background-repeat: repeat;
    opacity: .8;
}

#memoryOpponentScore {
    width: 500px;
    height: 30px;
    background: rgba(255,200,200,0.6);
    border: 6px solid black;
    border-radius: 10px;
}

#memoryPlayerScore {
    width: 500px;
    height: 30px;
    background: rgba(200,255,200,0.6);
    border: 6px solid black;
    border-radius: 10px;
}

#memoryOpponentScoreProgressBar {
    background-image: url(../images/cBarBackground.jpg);
    background-repeat: repeat;
    height: 96%;
    width: 1%;
    float: left;
}

#memoryPlayerScoreProgressBar {
    background-image: url(../images/pBarBackground.jpg);
    background-repeat: repeat;
    height: 96%;
    width: 1%;
    float: left;
}

#memImgWrapper {
}

.memImgBtn {
    float: left;
    height: 119px;
    width: 119px;
    background: rgba(255,200,200,0.6);
    border: 3px solid black;
    background-image: url(../images/symb_question.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

    .memImgBtn:hover {
        float: left;
        height: 113px;
        width: 113px;
        background: rgba(255,200,200,0.6);
        border: 6px solid green;
        background-image: url(../images/symb_blank.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }

/* ----------------------- POPUP GAME ------------------------- */

#popupGameMainWindow {
    border-style: solid;
    border-width: 9px;
    border-color: black;
    border-radius: 10px;
    position: absolute;
    /*visibility:hidden;*/
    width: 520px;
    height: 650px;
    margin-left: 20%;
    margin-right: 20%;
    padding: 20px;
    background-image: url(../images/background1.jpg);
    background-repeat: repeat;
    z-index: 4;
}

#popupActionWindow {
    position: absolute;
    height: 500px;
    width: 500px;
    border: solid 6px;
    border-color: black;
    border-radius: 10px;
    background-image: url(../images/background2.jpg);
    background-repeat: repeat;
    opacity: .8;
}

#popupOpponentScore {
    width: 500px;
    height: 30px;
    background: rgba(255,200,200,0.6);
    border: 6px solid black;
    border-radius: 10px;
}

#popupOpponentScoreProgressBar {
    background-image: url(../images/cBarBackground.jpg);
    background-repeat: repeat;
    height: 96%;
    width: 1%;
    float: left;
}

#popupPlayerScore {
    width: 500px;
    height: 30px;
    background: rgba(200,255,200,0.6);
    border: 6px solid black;
    border-radius: 10px;
}

#popupPlayerScoreProgressBar {
    background-image: url(../images/pBarBackground.jpg);
    background-repeat: repeat;
    height: 96%;
    width: 1%;
    float: left;
}

.popupTargetLarge {
    position: absolute;
    background: rgba(0,0,255,1);
    height: 50px;
    width: 50px;
    border: 2px solid black;
    float: left;
}

.popupTargetMedium {
    position: absolute;
    background: rgba(0,255,0,1);
    height: 35px;
    width: 35px;
    border: 2px solid black;
    float: left;
}

.popupTargetSmall {
    position: absolute;
    background: rgba(255,0,0,1);
    height: 20px;
    width: 20px;
    border: 2px solid black;
    float: left;
}

.popupTargetSuperSmall {
    position: absolute;
    background: rgba(255,255,255,1);
    height: 10px;
    width: 10px;
    border: 2px solid black;
    float: left;
}

#popupMissPenalty {
    width: 40%;
    height: 50px;
    margin-left: 24%;
    margin-right: 24%;
    background: rgba(255,255,255,0.6);
    border: 6px solid black;
    border-radius: 10px;
    font-size: 25px;
    color: red;
}

#popupDebug1 {
    width: 200px;
    height: 50px;
    background: rgba(255,255,255,1);
    visibility: hidden;
}

#popupDebug2 {
    height: 50px;
    background: rgba(255,255,255,1);
    visibility: hidden;
}

/* ----------------------- ROULETTE GAME ------------------------- */

#roulGameMainWindow {
    border-style: solid;
    border-width: 9px;
    border-color: black;
    border-radius: 10px;
    position: absolute;
    /*visibility:hidden;*/
    width: 520px;
    height: 650px;
    margin-left: 20%;
    margin-right: 20%;
    padding: 20px;
    background-image: url(../images/background1.jpg);
    background-repeat: repeat;
    z-index: 4;
    display: none;
}

#roulActionWindow {
    position: absolute;
    height: 620px;
    width: 500px;
    border: solid 6px;
    border-color: black;
    border-radius: 10px;
    background-image: url(../images/background2.jpg);
    background-repeat: repeat;
    opacity: .8;
}




#roulSpinnerWheel {
	background-image: url(../images/spinner.png);
	background-size: cover;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    height: 400px;	
}

#roulSpinnerFrame {
	background-image: url(../images/spinnerFrame.png);
	background-size: cover;
	width: 80%;
	margin-left: 10%;
    margin-right: 10%;
	height: 400px;
	z-index: 500;
	position: absolute;
	float: none;
}

#roulBtnRed {
	background-color: red;
	border: 3px solid black;
	height: 75px;
	width: 119px;
	float: left;
	color: white;
	font-size: 50px;
	text-shadow:  5px 5px 1px black;
	text-align: center;
	-webkit-user-select: none;  
	-moz-user-select: none;    
	-ms-user-select: none;      
	user-select: none;
}

#roulBtnGreen {
	background-color: green;
	border: 3px solid black;
	height: 75px;
	width: 119px;
	float: left;
	color: white;
	font-size: 50px;
	text-shadow:  5px 5px 1px black;
	text-align: center;
	-webkit-user-select: none;  
	-moz-user-select: none;    
	-ms-user-select: none;      
	user-select: none;
}



#roulBtnBlue {
	background-color: blue;
	border: 3px solid black;
	height: 75px;
	width: 119px;
	float: left;
	color: white;
	font-size: 50px;
	text-shadow:  5px 5px 1px black;
	text-align: center;
	-webkit-user-select: none;  
	-moz-user-select: none;    
	-ms-user-select: none;      
	user-select: none;
}



#roulBtnYellow {
	background-color: yellow;
	border: 3px solid black;
	height: 75px;
	width: 119px;
	float: left;
	color: white;
	font-size: 50px;
	text-shadow:  5px 5px 1px black;
	text-align: center;
	-webkit-user-select: none;  
	-moz-user-select: none;    
	-ms-user-select: none;      
	user-select: none;
}
#roulBtnRed:hover {
	border: 3px solid white;
}

#roulBtnGreen:hover {
	border: 3px solid white;
}

#roulBtnBlue:hover {
	border: 3px solid white;
}

#roulBtnYellow:hover {
	border: 3px solid white;
}

#roulInfo {
	background-color: purple;
	border: 3px solid black;
	height: 75px;
	width: 99%;
	color: white;
	float: left;
	font-size: 30px;
	text-shadow:  5px 5px 1px black;
	text-align: center;
}

#roulOpponentScore {
	background-color: red;
	border: 3px solid black;
	height: 50px;
	width: 99%;
	color: white;
	float: left;
	font-size: 30px;
	text-shadow:  5px 5px 1px black;
	text-align: center;
}

#roulDebug1 {
    width: 200px;
    height: 50px;
    background: rgba(255,255,255,1);
    visibility: hidden;
   
}

#roulDebug2 {
    height: 50px;
    background: rgba(255,255,255,1);
    visibility: hidden;
}

/* ----------------------- DISCUS GAME ------------------------- */

#discusGameMainWindow {
    border-style: solid;
    border-width: 9px;
    border-color: black;
    border-radius: 10px;
    position: absolute;
    /*visibility:hidden;*/
    width: 520px;
    height: 650px;
    margin-left: 20%;
    margin-right: 20%;
    padding: 20px;
    background-image: url(../images/background1.jpg);
    background-repeat: repeat;
    z-index: 4;
    display: none;
}

#discusActionWindow {
    position: absolute;
    height: 500px;
    width: 500px;
    border: solid 6px;
    border-color: black;
    border-radius: 10px;
    background-image: url(../images/background2.jpg);
    background-repeat: repeat;
    opacity: .8;
}

#discusOpponentScore {
    width: 500px;
    height: 30px;
    background: rgba(255,200,200,0.6);
    border: 6px solid black;
    border-radius: 10px;
}

#discusOpponentScoreProgressBar {
    background-image: url(../images/cBarBackground.jpg);
    background-repeat: repeat;
    height: 96%;
    width: 1%;
    float: left;
}

#discusPlayerScore {
    width: 500px;
    height: 30px;
    background: rgba(200,255,200,0.6);
    border: 6px solid black;
    border-radius: 10px;
}

#discusPlayerScoreProgressBar {
    background-image: url(../images/pBarBackground.jpg);
    background-repeat: repeat;
    height: 96%;
    width: 1%;
    float: left;
}

#discusOpponentScore {
    width: 500px;
    height: 30px;
    background: rgba(255,200,200,0.6);
    border: 6px solid black;
    border-radius: 10px;
}

#discusOpponentScoreProgressBar {
    background-image: url(../images/cBarBackground.jpg);
    background-repeat: repeat;
    height: 96%;
    width: 1%;
    float: left;
}

#discusPlayerScore {
    width: 500px;
    height: 30px;
    background: rgba(200,255,200,0.6);
    border: 6px solid black;
    border-radius: 10px;
}

#discusPlayerScoreProgressBar {
    background-image: url(../images/pBarBackground.jpg);
    background-repeat: repeat;
    height: 96%;
    width: 1%;
    float: left;
}

#discusMissPenalty {
	background-color: purple;
	border: 3px solid black;
	height: 50px;
	width: 99%;
	color: white;
	float: left;
	font-size: 30px;
	text-shadow:  5px 5px 1px black;
	text-align: center;
}

.discusTarget {
	position: absolute;
	background-image: url(../images/discus_target.png);
	 background-size:100% 100%;
	height: 35px;
	width: 35px;
	/*border: 2px solid black;*/
	float: left;
	display: none;
}


.discusBullet {
	position: absolute;
	background-image: url(../images/discus_bullet.png);
	background-size:100% 100%;
	height: 10px;
	width: 10px;
	float: left;
}


#discusDebug1 {
    width: 200px;
    height: 50px;
    background: rgba(255,255,255,1);
    visibility: hidden;
   
}

#discusDebug2 {
    height: 50px;
    background: rgba(255,255,255,1);
   
    visibility: hidden;
}

/* ----------------------- DISCUS GAME ------------------------- */

#dpongGameMainWindow {
    border-style: solid;
    border-width: 9px;
    border-color: black;
    border-radius: 10px;
    position: absolute;
    /*visibility:hidden;*/
    width: 520px;
    height: 650px;
    margin-left: 20%;
    margin-right: 20%;
    padding: 20px;
    background-image: url(../images/background1.jpg);
    background-repeat: repeat;
    z-index: 4;
    display: none;
}

#dpongActionWindow {
    position: absolute;
    height: 500px;
    width: 500px;
    border: solid 6px;
    border-color: black;
    border-radius: 10px;
    background-image: url(../images/background2.jpg);
    background-repeat: repeat;
    opacity: .8;
}

#dpongOpponentScore {
    width: 500px;
    height: 30px;
    background: rgba(255,200,200,0.6);
    border: 6px solid black;
    border-radius: 10px;
}

#dpongOpponentScoreProgressBar {
    background-image: url(../images/cBarBackground.jpg);
    background-repeat: repeat;
    height: 96%;
    width: 1%;
    float: left;
}

#dpongPlayerScore {
    width: 500px;
    height: 30px;
    background: rgba(200,255,200,0.6);
    border: 6px solid black;
    border-radius: 10px;
}

#dpongPlayerScoreProgressBar {
    background-image: url(../images/pBarBackground.jpg);
    background-repeat: repeat;
    height: 96%;
    width: 1%;
    float: left;
}

.dpongBall {
	position: absolute;
	background-image: url(../images/discus_target.png);
	 background-size:100% 100%;
	height: 15px;
	width: 15px;
	/*border: 2px solid black;*/
	
	display: none;
}

#dpongPaddle {
	position: absolute;
	/*background-image: url(images/discus_target.png);
	 background-size:100% 100%;*/
	background: rgba(255,255,255,1);
	height: 10px;
	border: 2px solid black;

	/*display: none;*/
}

#dpongPaddleLeft {
	width: 155px;
	height: 50px;
	background-image: url(../images/dpong_LPaddle.jpg);
	 background-size:100% 100%;
	border: 6px solid black;
	border-radius: 10px;
	float:left;
}

#dpongPaddleLeft:hover {
	border-style: solid;
	border-width: 9px;
	border-color: green;
	width: 149px;
	height: 44px;
}

#dpongPaddleAcross {
	width: 155px;
	height: 50px;
	background-image: url(../images/dpong_APaddle.jpg);
	 background-size:100% 100%;
	border: 6px solid black;
	border-radius: 10px;
	float:left;
}

#dpongPaddleAcross:hover {
	border-style: solid;
	border-width: 9px;
	border-color: green;
	width: 149px;
	height: 44px;
}

#dpongPaddleRight {
	width: 155px;
	height: 50px;
	background-image: url(../images/dpong_RPaddle.jpg);
	 background-size:100% 100%;
	border: 6px solid black;
	border-radius: 10px;
	float:left;
}

#dpongPaddleRight:hover {
	border-style: solid;
	border-width: 9px;
	border-color: green;
	width: 149px;
	height: 44px;
}


#dpongDebug1 {
    width: 200px;
    height: 50px;
    background: rgba(255,255,255,1);
    visibility: hidden;
   
}

#dpongDebug2 {
	width: 200px;
    height: 50px;
    background: rgba(255,255,255,1);
   
    visibility: hidden;
}