﻿﻿@model TT.Web.Models.LoginModel

<div class="offlinePlayersWrapperBG containerInner text-center">
    <p class="frontHeader">THIS SITE CONTAINS ADULT SEXUAL CONTENT and is not suitable for minors.</p>
    <p>By registering for this site you agree that you are <b>at least 18 years of age</b> or <b>the legal in age of your country to view or read sexually explicit material</b>.  If you do not meet these criteria, please leave now.</p>
</div>
<div class="containerInner text-center">
    <p class="frontHeader">What is Transformania Time?</p>
    <p>Transformania Time game is a a massively multiplayer player-versus-player browser-based game that revolves primarily around transformation themes, including transgender, trans-species, absorption, and inanimation (being turned into an item).  You will also encounter themes revolving around BDSM, mind control, and bimbofication.  <b>By registering or logging into this game you are agreeing that you are comfortable with these themes and are both informed of and obeying the local laws governing you.</b></p>
</div>
<div class="onlinePlayersWrapperBG containerInner text-center">
    <div class="row">

        <div class="col-md-4 col-lg-4 hidden-sm hidden-xs">
            <img src="~/Images/login-left.png">
        </div>

        <div class="col-md-3 col-lg-4 col-sm-12 loginCenter">

            <p style="margin-top: 50px;">
                <a href="@Url.Action(MVC.Account.Login())">Log In</a> <br>
            </p>

            <p style="margin-top: 50px;">
                <a href="@Url.Action(MVC.Account.Register())">Register</a> <br>if you don't have an account.
            </p>

            <br><br>

            <p>
                Or did you want to play single player javascript game -
                <a href="https://tt-gameshow.transformaniatime.com/">Transformania Gameshow</a> ?
            </p>

        </div>


        <div class="col-md-4 hidden-sm hidden-xs">
            <img src="~/Images/login-right.png">
        </div>

    </div>
</div>
<section id="loginForm"></section>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<style>
    input:disabled {
        background: #b6b6b6;
    }

    .loginCenter {
        padding: 150px 0px;
    }

    @@media (max-width: 768px) {
        .loginCenter {
            padding: 0px;
        }
    }
</style>