﻿@using TT.Domain.Statics
@using TT.Web.CustomHtmlHelpers
@model TT.Domain.ViewModels.World.OldItemLeaderboardViewModel
@{
    ViewBag.Title = $"Pet/Item Leaderboard - Alpha Round {Model.Round}";
}

@section menu
{
    <li><a href="@Url.Action(MVC.PvP.Play())">Back to game</a></li>
}

<div class="specialBox specialBox2">
    @Html.Partial(MVC.PvP.Views.partial.OldLeaderboardLinks)
</div>

<div class="specialBox">
    <b>Pet/Item Leaderboard -- Alpha Round @Model.Round</b><br>
</div>

<div class="containerInner">
    <table class="table table-hover messageTable">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Covenant</th>
                <th>Image</th>
                <th>Pet/Item Name</th>
                <th>Level</th>
                <th>XP</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var entry in Model.Entries)
            {
                <tr>
                    <td>@entry.Rank</td>
                    <td><b>@entry.PlayerName</b> @HtmlHelpers.PrintGenderIcon(entry.Sex) @HtmlHelpers.PrintItemTypeIcon(entry.ItemType)</td>
                    <td>@entry.CovenantName</td>
                    <td>
                        <img src="@HtmlHelpers.GetImageUrl(entry.ItemSource.PortraitUrl, entry.ItemType == PvPStatics.ItemType_Pet ? PvPStatics.MobilityPet : PvPStatics.MobilityInanimate, true)" width="50px" height="50px">
                    </td>
                    <td>@entry.ItemName</td>
                    <td>@entry.Level</td>
                    <td>@($"{entry.XP:n0}")</td>
                </tr>
            }
        </tbody>
    </table>
</div>