﻿@using TT.Web.CustomHtmlHelpers
@model TT.Domain.ViewModels.World.OldPvPLeaderboardViewModel
@{
    ViewBag.Title = $"PvP/Dungeon Leaderboard - Alpha Round {Model.Round}";
}

@section menu
{
    <li><a href="@Url.Action(MVC.PvP.Play())">Back to game</a></li>
}

<div class="specialBox specialBox2">
    @Html.Partial(MVC.PvP.Views.partial.OldLeaderboardLinks)
</div>

<div class="specialBox">
    <b>PvP / Dungeon Leaderboard -- Alpha Round @Model.Round</b><br>
</div>

<div class="containerInner">
    <table class="table table-hover messageTable">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Covenant</th>
                <th>Form</th>
                <th>Mobility</th>
                <th>Level</th>
                <th>Score</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var entry in Model.Entries)
            {
                <tr>
                    <td>@entry.Rank</td>
                    <td><b>@entry.PlayerName</b> @HtmlHelpers.PrintGenderIcon(entry.Sex)</td>
                    <td>@entry.CovenantName</td>
                    <td>@entry.FormName</td>
                    <td>@entry.Mobility</td>
                    <td>@entry.Level</td>
                    <td>@entry.DungeonPoints</td>
                </tr>
            }

        </tbody>
    </table>
</div>