﻿@model TT.Domain.Messages.DTOs.MessageDetail
@using TT.Web.CustomHtmlHelpers
@{
    ViewBag.Title = "Read Message";
}
<!--used for ajax in AddAntiForgeryToken()-->
<form id="__AjaxAntiForgeryForm" action="#" method="post">@Html.AntiForgeryToken()</form>

@section menu
{
    <li><a href="@Url.Action(MVC.PvP.Play())">Back to game</a></li>
    <li><a href="@Url.Action(MVC.Messages.Index())">Back to Messages</a></li>
    <li><a href="@Url.Action(MVC.Messages.Write(Model.Sender.Id, Model.MessageId))">Reply</a></li>
    <li><a id="DeleteLink" href="javascript:void(0)">Delete</a></li>
}

<div class="containerInner">
    <div id="originalMessage">
        <a href="@Url.Action(MVC.Messages.MarkAsAbusivePreview(Model.MessageId))" class="bad">Report this message as abusive</a>
        <div class="messageInfoContainer clearfix">
            <span class="messageNicknameContainer">@Model.Sender.GetFullName()</span>:
            <span class="messageTimeContainer">@HtmlHelpers.DatetimeToTimeago(Model.Timestamp)</span>
        </div>
        <div class="messageTextContainer">
            <p>@Html.Raw(Model.MessageText.Replace("[br]", "<br>"))</p>
        </div>

        @{
        if (Model.ConversationId != null)
        {
            @Ajax.ActionLink("View full conversation", MVC.Messages.ReadConversation(Model.MessageId, false), new AjaxOptions { UpdateTargetId = "conversation", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnSuccess = "success", OnFailure = "fail", OnBegin = "waiting" }, new { @id = "conversationLink" })
        <i class="timeago">@Ajax.ActionLink(" (reversed)", MVC.Messages.ReadConversation(Model.MessageId, true), new AjaxOptions { UpdateTargetId = "conversation", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnSuccess = "success", OnFailure = "fail", OnBegin = "waiting" }, new { @id = "conversationLink" })</i>
            <br>
    }
        }
    </div>


    <div id="conversation"></div>

    <div id="realLink" class="deleteMessegeConfirm" style="display: none">
        <span style="color: red; font-weight: bold;">Do you really want to delete this message? If yes then please click link below:</span><br>
        @using (Html.BeginForm(MVC.Messages.DeleteMessage(), FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.Hidden("deleteAll", false)
            @Html.HiddenFor(m => m.MessageId)

            <a id="FormDeleteLink" href="javascript:void(0)">Yes, I want to delete this message</a>
        }
    </div>
    <br>
</div>

@section Scripts
{
    <script>
        $(document).ready(function () {
            $('#DeleteLink').on('click', function () {
                var confirmation = document.getElementById('realLink');
                if (confirmation.style.display == "none") {
                    confirmation.style.display = "block";
                } else {
                    confirmation.style.display = "none";
                }
            });

            $('#FormDeleteLink').on('click', function () {
                $(this).closest('form')[0].submit();
            });
        });

        function success() {
            $("#conversationLink").hide();
            $("#originalMessage").hide();
        }

        function fail() {
            alert("Juderp!  Internal server error, unable to do this.");
        }

        function waiting() {
            //$("#loadingBox").show();
        }

    </script>
}