﻿@model IEnumerable<TT.Domain.Skills.DTOs.LearnableSkillsDetail>
@using TT.Domain.Statics
@using TT.Web.CustomHtmlHelpers
@{
    ViewBag.Title = "Purchase Training";
}

@section menu
{
    <li><a href="@Url.Action(MVC.PvP.Play())">Back to game</a></li>
    <li><a href="@Url.Action(MVC.NPC.TalkToLorekeeper())">Talk</a></li>
}

<div class="containerInner">
    
    <h1>Purchase Training</h1>

    <p>Which spell would you like to learn?  There are currently @Model.Count() spells in this category that you can be taught, each at the price of @TT.Domain.Statics.PvPStatics.LorekeeperSpellPrice Arpeyjis <span title="Arpeyjis" class="icon icon-money"></span> each.</p>

    <p>You have <b>@ViewBag.Money</b> Arpeyjis <span title="Arpeyjis" class="icon icon-money"></span> available for spending.</p><br>

    <ul>
        <li><a href="@Url.Action(MVC.NPC.LorekeeperLearnSpell(PvPStatics.MobilityFull))">Animate spells</a></li>
        <li><a href="@Url.Action(MVC.NPC.LorekeeperLearnSpell(PvPStatics.MobilityInanimate))">Inanimate spells</a></li>
        <li><a href="@Url.Action(MVC.NPC.LorekeeperLearnSpell(PvPStatics.MobilityPet))">Pet/Animal spells</a></li>
        <li><a href="@Url.Action(MVC.NPC.LorekeeperLearnSpell(PvPStatics.MobilityMindControl))">Other</a></li>
    </ul>

    <hr>
    
    <table id="Spells" class="table table-hover messageTable dt-responsive">
        <thead>
        <tr>
            <th>Spell Name</th>
            <th>Form Name</th>
            <th>Image</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var s in Model.OrderBy(s => s.FriendlyName))
        {
            <tr>
                <td class="playerMediatingNotification"><b>@s.FriendlyName</b></td>
            <td><b>@s.FormSource.FriendlyName</b></td>
                    
                @{
                    if (s.MobilityType == PvPStatics.MobilityFull)
                    {
                        <td><img src="@HtmlHelpers.GetImageUrl(s.FormSource.PortraitUrl, s.MobilityType, true)" width="100px" height="100px" style="border: 1px solid black;"></td>
                    }
                    else if (s.MobilityType == PvPStatics.MobilityInanimate || s.MobilityType == PvPStatics.MobilityPet)
                    {
                        <td><img src="@HtmlHelpers.GetImageUrl(s.FormSource.ItemSource.PortraitUrl, s.MobilityType, true)" width="100px" height="100px" style="border: 1px solid black;"></td>
                    }
                    else
                    {
                        <td>(no image)</td>
                    }
                }

                <td><a href="@Url.Action(MVC.NPC.LorekeeperLearnSpellSend(s.Id))">Purchase Training</a></td>
            </tr>
        }
        </tbody>
    </table>

</div>

<script>
    $('#Spells').dataTable({
        "lengthMenu": [[10, 50, 100, 200, -1], [10, 50, 100, 200, "All"]]
    });
</script>

<style>
    tr {
        border: 1px dashed rgb(161, 105, 105);
        text-align: center;
    }
</style>