﻿@using TT.Domain.Items.Services
@using TT.Domain.Statics
@using TT.Web.CustomHtmlHelpers
@model TT.Domain.ViewModels.TalkToSoulbinderViewModel

@section menu
{
    <li><a href="@Url.Action(MVC.PvP.Play())">Back to game</a></li>
    <li><a href="@Url.Action(MVC.NPC.TalkToSoulbinder())">Talk</a></li>
}

<div class="containerInner">

    <h3>Soulbind an Item / Pet</h3>

    <p>
        You currently have <b>@Model.Money</b> arpeyjis. You currently have <b>@Model.AllSoulboundItems.Count()</b> pets and items soulbound to you, so the next one will cost <b>@PriceCalculator.GetPriceToSoulbindNextItem(Model.AllSoulboundItems.Count())</b> arpeyjis.
    </p><br />



    @if (Model.Items.Count() == 0)
    {
        <p>You do not have any items or pets that can currently be soulbound.</p>
    }
    else
    {
        <table id="soulbindItemsTable" class="table table-hover messageTable dt-responsive">
            <thead>
                <tr>
                    <th>Victim Name</th>
                    <th>Item Name</th>
                    <th>Level</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var item in Model.Items)
                    {
                        <tr>
                            <td><a href="@Url.Action(MVC.PvP.LookAtPlayer(item.FormerPlayer.Id))" target="_blank">@item.FormerPlayer.FullName</a></td>
                            <td>@item.ItemSource.FriendlyName @Html.Partial(MVC.Item.Views.partial.RuneDetails, item)</td>
                            <td>@item.Level</td>
                            <td><img src="@HtmlHelpers.GetImageUrl(item.ItemSource.PortraitUrl, item.ItemSource.ItemType == PvPStatics.ItemType_Pet ? PvPStatics.MobilityPet : PvPStatics.MobilityInanimate, true)" width="100px" height="100px" style="border: 1px solid black;"></td>
                            <td><a href="@Url.Action(MVC.NPC.SoulbindItem(item.Id))">Soulbind</a></td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    }
</div>

<script>
    $('#soulbindItemsTable').dataTable({
        "lengthMenu": [[10, 50, 100, 200, -1], [10, 50, 100, 200, "All"]]
    });
</script>