﻿@model TT.Domain.ViewModels.WuffieTradeViewModel
@{
    ViewBag.Title = "Buy Pet";
}

@section head
{
    <script src="/Scripts/itemDetailModal.js"></script>
}

@section menu
{
    <li><a href="@Url.Action(MVC.PvP.Play())">Back to game</a></li>
    <li><a href="@Url.Action(MVC.NPC.SellPetList())">Sell Your Pet</a></li>
}

<div class="containerInner">
    <p>You can purchase pets and familiars from Wüffie, poor creatures who have been left behind by their owners and would otherwise roam the streets as feral creatures.  Having spent many years as a pet herself, Wüffie will gladly buy and sell all manners of animals and creatures and make sure they're well cared for.</p>

    @{
        if (Model.PlayerHasPet)
        {
            <p class="playerCleansingNotification">You will not be able to purchase anything from Wüffie since you do not have room to carry anything else in your inventory.</p>
        }
    }

    <h3>You currently have @Model.Money <span title="Arpeyjis" class="icon icon-money"></span> Arpeyjis to spend.</h3>

    <span>Jump to page:</span>

    @{
        for (var i = 0; i < Model.Paginator.MaxPageNumber; i++)
        {
            <a href="@Url.Action(MVC.NPC.TradeWithPetMerchant(i))" class="@Model.Paginator.GetStylingClass(i)">@(i + 1) | </a>
        }
    }

    <span><i>@Model.Paginator.TotalCount total pets</i></span>


    <div id="fullDetails">

    </div>
    <div class="row boxContainer">
        @{
            foreach (var i in Model.Pets.OrderBy(i => i.dbName).ThenByDescending(i => i.Level))
            {
                @Html.Partial(MVC.PvP.Views.partial_ShopkeeperItem, i)
            }
        }
    </div>
</div>
