﻿@using TT.Web.CustomHtmlHelpers
@model IEnumerable<TT.Domain.Skills.DTOs.SkillSourceFormSourceDetail>

@section menu
{
    <li><a href="@Url.Action(MVC.PvP.Play())">Back to game</a></li>
    <li><a href="@Url.Action(MVC.Item.MyInventory())">Back to Inventory</a></li>
}

<div class="containerInner">
    <h1>Autoselftransmogrification Deflector Device</h1>
    <p>As the owner of a Autoselftransmogrification Deflector Device you can cast any animate spell at the device and have it cast straight back at you with enough power to transform you instantly! Which of your spells would you like to cast?</p>
    <hr>

    <table id="Spells" class="table table-hover messageTable dt-responsive">
        <thead>
        <tr>
            <th>Spell Name</th>
            <th>Form Name</th>
            <th>Graphic</th>
            <th>Form Description</th>
            <th></th>
        </tr>
        </thead>
        <tbody>

        @foreach (var s in Model)
        {
            <tr>
                <td><b class="playerMediatingNotification">@s.SkillSource.FriendlyName</b></td>
                <td><b>@s.SkillSource.FormSource.FriendlyName</b></td>
                <td><img src="@HtmlHelpers.GetFormImageURL(s.SkillSource.FormSource.PortraitUrl, true)" width="100px" height="100px" style="border: 1px solid black;"></td>
                <td class="tableCellDescription">@s.SkillSource.FormSource.Description</td>
                <td><a href="@Url.Action(MVC.Item.SelfCastSend(s.SkillSource.Id))">Cast</a></td>
            </tr>
        }
        </tbody>
    </table>
</div>


<script>
    $('#Spells').dataTable({
        "lengthMenu": [[10, 50, 100, 200, -1], [10, 50, 100, 200, "All"]]
    });
</script>

<style>
    tr {
        border: 1px dashed rgb(161, 105, 105);
        text-align: center;
    }
</style>