﻿@section menu
{
    <li><a href="@Url.Action(MVC.PvP.Play())">Back to game</a></li>
}

<div class="containerInner">

    <table id="bufftable">
        <thead>



            <tr>


                <th> </th>


                @{
                    foreach (var f in TT.Domain.ViewModels.BuffMap.BuffsMap["HealthBonusPercent"].Keys)
                    {



                        <th>1x @TT.Domain.ViewModels.BuffMap.BuffDetailsMap[f].DisplayName</th>

                    }
                }
            </tr>




        </thead>

        <tbody>

            @{
                foreach (var f in TT.Domain.ViewModels.BuffMap.BuffsMap.Keys)
                {
                    <tr>
                        <td>
                            @f


                        </td>

                        @{
                    foreach (var ff in TT.Domain.ViewModels.BuffMap.BuffsMap[f].Values)
                    {
                        <td>@ff</td>
                    }
                        }

                    </tr>
                }
            }

        </tbody>

    </table>

</div>

<style>
    table {
        padding: 3px;
        border: 1px solid black;
        width: 100%;
    }

    th {
        background-color: black;
        color: white;
        text-align: center;
        padding: 2px 0px 2px 0px;
        margin: 0;
    }

    tr {
        padding: 3px;
        border: 1px solid black;
    }

        tr:nth-child(odd) {
            background-color: lightgray;
        }

    td {
        text-align: center;
        margin: 0;
        padding: 2px 0px 2px 0px;
    }

    #bufftable {
        margin-bottom: 20px;
        float: left;
        position: relative;
    }

    .rowDivider {
        background-color: black;
        color: white;
    }

    @@media screen and (max-width: 767px) {
        .mobile {
            display: none;
        }
    }
</style>

<script>
    $(document).ready(function () {
        $('#bufftable tr').each(function () {
            $(this).find('td').each(function () {

                if ($(this).index() > 0.0) {
                    var num = parseFloat($(this).html());
                    if (num > 0) {
                        $(this).addClass("good");
                    } else if (num < 0.0) {
                        $(this).addClass("bad");
                    } else {
                        $(this).addClass("zero");
                    }
                }

            })
        })
    });
</script>