﻿@model TT.Domain.ViewModels.Assets.CreateTomeViewModel

@section menu
{
    <li><a href="@Url.Action(MVC.PvP.Play())">Back to game</a></li>
    <li><a href="@Url.Action(MVC.Tome.List())">Back</a></li>
}

<div class="containerInner">

    <h1>Edit Tome</h1>

    @using (Html.BeginForm(MVC.Tome.CreateSend(), FormMethod.Post))
    {

        <btn class="glyphicon glyphicon-question-sign helpButton">
            @Ajax.ActionLink("Click here to show list of all items", MVC.Info.AllItems(), new AjaxOptions { UpdateTargetId = "formsBox", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnSuccess = "success", OnFailure = "fail" }, new { @class = "" })
        </btn>

        <div id="formsBox"></div>

        <label>Item Id</label>
        @Html.TextBox("BaseItemId")

        <div id="AllForms"></div>

        <br>

        <label>Text:</label>
        @Html.TextArea("Text", Model.InitialText)

        <br>

        <input type="submit" value="Save">

    }

    <hr>

    <span>Sample:</span>
    <div id="display" style="border: 1px solid black;"></div>

</div>

<script>

    $(document).ready(function () {
        copyToDisplay();
    });

    $("#Text").keypress(function () {
        copyToDisplay();
    });

    function copyToDisplay() {
        var content = $("#Text").val();
        $("#display").html(content);
    }

</script>

<style>
      textarea {
        height: 800px;
    }
</style>