﻿@model IEnumerable<TT.Domain.Assets.DTOs.TomeDetail>

@section menu
{
    <li><a href="@Url.Action(MVC.PvP.Play())">Back to game</a></li>
}

<div class="containerInner">
    <h1>Tomes</h1>

    <a href="@Url.Action(MVC.Tome.Create())">New Tome</a>
   
    <table id="tomes">
        <thead>
            <tr>
                <td>Id</td>
                <td>Item</td>
                <td>Text</td>
                <td>Edit</td>
                <td>Delete</td>
            </tr>
        </thead>
        <tbody>

            @{
                foreach (var t in Model)
                {
                    <tr>
                        <td>@t.Id</td>
                        <td>@t.BaseItem.FriendlyName</td>
                        <td>@t.Text.Substring(0, Math.Min(t.Text.Length, 200))</td>
                        <td><a href="@Url.Action(MVC.Tome.Edit(t.Id))">[Edit]</a></td>
                        <td><a href="@Url.Action(MVC.Tome.Delete(t.Id))" onclick="return confirm('Are you sure you want to delete this?')" class="">[Delete]</a>]</td>
                    </tr>
                }
            }

          
        </tbody>

       

    </table>

    <a href="@Url.Action(MVC.Tome.Create())">New Tome</a>

</div>

<style>
    table, td {
        padding: 5px;
        border: 1px solid black;
    }
</style>

<script>
    $(document).ready(function () {
        $('#tomes').dataTable();
    });
</script>