﻿@model IEnumerable<TT.Domain.Models.Contribution>

@section menu
{
    <li><a href="@Url.Action(MVC.PvP.Play())">Back to game</a></li>
    <li><a href="@Url.Action(MVC.Contribution.Contribute(-1))">Back to My Contributions</a></li>
}

<div class="containerInner">

    <h1>Pending Approved Contributions</h1>

    <p>On this page are all of the contributions that have been <b>marked as ready and approved by an admin</b> but <b>have not yet been added into the game.</b></p><br>

    <p>Spells on this page will show a form and item/pet description as well as any miscellaneous notes left by the author and proofreaders. People on the artist whitelist the chance to claim a graphic for a spell if they so desire by clicking on the links in the "Graphic by Artist" box. Once a graphic is ready, <b>please provide a link to the image</b> in the box on the Contribution page that says "Is there an artist with whom you have arranged to do this artwork?" near the bottom of the form.  When spells are reviewed for release, that is where admins look to see which listing have URLs.</p><br>
    <p>Generally, spells are released within the first half of a live round in batches of several spells at once.  Spells approved later in the rounds or in chaos mode, or spells whose graphics are only recently available.  Read more about the spell release process here <a href="@Url.Action(MVC.Info.FAQ())#contributions" target="_blank">on the FAQ page</a></p>

    <table>

        <thead>
            <tr>
                <th width="10%">
                    Spell Author, Name, and Mobility Type
                </th>

                <th width="30%">
                    Form Description
                </th>
                <th width="30%">
                    Animal/Item Description
                </th>
                <th width="20%">Notes</th>
                <th width="10%">
                    Graphic by Artist
                </th>
            </tr>
        </thead>

        <tbody>

            @{
                foreach (var c in Model)
                {
                    <tr>
                        <td>

                            @{
                                if (!c.SubmitterUrl.IsNullOrEmpty())
                                {
                                    <a href="@c.SubmitterUrl">@c.SubmitterName</a>
                                }
                                else
                                {
                                    @c.SubmitterName
                                }

                            }
                            <p>
                                <span style="color: darkgreen;">
                                    @c.Skill_FriendlyName
                                </span>
                            </p>

                            <p>
                                <span style="color: blue;">@c.Form_MobilityType</span>
                            </p>
                            <p>
                                Form/Item name:<br>
                                <b>@c.Form_FriendlyName</b>
                            </p>
                        </td>
                        <td>
                            @c.Form_Description
                        </td>
                        <td>

                            @c.Item_Description
                        </td>

                        <td>@c.Notes</td>

                        <td>
                            @if (string.IsNullOrEmpty(c.AssignedToArtist))
                            {
                                <a href="@Url.Action(MVC.Contribution.ContributeSetGraphicStatus(c.Id))">(none)</a>
                            }
                            else
                            {
                                <a href="@Url.Action(MVC.Contribution.ContributeSetGraphicStatus(c.Id))">@c.AssignedToArtist</a>
                            }
                        </td>

                    </tr>
                }
            }

        </tbody>

    </table>
</div>

<style>
    table {
        border: 1px solid black;
        width: 100%;
    }

    th {
        background-color: black;
        color: white;
        text-align: center;
        font-size: 12px;
    }

    tr {
        padding: 3px;
        border: 1px solid black;
    }

        tr:nth-child(odd) {
            background-color: lightgray;
        }

    td:nth-child(4), td:nth-child(5) {
        word-break: break-all;
    }

    td {
        padding: 3px;
        text-align: center;
        border: 1px solid darkblue;
        font-size: 11px;
    }
</style>