﻿@model IEnumerable<TT.Domain.Models.DMRoll>
@using Microsoft.AspNet.Identity;

<div class="result">@ViewBag.Result</div>

@{
    if (User.Identity.GetUserId() == "69")
    {
       <p><a href="@Url.Action(MVC.Contribution.ReviewDMRolls())">Approve DM Encounters</a></p>
    }
}

@section menu
{
    <li><a href="@Url.Action(MVC.PvP.Play())">Back to game</a></li>
}

<h1>Your DM Encounter Contributions</h1>

<p>DM encounters are random encounters that can be rolled in the game's chat rooms.  These are meant for the sake of roleplaying, a random enemy / trap / event generator.</p>


<a href="@Url.Action(MVC.Contribution.DMRoll(-1))">START NEW</a>
<hr>

@foreach (var roll in Model.OrderBy(r => r.Tags))
{
  
    <p><span style="color: darkblue;">@roll.Tags.ToUpper()</span>  <span style="color: darkred;">@roll.ActionType.ToUpper()</span></p>
    if (roll.IsLive)
    {
        <span style="color: red; background-color: yellow; border: 1px solid red;">LIVE</span>
    }

    <a href="@Url.Action(MVC.Contribution.DMRoll(roll.Id))">roll.Message</a>
    <hr>
}
