﻿@model IEnumerable<TT.Domain.Models.DMRoll>

<h1>Review DM Encounter Contributions</h1>

<hr>


@foreach (var roll in Model.OrderBy(r => r.Tags))
{

    <p><span style="color: darkblue;">@roll.Tags.ToUpper()</span>  <span style="color: darkred;">@roll.ActionType.ToUpper()</span></p>

    <p>@roll.Message</p>
    
    
    <a href="@Url.Action(MVC.Contribution.ApproveDMRoll(roll.Id))">Approve</a>
    <a href="@Url.Action(MVC.Contribution.DMRoll(roll.Id))">Edit</a>

    <hr>


}