<div class="containerInner">

    <h1>Statistics Leaders</h1>

    <br><br>

    <div class="row">
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/neko_bard_ewillice.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Hawkeye</h3>
            <p><i>Times searched:</i> <b>10,471</b></p>
            <p>
                <a href="/pvp/lookatplayer/1008752">Seeker Jessie</a>

            <p>------------------</p>

            </p>

            <div id="more_times_searched">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1008752">Seeker Jessie</a> (10,471)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1008582">Lulu Fluffystride</a> (9,235)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1008710">Kyrah Binbow</a> (6,605)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1008583">Alexa Hexa</a> (5,941)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1010350">Cum Stained</a> (5,348)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1008616">Ria Shull</a> (5,020)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1008613">Ellis Hamlin</a> (4,316)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1008977">Diaftora Petranasa</a> (4,220)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1009818">Flow Usagi</a> (3,910)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1019158">Verdant Leaf</a> (3,701)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/latex_dominatrix_Babblingfaces.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Quantity not Quality!</h3>
            <p><i>Spells cast:</i> <b>2,995</b></p>
            <p>
                <a href="/pvp/lookatplayer/1008999">Holly Ryder</a>

            <p>------------------</p>

            </p>

            <div id="more_spells_cast">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1008999">Holly Ryder</a> (2,995)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1010022">Aidyn Menard II</a> (2,357)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1008592">Bunnia Pharnia</a> (1,687)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1008752">Seeker Jessie</a> (1,674)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1009467">Rath Mexxa</a> (1,413)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1008904">Amy Ures</a> (1,375)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1008658">Carrie Fulcrum</a> (1,272)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1018751">Aemiliana Guerrero VII</a> (1,270)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1008579">Robin Pharnia</a> (1,196)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1008821">Alona Sua</a> (1,154)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/bimbo_mouse_girl_Dandelion.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Restless One</h3>
            <p><i>Times moved:</i> <b>12,305</b></p>
            <p>
                <a href="/pvp/lookatplayer/1008904">Amy Ures</a>

            <p>------------------</p>

            </p>

            <div id="more_times_moved">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1008904">Amy Ures</a> (12,305)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1008999">Holly Ryder</a> (10,685)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1010022">Aidyn Menard II</a> (8,956)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1008752">Seeker Jessie</a> (7,185)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1008658">Carrie Fulcrum</a> (6,499)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1009467">Rath Mexxa</a> (6,067)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1008592">Bunnia Pharnia</a> (5,765)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1008821">Alona Sua</a> (5,658)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1008579">Robin Pharnia</a> (4,969)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1008613">Ellis Hamlin</a> (4,389)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/bimbo_mouse_girl_Dandelion.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Hypochondriac</h3>
            <p><i>Times cleansed:</i> <b>2,745</b></p>
            <p>
                <a href="/pvp/lookatplayer/1008904">Amy Ures</a>

            <p>------------------</p>

            </p>

            <div id="more_times_cleansed">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1008904">Amy Ures</a> (2,745)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1010022">Aidyn Menard II</a> (2,241)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1009467">Rath Mexxa</a> (1,356)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1009773">Max Domme</a> (1,141)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1008821">Alona Sua</a> (1,134)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1008592">Bunnia Pharnia</a> (1,086)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1008999">Holly Ryder</a> (1,016)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1008658">Carrie Fulcrum</a> (811)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1008613">Ellis Hamlin</a> (780)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1008579">Robin Pharnia</a> (749)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/itemsPortraits/Thumbnails/100/cute_stockings_blanca-d.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Lost in Thought</h3>
            <p><i>Times meditated:</i> <b>1,788</b></p>
            <p>
                <a href="/pvp/lookatplayer/1009703">Dawson Ramirez</a>

            <p>------------------</p>

            </p>

            <div id="more_times_meditated">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1009703">Dawson Ramirez</a> (1,788)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1008999">Holly Ryder</a> (1,311)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1008592">Bunnia Pharnia</a> (999)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1010022">Aidyn Menard II</a> (929)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1018751">Aemiliana Guerrero VII</a> (923)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1008600">Toni Venusela</a> (893)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1010428">Annabelle Andrews II</a> (882)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1008821">Alona Sua</a> (881)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1008658">Carrie Fulcrum</a> (715)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1009467">Rath Mexxa</a> (673)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/itemsPortraits/Thumbnails/100/cute_stockings_blanca-d.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">____ the Enchanter</h3>
            <p><i>Times enchanting:</i> <b>3,243</b></p>
            <p>
                <a href="/pvp/lookatplayer/1009703">Dawson Ramirez</a>

            <p>------------------</p>

            </p>

            <div id="more_times_enchanted">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1009703">Dawson Ramirez</a> (3,243)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1009060">Serena Blackthorn</a> (1,294)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1008999">Holly Ryder</a> (666)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1009078">Eric Finney</a> (585)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1008600">Toni Venusela</a> (567)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1008678">Alex Ender</a> (411)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1009174">Maddie Helms</a> (395)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1009957">Zadon Mew</a> (306)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1009429">Nadia Ayers</a> (288)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1008658">Carrie Fulcrum</a> (285)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/latex_dominatrix_Babblingfaces.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Covenant Benefactor</h3>
            <p><i>Net Arpyjis donated to covenant:</i> <b>100,000</b></p>
            <p>
                <a href="/pvp/lookatplayer/1008999">Holly Ryder</a>

            <p>------------------</p>

            </p>

            <div id="more_covenant_net_donations">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1008999">Holly Ryder</a> (100,000)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1008710">Kyrah Binbow</a> (11,000)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1009078">Eric Finney</a> (9,900)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1008765">Lynda Bain</a> (6,800)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1009429">Nadia Ayers</a> (5,700)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1017846">Rosemary Burnham</a> (5,380)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1019158">Verdant Leaf</a> (3,580)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1009187">Rachel Newman</a> (3,540)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1010282">Max Karma</a> (3,200)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1018158">Mini Martha IV</a> (2,800)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/couch_potato_Ninian_Fae.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/latex_dominatrix_Babblingfaces.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Couch Potato</h3>
            <p><i>Times using covenant furniture:</i> <b>42</b></p>
            <p>
                <a href="/pvp/lookatplayer/1008999">Holly Ryder</a>

            <p>------------------</p>

            </p>

            <div id="more_covenant_furniture_used">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1008999">Holly Ryder</a> (42)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1008600">Toni Venusela</a> (21)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1011452">Maria Hannon</a> (19)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1008582">Lulu Fluffystride</a> (9)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1008592">Bunnia Pharnia</a> (7)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1008658">Carrie Fulcrum</a> (7)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1008579">Robin Pharnia</a> (5)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1008613">Ellis Hamlin</a> (5)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1009078">Eric Finney</a> (4)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1008578">Colette Hopeborn</a> (2)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/gummy_girl_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">What's My Form Again?</h3>
            <p><i>Times transformed into an animate form:</i> <b>65</b></p>
            <p>
                <a href="/pvp/lookatplayer/1008658">Carrie Fulcrum</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animated">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1008658">Carrie Fulcrum</a> (65)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1008619">Red Arclily</a> (45)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1008832">Lucia Easterbun</a> (39)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1008592">Bunnia Pharnia</a> (37)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1008574">Tomiko Hewitt</a> (24)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1008613">Ellis Hamlin</a> (23)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1008843">Priscilla Nyekobornya</a> (22)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1012730">Bitchy Loona II</a> (21)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1008579">Robin Pharnia</a> (20)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1009260">Morgan Drake</a> (19)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/plush_mistress_hei_lilah_lace.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Inanimated</h3>
            <p><i>Times transformed into an inanimate form:</i> <b>144</b></p>
            <p>
                <a href="/pvp/lookatplayer/1010428">Annabelle Andrews II</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_inanimated">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1010428">Annabelle Andrews II</a> (144)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1008667">Crystal Rawls</a> (30)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1010850">Crystal Draper IV</a> (26)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1018751">Aemiliana Guerrero VII</a> (16)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1018903">Tyrell Hargrave III</a> (11)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1009598">Transform Me</a> (10)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1011873">Ayaya Chan</a> (10)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1009142">Fried Egg</a> (9)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1008733">Joanne Momma</a> (8)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1008776">Luca White</a> (7)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/athletic_cheetah_girl_blancaD.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Nothin' But a Hound Dog</h3>
            <p><i>Times transformed into a pet form:</i> <b>28</b></p>
            <p>
                <a href="/pvp/lookatplayer/1010850">Crystal Draper IV</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animal">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1010850">Crystal Draper IV</a> (28)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1010428">Annabelle Andrews II</a> (26)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1008667">Crystal Rawls</a> (17)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1011445">Alex Steele II</a> (9)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1015237">Leana Nyekobornya</a> (8)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1018751">Aemiliana Guerrero VII</a> (6)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1008912">Sylvie Eon II</a> (5)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1011873">Ayaya Chan</a> (5)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1018440">Steven Coker</a> (5)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1009158">Alex Taylor</a> (4)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/bimbo_plague_bearer_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Animator</h3>
            <p><i>Targets transformed into an animate form:</i> <b>51</b></p>
            <p>
                <a href="/pvp/lookatplayer/1008574">Tomiko Hewitt</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animating">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1008574">Tomiko Hewitt</a> (51)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1017847">Sir Eric</a> (46)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1008658">Carrie Fulcrum</a> (44)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1008613">Ellis Hamlin</a> (42)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1008592">Bunnia Pharnia</a> (36)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1008641">Meowrinya Nyekobornya</a> (33)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1009476">Grey Sol</a> (30)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1010376">Lord Chandler</a> (26)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1010022">Aidyn Menard II</a> (25)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1013373">Drazura Zatsune III</a> (24)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/neko_bard_ewillice.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Inanimator</h3>
            <p><i>Targets transformed into an inanimate form:</i> <b>225</b></p>
            <p>
                <a href="/pvp/lookatplayer/1008752">Seeker Jessie</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_inanimating">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1008752">Seeker Jessie</a> (225)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1008999">Holly Ryder</a> (210)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1008583">Alexa Hexa</a> (107)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1010022">Aidyn Menard II</a> (62)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1008658">Carrie Fulcrum</a> (43)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1018751">Aemiliana Guerrero VII</a> (43)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1009772">June Billings</a> (41)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1009467">Rath Mexxa</a> (40)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1009773">Max Domme</a> (29)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1008592">Bunnia Pharnia</a> (29)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/latex_dominatrix_Babblingfaces.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Petmaker</h3>
            <p><i>Targets transformed into a pet form:</i> <b>50</b></p>
            <p>
                <a href="/pvp/lookatplayer/1008999">Holly Ryder</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animaling">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1008999">Holly Ryder</a> (50)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1009078">Eric Finney</a> (36)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1010839">Catalina Williams</a> (21)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1011445">Alex Steele II</a> (20)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1010197">Naestra Azaria</a> (16)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1008579">Robin Pharnia</a> (15)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1010022">Aidyn Menard II</a> (14)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1012436">Resenna Maynard</a> (7)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1008592">Bunnia Pharnia</a> (6)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1009772">June Billings</a> (6)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/latex_dominatrix_Babblingfaces.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Psycho Hunter</h3>
            <p><i>Psychopathic Spellslingers defeated:</i> <b>250</b></p>
            <p>
                <a href="/pvp/lookatplayer/1008999">Holly Ryder</a>

            <p>------------------</p>

            </p>

            <div id="more_psychos_defeated">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1008999">Holly Ryder</a> (250)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1008752">Seeker Jessie</a> (214)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1008583">Alexa Hexa</a> (107)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1010022">Aidyn Menard II</a> (66)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1009078">Eric Finney</a> (56)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1009772">June Billings</a> (45)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1018751">Aemiliana Guerrero VII</a> (44)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1008658">Carrie Fulcrum</a> (32)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1010197">Naestra Azaria</a> (29)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1009467">Rath Mexxa</a> (28)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/the_luckiest_guy_cherrycake0.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Fast Commute</h3>
            <p><i>Teleport scrolls used:</i> <b>50</b></p>
            <p>
                <a href="/pvp/lookatplayer/1009283">Michael Rochard</a>

            <p>------------------</p>

            </p>

            <div id="more_times_teleported_scroll">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1009283">Michael Rochard</a> (50)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1008843">Priscilla Nyekobornya</a> (28)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1008658">Carrie Fulcrum</a> (7)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1012780">Kaitlyn Halliwell</a> (5)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1009164">Nyasa Meownya</a> (4)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1010644">Kay Fowler II</a> (3)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1008733">Joanne Momma</a> (3)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1010654">Vhaidra Tyl'saris</a> (3)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1008820">Ariana Darkness</a> (2)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1013357">Ricardo Worthington</a> (2)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/war_oni_blackhole32.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Friend of the Fae</h3>
            <p><i>Times played with Jewdewfae:</i> <b>28</b></p>
            <p>
                <a href="/pvp/lookatplayer/1008580">Shredster Khan</a>

            <p>------------------</p>

            </p>

            <div id="more_jewdewfae_completions">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1008580">Shredster Khan</a> (28)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1008583">Alexa Hexa</a> (25)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1008693">Steve Welles</a> (24)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1009078">Eric Finney</a> (20)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1009429">Nadia Ayers</a> (16)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1008658">Carrie Fulcrum</a> (14)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1011731">Lynnette Berryman</a> (9)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1008592">Bunnia Pharnia</a> (6)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1008613">Ellis Hamlin</a> (6)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1008579">Robin Pharnia</a> (5)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/neko_bard_ewillice.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Nerrrrrd!</h3>
            <p><i>Tomes read:</i> <b>14</b></p>
            <p>
                <a href="/pvp/lookatplayer/1008752">Seeker Jessie</a>

            <p>------------------</p>

            </p>

            <div id="more_lore_books_read">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1008752">Seeker Jessie</a> (14)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1008693">Steve Welles</a> (14)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1008583">Alexa Hexa</a> (14)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1008710">Kyrah Binbow</a> (14)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1008977">Diaftora Petranasa</a> (14)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1008663">Rosa Fortune</a> (8)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1008658">Carrie Fulcrum</a> (6)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1010350">Cum Stained</a> (5)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1008765">Lynda Bain</a> (5)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1008781">Raine Felmara</a> (4)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/itemsPortraits/Thumbnails/100/doggy_dick_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Rub Rub Rub</h3>
            <p><i>XP gained as an inanimate item:</i> <b>39,370</b></p>
            <p>
                <a href="/pvp/lookatplayer/1008766">Jessie's Dick</a>

            <p>------------------</p>

            </p>

            <div id="more_inanimateXPEarned">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1008766">Jessie's Dick</a> (39,370)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1008879">Que Tee</a> (37,985)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1009050">Jessie's Tongue</a> (37,740)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1009226">Phoebe Stormbringer</a> (36,290)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1009019">Joe Nobody</a> (35,810)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1009243">Pathetic Bottom-cock</a> (35,610)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1008629">Nory's HandPaws</a> (35,540)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1009415">Swampy Heels</a> (35,505)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1019498">Seras Verniy</a> (35,230)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1008873">Seeker's Stormshroud</a> (33,395)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/animalPortraits/Thumbnails/100/docile_cowgirl_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Petter off this Way</h3>
            <p><i>XP gained as an pet.:</i> <b>39,920</b></p>
            <p>
                <a href="/pvp/lookatplayer/1008601">Obedient Cow</a>

            <p>------------------</p>

            </p>

            <div id="more_petXPEarned">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1008601">Obedient Cow</a> (39,920)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1008769">Glenna Coy</a> (37,395)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1009532">Eager Fucktoy</a> (35,425)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1008716">Ollie Evie</a> (34,630)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1009478">Lefty Wow</a> (33,465)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1009010">Nory's Reddy</a> (33,185)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1008759">Angel Anael</a> (33,160)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1009349">James Fox</a> (32,495)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1018754">Kuro Val II</a> (30,598)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1011434">Sugar Star</a> (30,145)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/neko_bard_ewillice.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Soul Seller</h3>
            <p><i>Net profit from selling to Lindella:</i> <b>109,792</b></p>
            <p>
                <a href="/pvp/lookatplayer/1008752">Seeker Jessie</a>

            <p>------------------</p>

            </p>

            <div id="more_lindella_net_profit">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1008752">Seeker Jessie</a> (109,792)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1008999">Holly Ryder</a> (91,796)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1008583">Alexa Hexa</a> (22,600)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1008612">Nerati Sua</a> (14,054)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1008658">Carrie Fulcrum</a> (12,987)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1008710">Kyrah Binbow</a> (12,360)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1008765">Lynda Bain</a> (12,268)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1008693">Steve Welles</a> (11,691)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1009467">Rath Mexxa</a> (10,641)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1018534">Slamenzo Lauzon III</a> (9,481)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/vicious_gorgon_babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Soul Consumer</h3>
            <p><i>Net loss from buying from Lindella:</i> <b>4,693</b></p>
            <p>
                <a href="/pvp/lookatplayer/1008579">Robin Pharnia</a>

            <p>------------------</p>

            </p>

            <div id="more_lindella_net_loss">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1008579">Robin Pharnia</a> (4,693)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1010903">Flavia Canfield</a> (2,790)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1008580">Shredster Khan</a> (2,542)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1012211">Jane Doe</a> (2,045)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1009283">Michael Rochard</a> (1,852)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1009703">Dawson Ramirez</a> (1,585)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1009164">Nyasa Meownya</a> (1,078)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1018440">Steven Coker</a> (974)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1008904">Amy Ures</a> (900)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1008611">Reiko's Pet</a> (888)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/latex_dominatrix_Babblingfaces.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Puppy Profit!</h3>
            <p><i>Profit from selling to Wuffie:</i> <b>8,050</b></p>
            <p>
                <a href="/pvp/lookatplayer/1008999">Holly Ryder</a>

            <p>------------------</p>

            </p>

            <div id="more_wuffie_net_profit">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1008999">Holly Ryder</a> (8,050)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1009283">Michael Rochard</a> (4,650)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1009429">Nadia Ayers</a> (4,550)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1017846">Rosemary Burnham</a> (1,710)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1019158">Verdant Leaf</a> (1,580)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1009773">Max Domme</a> (1,310)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1018440">Steven Coker</a> (1,250)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1008693">Steve Welles</a> (1,230)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1012211">Jane Doe</a> (930)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1010603">Celeste Sager</a> (920)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/neko_bard_ewillice.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Puppy Purchaser</h3>
            <p><i>Loss from buying from Wuffie:</i> <b>39,507</b></p>
            <p>
                <a href="/pvp/lookatplayer/1008752">Seeker Jessie</a>

            <p>------------------</p>

            </p>

            <div id="more_wuffie_net_loss">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1008752">Seeker Jessie</a> (39,507)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1008843">Priscilla Nyekobornya</a> (4,600)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1009466">Jules Prospero</a> (850)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1015719">Nicole Barney</a> (470)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1010280">Shana Larry</a> (380)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1008992">Chiaki Hisatsu</a> (300)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1008724">Wind Storm</a> (280)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1009413">Stella Mercado</a> (200)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1009301">Alex Shawn</a> (200)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1010461">Star Robert IV</a> (100)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/itemsPortraits/Thumbnails/100/plain_pink_panties_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Exiled's Apprentice</h3>
            <p><i>Most spells learned from Skaldrlyr the Forbidden:</i> <b>83</b></p>
            <p>
                <a href="/pvp/lookatplayer/1009906">Soft Panties</a>

            <p>------------------</p>

            </p>

            <div id="more_lorekeeper_spells_learned">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1009906">Soft Panties</a> (83)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1009861">Lillie Rose</a> (48)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1009935">Nikki Cotton</a> (47)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1008579">Robin Pharnia</a> (39)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1008981">Vivianne Mcqueen</a> (35)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1009467">Rath Mexxa</a> (31)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1009187">Rachel Newman</a> (29)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1013429">Tora Vaundarius</a> (29)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1010603">Celeste Sager</a> (28)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1008592">Bunnia Pharnia</a> (28)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/bimbo_mouse_girl_Dandelion.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Dungeon Looter</h3>
            <p><i>Dungeon artifacts found:</i> <b>128</b></p>
            <p>
                <a href="/pvp/lookatplayer/1008904">Amy Ures</a>

            <p>------------------</p>

            </p>

            <div id="more_dungeon_artifacts_found">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1008904">Amy Ures</a> (128)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1009773">Max Domme</a> (47)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1008710">Kyrah Binbow</a> (19)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1019158">Verdant Leaf</a> (10)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1010654">Vhaidra Tyl'saris</a> (9)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1008878">Caramel Tam</a> (5)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1009889">Amy Holly</a> (5)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1009306">Devon Gulley</a> (4)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1008853">Kelly Fae</a> (4)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1011895">Lily Kira</a> (3)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/cocky_cabbit_boy_Aurora_Ryall.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Demonslayer</h3>
            <p><i>Dungeon demons defeated:</i> <b>21</b></p>
            <p>
                <a href="/pvp/lookatplayer/1009773">Max Domme</a>

            <p>------------------</p>

            </p>

            <div id="more_dungeon_demons_defeated">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1009773">Max Domme</a> (21)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1008904">Amy Ures</a> (13)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1008878">Caramel Tam</a> (1)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/fire_breathing_dragon_blanca-D.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Dungeon Assassin</h3>
            <p><i>Dungeon points stolen from victims:</i> <b>123</b></p>
            <p>
                <a href="/pvp/lookatplayer/1008853">Kelly Fae</a>

            <p>------------------</p>

            </p>

            <div id="more_dungeon_points_stolen">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1008853">Kelly Fae</a> (123)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1008579">Robin Pharnia</a> (13)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1009516">Paladin Richard</a> (6)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1008765">Lynda Bain</a> (6)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1010839">Catalina Williams</a> (3)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/plush_mistress_hei_lilah_lace.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Freeeeedom!</h3>
            <p><i>Times struggled back to an animate form:</i> <b>169</b></p>
            <p>
                <a href="/pvp/lookatplayer/1010428">Annabelle Andrews II</a>

            <p>------------------</p>

            </p>

            <div id="more_times_struggled_free">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1010428">Annabelle Andrews II</a> (169)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1010850">Crystal Draper IV</a> (51)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1008667">Crystal Rawls</a> (46)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1018751">Aemiliana Guerrero VII</a> (14)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1011873">Ayaya Chan</a> (13)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1009598">Transform Me</a> (12)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1009260">Morgan Drake</a> (11)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1011445">Alex Steele II</a> (10)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1015237">Leana Nyekobornya</a> (10)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1009142">Fried Egg</a> (10)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/itemsPortraits/Thumbnails/100/huggable_ferocious_fluffpup_Ninian_Fay.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Maximally Transmogrified</h3>
            <p><i>Autoselftransmogrification Deflector Devices used:</i> <b>38</b></p>
            <p>
                <a href="/pvp/lookatplayer/1013264">Alistair 'Transmog addict' Deepend II</a>

            <p>------------------</p>

            </p>

            <div id="more_transmogs_used">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1013264">Alistair 'Transmog addict' Deepend II</a> (38)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1008580">Shredster Khan</a> (34)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1008693">Steve Welles</a> (29)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1008583">Alexa Hexa</a> (26)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1009078">Eric Finney</a> (26)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1008613">Ellis Hamlin</a> (20)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1008592">Bunnia Pharnia</a> (20)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1009429">Nadia Ayers</a> (15)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1011731">Lynnette Berryman</a> (13)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1009164">Nyasa Meownya</a> (10)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/hellhound_bitch_Gogo_Blackwater.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Call of the Covenant</h3>
            <p><i>Covenant Callback Crystals used:</i> <b>19</b></p>
            <p>
                <a href="/pvp/lookatplayer/1008582">Lulu Fluffystride</a>

            <p>------------------</p>

            </p>

            <div id="more_callback_crystals_used">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1008582">Lulu Fluffystride</a> (19)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1008658">Carrie Fulcrum</a> (9)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1009957">Zadon Mew</a> (1)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1008616">Ria Shull</a> (1)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1008546">Dicey Flynnya</a> (1)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1008999">Holly Ryder</a> (1)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1011112">Cassandra Saika</a> (1)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1019158">Verdant Leaf</a> (1)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1008613">Ellis Hamlin</a> (1)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1009781">Ashe Spades II</a> (1)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/neko_bard_ewillice.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Dollyamory</h3>
            <p><i>Willpower restored from using Inflatable Sex Dolls:</i> <b>12,845</b></p>
            <p>
                <a href="/pvp/lookatplayer/1008752">Seeker Jessie</a>

            <p>------------------</p>

            </p>

            <div id="more_dolls_used">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1008752">Seeker Jessie</a> (12,845)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1009773">Max Domme</a> (8,255)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1008592">Bunnia Pharnia</a> (1,395)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1008821">Alona Sua</a> (1,285)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1009467">Rath Mexxa</a> (1,125)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1008658">Carrie Fulcrum</a> (1,105)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1008864">Liliana Victor</a> (725)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1008612">Nerati Sua</a> (705)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1010022">Aidyn Menard II</a> (690)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1008957">Xander Nikos</a> (685)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/pinup_bunny_Meddle.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Try Staying Home Today</h3>
            <p><i>Quests failed:</i> <b>40</b></p>
            <p>
                <a href="/pvp/lookatplayer/1010903">Flavia Canfield</a>

            <p>------------------</p>

            </p>

            <div id="more_quests_failed">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1010903">Flavia Canfield</a> (40)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1010644">Kay Fowler II</a> (39)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1008737">Jess Kitsune</a> (23)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1017985">Alex Jones</a> (22)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1009995">Angrywolf Kline</a> (21)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1012080">Shar Valentine IV</a> (21)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1010232">Horny Mare</a> (19)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1015950">Theresa Colson</a> (19)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1009615">Sebastien Abaddon</a> (18)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1013905">Blanche Huston</a> (18)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/mummy_Babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Adventure Time!</h3>
            <p><i>Quests passed:</i> <b>11</b></p>
            <p>
                <a href="/pvp/lookatplayer/1009615">Sebastien Abaddon</a>

            <p>------------------</p>

            </p>

            <div id="more_quests_passed">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1009615">Sebastien Abaddon</a> (11)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1008710">Kyrah Binbow</a> (11)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1008658">Carrie Fulcrum</a> (11)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1009995">Angrywolf Kline</a> (11)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1009427">Mayra Nielson</a> (11)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1009476">Grey Sol</a> (11)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1011731">Lynnette Berryman</a> (11)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1013905">Blanche Huston</a> (11)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1010903">Flavia Canfield</a> (11)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1008580">Shredster Khan</a> (10)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/neko_bard_ewillice.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Wheels on the Bus</h3>
            <p><i>Total distance riding the bus:</i> <b>2,576</b></p>
            <p>
                <a href="/pvp/lookatplayer/1008752">Seeker Jessie</a>

            <p>------------------</p>

            </p>

            <div id="more_busrides">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1008752">Seeker Jessie</a> (2,576)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1008616">Ria Shull</a> (813)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1008613">Ellis Hamlin</a> (534)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1010350">Cum Stained</a> (333)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1015950">Theresa Colson</a> (231)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1009429">Nadia Ayers</a> (196)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1008600">Toni Venusela</a> (188)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1008583">Alexa Hexa</a> (153)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1008820">Ariana Darkness</a> (130)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1013373">Drazura Zatsune III</a> (101)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/femboy_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Sex Swap Scoundrel</h3>
            <p><i>Total targets hit with TG Splash Orbs:</i> <b>84</b></p>
            <p>
                <a href="/pvp/lookatplayer/1010398">Absorption Lover</a>

            <p>------------------</p>

            </p>

            <div id="more_tg_bomb_hits">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1010398">Absorption Lover</a> (84)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1009476">Grey Sol</a> (73)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1008904">Amy Ures</a> (54)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1008671">Lucky Familiar</a> (37)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1008603">Elias Cantwell</a> (30)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1008658">Carrie Fulcrum</a> (27)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1014640">Horny Bitch</a> (25)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1009773">Max Domme</a> (21)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1008814">Linda Thorne</a> (19)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1008809">Grace Placer</a> (19)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/pinup_bunny_Meddle.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Player Transformayer</h3>
            <p><i>Total PvP-PvP players transformed into items or pets:</i> <b>23</b></p>
            <p>
                <a href="/pvp/lookatplayer/1010903">Flavia Canfield</a>

            <p>------------------</p>

            </p>

            <div id="more_pvp_player_takedowns">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1010903">Flavia Canfield</a> (23)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1008579">Robin Pharnia</a> (22)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1008592">Bunnia Pharnia</a> (19)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1008612">Nerati Sua</a> (19)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1009476">Grey Sol</a> (18)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1011445">Alex Steele II</a> (16)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1008658">Carrie Fulcrum</a> (13)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1008651">Puffy Pussy</a> (11)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1008722">Bimbolf Nory</a> (10)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1008853">Kelly Fae</a> (10)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/vicious_gorgon_babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Level Shmevel</h3>
            <p><i>Sum of all PvP-PvP levels of players transformed into items or pets:</i> <b>132</b></p>
            <p>
                <a href="/pvp/lookatplayer/1008579">Robin Pharnia</a>

            <p>------------------</p>

            </p>

            <div id="more_pvp_total_level_takedowns">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1008579">Robin Pharnia</a> (132)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1010903">Flavia Canfield</a> (90)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1008592">Bunnia Pharnia</a> (86)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1009476">Grey Sol</a> (79)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1008853">Kelly Fae</a> (68)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1008612">Nerati Sua</a> (63)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1008658">Carrie Fulcrum</a> (48)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1008999">Holly Ryder</a> (43)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1008821">Alona Sua</a> (37)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1008765">Lynda Bain</a> (34)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/kitsune_shrine_maiden_lux.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">You Aren't the Boss of Me!</h3>
            <p><i>Times attacking boss NPCs:</i> <b>332</b></p>
            <p>
                <a href="/pvp/lookatplayer/1008592">Bunnia Pharnia</a>

            <p>------------------</p>

            </p>

            <div id="more_boss_totalBossAttacks">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1008592">Bunnia Pharnia</a> (332)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1008821">Alona Sua</a> (297)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1008579">Robin Pharnia</a> (212)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1008904">Amy Ures</a> (146)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1008658">Carrie Fulcrum</a> (146)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1009573">Ash Andarei</a> (133)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1008613">Ellis Hamlin</a> (123)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1008999">Holly Ryder</a> (122)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1010022">Aidyn Menard II</a> (84)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1008683">Devon Barela</a> (68)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/vicious_gorgon_babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">I Am the Law!</h3>
            <p><i>Times attacking the Seekshadow thieves:</i> <b>34</b></p>
            <p>
                <a href="/pvp/lookatplayer/1008579">Robin Pharnia</a>

            <p>------------------</p>

            </p>

            <div id="more_boss_ratThiefAttacks">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1008579">Robin Pharnia</a> (34)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1008746">Zeck Denaan</a> (17)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1008592">Bunnia Pharnia</a> (13)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1008752">Seeker Jessie</a> (13)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1008658">Carrie Fulcrum</a> (12)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1008683">Devon Barela</a> (7)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1008621">Joseph Wow</a> (6)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1009535">Golden Gem</a> (6)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1008765">Lynda Bain</a> (3)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1008651">Puffy Pussy</a> (3)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/kitsune_shrine_maiden_lux.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">A.B.S Agent-In-Training</h3>
            <p><i>Times attacking the Lady Lovebringer, PHD:</i> <b>133</b></p>
            <p>
                <a href="/pvp/lookatplayer/1008592">Bunnia Pharnia</a>

            <p>------------------</p>

            </p>

            <div id="more_boss_lovebringerAttacks">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1008592">Bunnia Pharnia</a> (133)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1009573">Ash Andarei</a> (113)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1008579">Robin Pharnia</a> (104)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1008999">Holly Ryder</a> (82)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1008683">Devon Barela</a> (60)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1008612">Nerati Sua</a> (53)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1010022">Aidyn Menard II</a> (29)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1008658">Carrie Fulcrum</a> (19)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1008746">Zeck Denaan</a> (13)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1009355">Elle Sawyer</a> (11)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/vicious_gorgon_babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Down With Donna!</h3>
            <p><i>Times attacking 'Aunt' Donna Milton:</i> <b>158</b></p>
            <p>
                <a href="/pvp/lookatplayer/1008821">Alona Sua</a>

            <p>------------------</p>

            </p>

            <div id="more_boss_donnaAttacks">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1008821">Alona Sua</a> (158)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1008904">Amy Ures</a> (76)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1008592">Bunnia Pharnia</a> (41)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1010850">Crystal Draper IV</a> (28)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1009078">Eric Finney</a> (26)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1009573">Ash Andarei</a> (20)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1008651">Puffy Pussy</a> (19)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1008820">Ariana Darkness</a> (15)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1011445">Alex Steele II</a> (13)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1009818">Flow Usagi</a> (11)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/vicious_gorgon_babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Fae-Away</h3>
            <p><i>Times attacking Narcissa the Corrupted Lunar Fae:</i> <b>89</b></p>
            <p>
                <a href="/pvp/lookatplayer/1008821">Alona Sua</a>

            <p>------------------</p>

            </p>

            <div id="more_boss_faebossAttacks">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1008821">Alona Sua</a> (89)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1009467">Rath Mexxa</a> (38)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1010022">Aidyn Menard II</a> (37)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1008658">Carrie Fulcrum</a> (32)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1009078">Eric Finney</a> (15)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1010850">Crystal Draper IV</a> (6)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1008615">Amando Sommers</a> (4)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1015237">Leana Nyekobornya</a> (3)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1012691">Akela Bloodmoon</a> (2)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1010903">Flavia Canfield</a> (2)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/fembunni_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Brisby Battler</h3>
            <p><i>Times attacking either of the Brisby twins:</i> <b>82</b></p>
            <p>
                <a href="/pvp/lookatplayer/1008613">Ellis Hamlin</a>

            <p>------------------</p>

            </p>

            <div id="more_boss_mouseSisterAttacks">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1008613">Ellis Hamlin</a> (82)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1008592">Bunnia Pharnia</a> (73)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1008658">Carrie Fulcrum</a> (69)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1008667">Crystal Rawls</a> (14)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1015237">Leana Nyekobornya</a> (4)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/vicious_gorgon_babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">This Town Ain't Big Enough</h3>
            <p><i>Times attacking Harley the Road Queen:</i> <b>74</b></p>
            <p>
                <a href="/pvp/lookatplayer/1008579">Robin Pharnia</a>

            <p>------------------</p>

            </p>

            <div id="more_boss_motorcycleGangAttacks">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1008579">Robin Pharnia</a> (74)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1008592">Bunnia Pharnia</a> (72)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1008904">Amy Ures</a> (70)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1008821">Alona Sua</a> (50)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1008613">Ellis Hamlin</a> (41)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1008999">Holly Ryder</a> (36)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1008580">Shredster Khan</a> (18)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1010022">Aidyn Menard II</a> (10)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1010645">Vita Love</a> (6)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1011008">Natalia Birch</a> (5)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/shy_college_girl_cherrycake0.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">A Change in Management</h3>
            <p><i>Times attacking any mini-boss:</i> <b>888</b></p>
            <p>
                <a href="/pvp/lookatplayer/1010022">Aidyn Menard II</a>

            <p>------------------</p>

            </p>

            <div id="more_boss_minibossAttacks">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1010022">Aidyn Menard II</a> (888)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1009467">Rath Mexxa</a> (724)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1009573">Ash Andarei</a> (573)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1008693">Steve Welles</a> (375)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1008821">Alona Sua</a> (365)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1008592">Bunnia Pharnia</a> (321)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1008611">Reiko's Pet</a> (321)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1008621">Joseph Wow</a> (297)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1010065">Vanilla Cream</a> (295)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1008579">Robin Pharnia</a> (287)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/neko_bard_ewillice.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Would You Kindly...?</h3>
            <p><i>Number of mind control commands issued:</i> <b>116</b></p>
            <p>
                <a href="/pvp/lookatplayer/1008752">Seeker Jessie</a>

            <p>------------------</p>

            </p>

            <div id="more_mind_control_commands_issued">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1008752">Seeker Jessie</a> (116)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1008821">Alona Sua</a> (13)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1008765">Lynda Bain</a> (11)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1014379">John Conners</a> (9)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1008678">Alex Ender</a> (4)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1011444">Hugh Wanasuckit</a> (3)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1008594">Peter Horif</a> (2)
                    </p>

                </div>
            </div>

        </div>

    </div>

    <div id="topTypeList"></div>



</div>