﻿<div class="containerInner">

    <h1>Statistics Leaders</h1>
    <div class="row">
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/kitsune_shrine_maiden_lux.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Hawkeye</h3>
            <p><i>Times searched:</i> <b>13,225</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/381332">Elizabeth Stearns</a>

            <p>------------------</p>

            </p>

            <div id="more_times_searched">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/381332">Elizabeth Stearns</a> (13,225)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/381794">Simone Binbow</a> (8,394)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/381617">Ruby Bladestorm</a> (7,779)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/386756">Kasey Quin II</a> (5,355)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/381939">Nyasa Meownya</a> (4,165)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/381391">Danii Colorado</a> (3,585)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/382308">Nihat Unal</a> (3,306)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/382065">Anaru Nara</a> (3,216)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/381432">Jane Kelly</a> (3,046)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/381452">Futa Lover</a> (2,818)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/itemsPortraits/Thumbnails/100/icy_heels_Katy_Frill.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Quantity not Quality!</h3>
            <p><i>Spells cast:</i> <b>2,954</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/381337">Leena Mcridill</a>

            <p>------------------</p>

            </p>

            <div id="more_spells_cast">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/381337">Leena Mcridill</a> (2,954)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/381373">Natashia Lancaster</a> (2,686)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/385028">Newhalf Love</a> (1,928)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/381369">Kyle Nines</a> (1,862)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/388194">Sammy Gaswin II</a> (1,819)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/381343">Dane Redd</a> (1,699)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/381501">Luna Moonwell</a> (1,676)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/381377">Shredster Khan</a> (1,667)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/381467">Dustin Craven</a> (1,593)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/386270">Jaden Oden</a> (1,104)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/alient_catgirl_wrenzephyr.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Restless One</h3>
            <p><i>Times moved:</i> <b>7,795</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/381373">Natashia Lancaster</a>

            <p>------------------</p>

            </p>

            <div id="more_times_moved">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/381373">Natashia Lancaster</a> (7,795)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/381337">Leena Mcridill</a> (7,757)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/381460">Allyssa Adams</a> (7,647)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/381369">Kyle Nines</a> (6,815)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/382459">Panty Hose</a> (5,911)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/386270">Jaden Oden</a> (5,693)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/381336">Victoria Bennett</a> (5,683)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/381736">Madge 'The Playful Fae' Mercy</a> (5,024)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/385028">Newhalf Love</a> (4,381)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/388194">Sammy Gaswin II</a> (4,126)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/itemsPortraits/Thumbnails/100/icy_heels_Katy_Frill.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Hypochondriac</h3>
            <p><i>Times cleansed:</i> <b>1,901</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/381337">Leena Mcridill</a>

            <p>------------------</p>

            </p>

            <div id="more_times_cleansed">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/381337">Leena Mcridill</a> (1,901)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/381369">Kyle Nines</a> (945)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/382117">Rin White</a> (749)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/381379">Kieran Lancaster</a> (650)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/381373">Natashia Lancaster</a> (623)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/388194">Sammy Gaswin II</a> (618)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/381418">Umbriel Nightshade</a> (556)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/383840">Dian Arsen II</a> (491)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/382040">Lacy Lachance</a> (489)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/381377">Shredster Khan</a> (469)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/itemsPortraits/Thumbnails/100/icy_heels_Katy_Frill.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Lost in Thought</h3>
            <p><i>Times meditated:</i> <b>1,517</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/381337">Leena Mcridill</a>

            <p>------------------</p>

            </p>

            <div id="more_times_meditated">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/381337">Leena Mcridill</a> (1,517)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/381501">Luna Moonwell</a> (1,363)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/381377">Shredster Khan</a> (1,341)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/381467">Dustin Craven</a> (1,271)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/381373">Natashia Lancaster</a> (982)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/381369">Kyle Nines</a> (909)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/381343">Dane Redd</a> (806)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/382459">Panty Hose</a> (777)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/388194">Sammy Gaswin II</a> (744)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/385028">Newhalf Love</a> (716)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/jungle_girl_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">____ the Enchanter</h3>
            <p><i>Times enchanting:</i> <b>1,560</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/382459">Panty Hose</a>

            <p>------------------</p>

            </p>

            <div id="more_times_enchanted">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/382459">Panty Hose</a> (1,560)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/382308">Nihat Unal</a> (873)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/381354">Ziggy Anvil</a> (541)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/388439">Eric Finney II</a> (345)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/382382">Nadia Carteret</a> (308)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/385653">Misha Cirano III</a> (277)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/381418">Umbriel Nightshade</a> (233)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/381523">Robin White</a> (189)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/382700">Scarlet Evalion</a> (175)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/381420">Tiffany Anders</a> (162)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/alient_catgirl_wrenzephyr.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Covenant Benefactor</h3>
            <p><i>Net Arpyjis donated to covenant:</i> <b>34,100</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/381373">Natashia Lancaster</a>

            <p>------------------</p>

            </p>

            <div id="more_covenant_net_donations">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/381373">Natashia Lancaster</a> (34,100)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/382459">Panty Hose</a> (33,220)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/382308">Nihat Unal</a> (12,800)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/381420">Tiffany Anders</a> (11,220)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/381794">Simone Binbow</a> (9,220)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/381785">Jinx Razor</a> (7,520)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/381343">Dane Redd</a> (7,440)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/381337">Leena Mcridill</a> (5,100)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/381418">Umbriel Nightshade</a> (4,960)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/389085">Eliza Walker II</a> (4,300)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/couch_potato_Ninian_Fae.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/angelic_spirit_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Couch Potato</h3>
            <p><i>Times using covenant furniture:</i> <b>172</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/381460">Allyssa Adams</a>

            <p>------------------</p>

            </p>

            <div id="more_covenant_furniture_used">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/381460">Allyssa Adams</a> (172)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/382459">Panty Hose</a> (135)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/381337">Leena Mcridill</a> (132)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/381420">Tiffany Anders</a> (69)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/381373">Natashia Lancaster</a> (61)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/381728">Princess Lily</a> (22)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/381467">Dustin Craven</a> (20)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/382382">Nadia Carteret</a> (16)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/381343">Dane Redd</a> (16)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/381794">Simone Binbow</a> (15)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/big_bootied_bounty_hunter_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">What's My Form Again?</h3>
            <p><i>Times transformed into an animate form:</i> <b>116</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/381467">Dustin Craven</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animated">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/381467">Dustin Craven</a> (116)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/381377">Shredster Khan</a> (107)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/381501">Luna Moonwell</a> (103)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/385028">Newhalf Love</a> (88)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/386270">Jaden Oden</a> (68)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/381337">Leena Mcridill</a> (67)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/388070">Crash Dummy</a> (65)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/389422">Talonious Draxxion II</a> (64)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/381847">Freyja Brisingamen</a> (56)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/388543">Witch Calem</a> (42)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/itemsPortraits/rose_BrookyBrooks.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Inanimated</h3>
            <p><i>Times transformed into an inanimate form:</i> <b>27</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/381811">Rubette Lulette</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_inanimated">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/381811">Rubette Lulette</a> (27)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/386651">Seras Victoria III</a> (9)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/388837">Olivia Burrows III</a> (8)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/389402">Kate Morsel II</a> (8)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/382223">Won Meju</a> (7)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/388560">Heather Heart</a> (7)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/389099">Violet Dawn III</a> (7)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/388559">Emily Cass II</a> (7)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/383348">Julie Black II</a> (6)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/385525">Rachael Morelli</a> (6)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/big_bootied_bounty_hunter_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Nothin' But a Hound Dog</h3>
            <p><i>Times transformed into a pet form:</i> <b>7</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/389085">Eliza Walker II</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animal">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/389085">Eliza Walker II</a> (7)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/388837">Olivia Burrows III</a> (6)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/389498">Vita Barbour III</a> (5)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/388920">Jon Snow</a> (5)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/385974">Karfield James</a> (4)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/389082">Hannah Lees</a> (4)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/387379">Azzy Roan</a> (3)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/386270">Jaden Oden</a> (3)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/387473">Ivy Weeds</a> (3)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/388104">Ethan Lionheart III</a> (3)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/lazy_catgirl_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Animator</h3>
            <p><i>Targets transformed into an animate form:</i> <b>157</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/381343">Dane Redd</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animating">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/381343">Dane Redd</a> (157)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/381501">Luna Moonwell</a> (148)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/385028">Newhalf Love</a> (135)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/381337">Leena Mcridill</a> (132)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/381377">Shredster Khan</a> (116)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/381467">Dustin Craven</a> (103)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/384337">Caesar Horning</a> (68)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/381847">Freyja Brisingamen</a> (56)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/386270">Jaden Oden</a> (49)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/381851">Hilaria Milne</a> (39)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/alient_catgirl_wrenzephyr.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Inanimator</h3>
            <p><i>Targets transformed into an inanimate form:</i> <b>208</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/381373">Natashia Lancaster</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_inanimating">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/381373">Natashia Lancaster</a> (208)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/381369">Kyle Nines</a> (88)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/388194">Sammy Gaswin II</a> (79)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/381337">Leena Mcridill</a> (76)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/382117">Rin White</a> (53)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/381780">Allie Belton</a> (47)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/381420">Tiffany Anders</a> (45)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/381343">Dane Redd</a> (43)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/385028">Newhalf Love</a> (39)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/381574">Earline Pendleton</a> (36)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/itemsPortraits/stuffed_Freya_Calem28.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Petmaker</h3>
            <p><i>Targets transformed into a pet form:</i> <b>13</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/382223">Won Meju</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animaling">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/382223">Won Meju</a> (13)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/388194">Sammy Gaswin II</a> (9)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/386164">Silthrim Gailer II</a> (8)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/385028">Newhalf Love</a> (8)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/387709">Kirith Leingod II</a> (6)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/381574">Earline Pendleton</a> (6)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/381337">Leena Mcridill</a> (6)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/381530">Sarah Snow</a> (6)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/381482">Harper Betts</a> (5)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/381466">Bobby Devries</a> (5)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/alient_catgirl_wrenzephyr.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Psycho Hunter</h3>
            <p><i>Psychopathic Spellslingers defeated:</i> <b>208</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/381373">Natashia Lancaster</a>

            <p>------------------</p>

            </p>

            <div id="more_psychos_defeated">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/381373">Natashia Lancaster</a> (208)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/388194">Sammy Gaswin II</a> (79)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/381369">Kyle Nines</a> (69)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/381780">Allie Belton</a> (49)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/385028">Newhalf Love</a> (46)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/381343">Dane Redd</a> (44)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/381574">Earline Pendleton</a> (41)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/382117">Rin White</a> (38)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/381337">Leena Mcridill</a> (38)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/381420">Tiffany Anders</a> (36)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/female_rat_thief_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Fast Commute</h3>
            <p><i>Teleport scrolls used:</i> <b>26</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/381571">Sonia Bon</a>

            <p>------------------</p>

            </p>

            <div id="more_times_teleported_scroll">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/381571">Sonia Bon</a> (26)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/382459">Panty Hose</a> (23)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/381939">Nyasa Meownya</a> (5)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/381533">Nerati Sua</a> (4)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/382345">Sorez Sluttybutt</a> (3)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/381332">Elizabeth Stearns</a> (3)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/382117">Rin White</a> (3)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/386703">Lefen Kyle</a> (3)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/382314">Hexer Nix</a> (3)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/381368">Sarah Ainsley</a> (3)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/alient_catgirl_wrenzephyr.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Friend of the Fae</h3>
            <p><i>Times played with Jewdewfae:</i> <b>73</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/381373">Natashia Lancaster</a>

            <p>------------------</p>

            </p>

            <div id="more_jewdewfae_completions">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/381373">Natashia Lancaster</a> (73)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/381460">Allyssa Adams</a> (62)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/381377">Shredster Khan</a> (55)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/381467">Dustin Craven</a> (53)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/381337">Leena Mcridill</a> (46)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/381617">Ruby Bladestorm</a> (35)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/381947">Kinello Herone</a> (28)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/382117">Rin White</a> (26)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/381369">Kyle Nines</a> (25)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/381391">Danii Colorado</a> (24)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/animalPortraits/Thumbnails/100/griffin_familiar_Icaron.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Nerrrrrd!</h3>
            <p><i>Tomes read:</i> <b>13</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/381548">Airi Ithilwen</a>

            <p>------------------</p>

            </p>

            <div id="more_lore_books_read">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/381548">Airi Ithilwen</a> (13)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/381337">Leena Mcridill</a> (13)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/381794">Simone Binbow</a> (13)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/382117">Rin White</a> (13)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/381617">Ruby Bladestorm</a> (13)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/385028">Newhalf Love</a> (13)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/381373">Natashia Lancaster</a> (13)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/381460">Allyssa Adams</a> (13)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/381369">Kyle Nines</a> (12)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/381860">Jessica Pannell</a> (12)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/itemsPortraits/Thumbnails/100/sucker_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Rub Rub Rub</h3>
            <p><i>XP gained as an inanimate item:</i> <b>24,185</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/381329">Teresa Hammond</a>

            <p>------------------</p>

            </p>

            <div id="more_inanimateXPEarned">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/381329">Teresa Hammond</a> (24,185)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/381375">Kitten 'Belongs to Eva' Kraft</a> (22,795)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/381509">Arrhae Hale</a> (22,790)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/381339">Auly Jua</a> (21,970)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/381342">Thomas Redyche</a> (21,465)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/382020">Mindless Dolly</a> (19,618)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/381362">Pampered Plaything</a> (19,265)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/381431">Azure Rose</a> (18,320)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/381545">Ai 'Aromatic Empress' Naoi</a> (18,120)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/381393">Amelia Wyant</a> (17,975)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/animalPortraits/Thumbnails/100/omnibus_familiar_Aurora_Ryall.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Petter off this Way</h3>
            <p><i>XP gained as an pet.:</i> <b>23,825</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/381334">Kittyn Angelica</a>

            <p>------------------</p>

            </p>

            <div id="more_petXPEarned">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/381334">Kittyn Angelica</a> (23,825)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/381353">Lovely Lexitoy</a> (22,880)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/381437">Pet Labonte</a> (22,270)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/381439">Summer Fields</a> (20,830)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/381565">Melina 'Moocow' Mercy</a> (20,235)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/382165">Lyrah Starr</a> (18,385)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/381548">Airi Ithilwen</a> (17,710)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/382450">Marianne Peoples</a> (17,685)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/381661">Dani Colorado</a> (16,960)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/381525">Geriella Bubbles</a> (16,590)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/alient_catgirl_wrenzephyr.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Soul Seller</h3>
            <p><i>Net profit from selling to Lindella:</i> <b>23,497</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/381373">Natashia Lancaster</a>

            <p>------------------</p>

            </p>

            <div id="more_lindella_net_profit">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/381373">Natashia Lancaster</a> (23,497)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/382459">Panty Hose</a> (21,419)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/382308">Nihat Unal</a> (12,485)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/381420">Tiffany Anders</a> (9,894)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/381617">Ruby Bladestorm</a> (8,879)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/382065">Anaru Nara</a> (8,762)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/386756">Kasey Quin II</a> (8,676)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/381794">Simone Binbow</a> (8,576)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/381365">Adriana Ayers</a> (7,568)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/381343">Dane Redd</a> (6,432)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/kitsune_shrine_maiden_lux.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Soul Consumer</h3>
            <p><i>Net loss from buying from Lindella:</i> <b>5,040</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/381332">Elizabeth Stearns</a>

            <p>------------------</p>

            </p>

            <div id="more_lindella_net_loss">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/381332">Elizabeth Stearns</a> (5,040)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/382040">Lacy Lachance</a> (1,849)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/381728">Princess Lily</a> (1,355)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/388543">Witch Calem</a> (1,348)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/381736">Madge 'The Playful Fae' Mercy</a> (1,168)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/381377">Shredster Khan</a> (1,131)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/381571">Sonia Bon</a> (1,118)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/388588">Neil Riddle</a> (1,027)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/381926">Crystal Moyer</a> (866)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/381467">Dustin Craven</a> (844)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/jungle_girl_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Puppy Profit!</h3>
            <p><i>Profit from selling to Wuffie:</i> <b>10,244</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/382459">Panty Hose</a>

            <p>------------------</p>

            </p>

            <div id="more_wuffie_net_profit">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/382459">Panty Hose</a> (10,244)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/381373">Natashia Lancaster</a> (7,209)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/388588">Neil Riddle</a> (1,279)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/382040">Lacy Lachance</a> (1,185)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/387186">Tammy Benoit</a> (1,129)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/384938">Alexis Crabtree</a> (1,118)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/383998">Danny Locker</a> (1,077)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/386164">Silthrim Gailer II</a> (987)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/386703">Lefen Kyle</a> (852)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/381416">Jessica 'Queen' Dolly</a> (836)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/incapable_bookish_bimbo_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Puppy Purchaser</h3>
            <p><i>Loss from buying from Wuffie:</i> <b>1,952</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/381365">Adriana Ayers</a>

            <p>------------------</p>

            </p>

            <div id="more_wuffie_net_loss">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/381365">Adriana Ayers</a> (1,952)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/381341">Vera Sass</a> (505)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/381815">Camrin Mace</a> (450)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/381748">Selina Muliaina</a> (436)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/387900">Bill County</a> (432)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/386245">Lea Wilbur</a> (405)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/381370">Luna Kitsu</a> (319)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/384093">Aleksa Razor</a> (315)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/381794">Simone Binbow</a> (309)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/388543">Witch Calem</a> (300)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/shy_blue_haired_girl_babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Exiled's Apprentice</h3>
            <p><i>Most spells learned from Skaldrlyr the Forbidden:</i> <b>101</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/383450">Vivianne Mcqueen</a>

            <p>------------------</p>

            </p>

            <div id="more_lorekeeper_spells_learned">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/383450">Vivianne Mcqueen</a> (101)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/381913">Laurel 'Duchess' Dolly</a> (100)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/381382">Dark Blade</a> (41)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/381373">Natashia Lancaster</a> (40)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/381369">Kyle Nines</a> (39)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/381488">Russell Thorne</a> (33)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/388194">Sammy Gaswin II</a> (24)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/381939">Nyasa Meownya</a> (24)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/381847">Freyja Brisingamen</a> (24)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/388439">Eric Finney II</a> (23)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/great_fairy_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Dungeon Looter</h3>
            <p><i>Dungeon artifacts found:</i> <b>24</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/381736">Madge 'The Playful Fae' Mercy</a>

            <p>------------------</p>

            </p>

            <div id="more_dungeon_artifacts_found">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/381736">Madge 'The Playful Fae' Mercy</a> (24)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/388543">Witch Calem</a> (16)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/381337">Leena Mcridill</a> (15)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/381385">Rora Ryall</a> (13)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/381728">Princess Lily</a> (8)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/382117">Rin White</a> (8)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/388560">Heather Heart</a> (6)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/386179">Lamar Homan</a> (6)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/388588">Neil Riddle</a> (5)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/383152">Corinna Smith</a> (4)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/itemsPortraits/Thumbnails/100/icy_heels_Katy_Frill.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Demonslayer</h3>
            <p><i>Dungeon demons defeated:</i> <b>32</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/381337">Leena Mcridill</a>

            <p>------------------</p>

            </p>

            <div id="more_dungeon_demons_defeated">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/381337">Leena Mcridill</a> (32)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/382117">Rin White</a> (17)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/381372">Yvesza 'Hearts &amp; Kraft' Sylwind</a> (1)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/381530">Sarah Snow</a> (1)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/388560">Heather Heart</a> (1)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/381598">Lisa Trevor</a> (1)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/itemsPortraits/Thumbnails/100/pillow_girl_Dandelion.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Dungeon Assassin</h3>
            <p><i>Dungeon points stolen from victims:</i> <b>164</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/381369">Kyle Nines</a>

            <p>------------------</p>

            </p>

            <div id="more_dungeon_points_stolen">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/381369">Kyle Nines</a> (164)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/381617">Ruby Bladestorm</a> (54)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/381728">Princess Lily</a> (16)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/381926">Crystal Moyer</a> (8)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/388543">Witch Calem</a> (7)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/382117">Rin White</a> (5)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/381582">Jesse 'M.D.' Andersen</a> (3)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/385112">Rachel Star</a> (2)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/384688">Camillus Wilke</a> (1)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/381602">Jem 'Cotton' Quinn</a> (1)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/great_fairy_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Dungeon Crawler</h3>
            <p><i>Times moved in the dungeon.:</i> <b>1,327</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/381736">Madge 'The Playful Fae' Mercy</a>

            <p>------------------</p>

            </p>

            <div id="more_dungeon_movements">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/381736">Madge 'The Playful Fae' Mercy</a> (1,327)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/388543">Witch Calem</a> (846)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/381337">Leena Mcridill</a> (755)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/382117">Rin White</a> (477)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/381385">Rora Ryall</a> (441)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/386179">Lamar Homan</a> (429)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/388588">Neil Riddle</a> (384)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/381728">Princess Lily</a> (374)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/381443">Penny Sparrow</a> (248)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/388560">Heather Heart</a> (181)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/itemsPortraits/rose_BrookyBrooks.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Freeeeedom!</h3>
            <p><i>Times struggled back to an animate form:</i> <b>28</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/381811">Rubette Lulette</a>

            <p>------------------</p>

            </p>

            <div id="more_times_struggled_free">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/381811">Rubette Lulette</a> (28)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/388837">Olivia Burrows III</a> (11)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/387967">Ronin Yuriko IV</a> (7)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/385974">Karfield James</a> (7)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/386651">Seras Victoria III</a> (6)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/389498">Vita Barbour III</a> (6)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/382223">Won Meju</a> (6)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/387155">Glenda Weeks</a> (6)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/382265">Rahell Jess</a> (6)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/388920">Jon Snow</a> (6)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/angelic_spirit_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Maximally Transmogrified</h3>
            <p><i>Autoselftransmogrification Deflector Devices used:</i> <b>94</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/381460">Allyssa Adams</a>

            <p>------------------</p>

            </p>

            <div id="more_transmogs_used">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/381460">Allyssa Adams</a> (94)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/381373">Natashia Lancaster</a> (81)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/381391">Danii Colorado</a> (51)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/381617">Ruby Bladestorm</a> (40)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/381369">Kyle Nines</a> (40)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/381332">Elizabeth Stearns</a> (33)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/381947">Kinello Herone</a> (30)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/382117">Rin White</a> (27)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/382040">Lacy Lachance</a> (24)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/381926">Crystal Moyer</a> (15)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/jungle_girl_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Call of the Covenant</h3>
            <p><i>Covenant Callback Crystals used:</i> <b>49</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/382459">Panty Hose</a>

            <p>------------------</p>

            </p>

            <div id="more_callback_crystals_used">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/382459">Panty Hose</a> (49)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/382926">Katie Vic</a> (1)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/385314">Lacey Bimbo V</a> (1)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/381365">Adriana Ayers</a> (1)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/389646">Witch Freya</a> (1)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/woman_09_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Dollyamory</h3>
            <p><i>Willpower restored from using Inflatable Sex Dolls:</i> <b>13,965</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/381416">Jessica 'Queen' Dolly</a>

            <p>------------------</p>

            </p>

            <div id="more_dolls_used">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/381416">Jessica 'Queen' Dolly</a> (13,965)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/381337">Leena Mcridill</a> (6,225)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/382117">Rin White</a> (5,040)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/383450">Vivianne Mcqueen</a> (1,680)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/381418">Umbriel Nightshade</a> (1,615)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/383349">Jane County</a> (1,455)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/381794">Simone Binbow</a> (1,285)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/381369">Kyle Nines</a> (1,285)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/381467">Dustin Craven</a> (1,270)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/381617">Ruby Bladestorm</a> (1,270)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/itemsPortraits/rose_BrookyBrooks.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Try Staying Home Today</h3>
            <p><i>Quests failed:</i> <b>37</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/385974">Karfield James</a>

            <p>------------------</p>

            </p>

            <div id="more_quests_failed">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/385974">Karfield James</a> (37)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/388867">Autumn Silver II</a> (36)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/386404">Kent Geary</a> (26)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/382204">Nicki Minaj</a> (24)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/382009">Gerald Marc</a> (23)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/382117">Rin White</a> (19)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/384647">Lyzolda Kitsuray II</a> (17)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/381453">Liviana Bacon</a> (17)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/382684">Lewis Caballero</a> (17)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/384337">Caesar Horning</a> (16)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/great_fairy_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Adventure Time!</h3>
            <p><i>Quests passed:</i> <b>8</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/381491">Joe Nobody</a>

            <p>------------------</p>

            </p>

            <div id="more_quests_passed">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/381491">Joe Nobody</a> (8)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/382021">Caru 'Captured~' Pawb</a> (8)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/381369">Kyle Nines</a> (8)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/381681">Jenny Breeder</a> (8)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/381377">Shredster Khan</a> (8)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/383984">Juanne Mellabeau</a> (8)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/381794">Simone Binbow</a> (8)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/381970">Kate Savage</a> (8)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/383840">Dian Arsen II</a> (8)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/381513">Tyler Brant</a> (8)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/dollmistress_babblingfaces.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Wheels on the Bus</h3>
            <p><i>Total distance riding the bus:</i> <b>1,579</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/381780">Allie Belton</a>

            <p>------------------</p>

            </p>

            <div id="more_busrides">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/381780">Allie Belton</a> (1,579)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/382065">Anaru Nara</a> (476)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/381530">Sarah Snow</a> (367)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/386756">Kasey Quin II</a> (360)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/381369">Kyle Nines</a> (330)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/381847">Freyja Brisingamen</a> (276)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/381651">Pina Vollmar</a> (262)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/381365">Adriana Ayers</a> (240)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/381373">Natashia Lancaster</a> (235)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/382040">Lacy Lachance</a> (230)
                    </p>

                </div>
            </div>

        </div>

    </div>

    <div id="topTypeList"></div>



</div>