﻿<div class="containerInner">

    <h1>Statistics Leaders</h1>
    <div class="row">
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/porcelaindoll_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Hawkeye</h3>
            <p><i>Times searched:</i> <b>12,265</b></p>
            <p>
                <a href="/pvp/lookatplayer/655570">Beatrice Greenberg</a>

            <p>------------------</p>

            </p>

            <div id="more_times_searched">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/655570">Beatrice Greenberg</a> (12,265)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/654929">Kyrah Binbow</a> (8,326)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/654853">Eglan Lengo</a> (8,188)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/661218">Bitch Fifi</a> (7,790)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/655201">Jesse Grey</a> (7,645)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/655002">Emily Hart</a> (7,348)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/654867">Rory Prismriver</a> (6,751)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/658302">Lisa Rosewater</a> (6,343)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/654891">Britt Wiccanshire</a> (6,305)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/654861">Minervas Petslut</a> (5,649)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/harlot_babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Quantity not Quality!</h3>
            <p><i>Spells cast:</i> <b>2,139</b></p>
            <p>
                <a href="/pvp/lookatplayer/654850">Iris 'Forgetful Dumb Puppy' Waldron</a>

            <p>------------------</p>

            </p>

            <div id="more_spells_cast">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/654850">Iris 'Forgetful Dumb Puppy' Waldron</a> (2,139)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/654841">Nadia 'Loves Her Stockings' Ayers</a> (1,680)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/655007">Max Juno</a> (1,642)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/657839">Aura Yinn</a> (1,611)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/655002">Emily Hart</a> (1,591)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/655631">Nephthys Nephilium</a> (1,543)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/654833">Shredster Khan</a> (1,493)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/655493">Lara Ithilwen</a> (1,464)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/655471">Lucy Nysa</a> (1,221)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/654848">Amber Legrand</a> (1,205)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/harlot_babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Restless One</h3>
            <p><i>Times moved:</i> <b>12,011</b></p>
            <p>
                <a href="/pvp/lookatplayer/654850">Iris 'Forgetful Dumb Puppy' Waldron</a>

            <p>------------------</p>

            </p>

            <div id="more_times_moved">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/654850">Iris 'Forgetful Dumb Puppy' Waldron</a> (12,011)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/654848">Amber Legrand</a> (10,320)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/654931">Kaede Yamabuki</a> (8,203)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/655002">Emily Hart</a> (7,387)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/655493">Lara Ithilwen</a> (7,253)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/654890">Tara '🌌' Sapphire</a> (6,999)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/655631">Nephthys Nephilium</a> (6,623)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/655473">Glenna Coy</a> (6,574)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/655471">Lucy Nysa</a> (6,000)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/655464">Zero Confidence</a> (5,895)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/plush_mistress_hei_lilah_lace.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Hypochondriac</h3>
            <p><i>Times cleansed:</i> <b>2,000</b></p>
            <p>
                <a href="/pvp/lookatplayer/655493">Lara Ithilwen</a>

            <p>------------------</p>

            </p>

            <div id="more_times_cleansed">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/655493">Lara Ithilwen</a> (2,000)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/657839">Aura Yinn</a> (773)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/654833">Shredster Khan</a> (663)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/655058">Cael Winters</a> (651)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/654843">Myrna Escobedo</a> (626)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/664293">Chester Milles III</a> (565)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/655007">Max Juno</a> (564)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/655631">Nephthys Nephilium</a> (535)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/654841">Nadia 'Loves Her Stockings' Ayers</a> (475)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/655471">Lucy Nysa</a> (460)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/robotgirl_thurosis.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Lost in Thought</h3>
            <p><i>Times meditated:</i> <b>1,767</b></p>
            <p>
                <a href="/pvp/lookatplayer/654843">Myrna Escobedo</a>

            <p>------------------</p>

            </p>

            <div id="more_times_meditated">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/654843">Myrna Escobedo</a> (1,767)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/654848">Amber Legrand</a> (1,586)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/657839">Aura Yinn</a> (1,193)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/654850">Iris 'Forgetful Dumb Puppy' Waldron</a> (1,138)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/654833">Shredster Khan</a> (1,125)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/655493">Lara Ithilwen</a> (969)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/654890">Tara '🌌' Sapphire</a> (851)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/655007">Max Juno</a> (844)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/655631">Nephthys Nephilium</a> (787)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/657438">Rex Matthews</a> (752)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/futinari_flasher_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">____ the Enchanter</h3>
            <p><i>Times enchanting:</i> <b>2,203</b></p>
            <p>
                <a href="/pvp/lookatplayer/654848">Amber Legrand</a>

            <p>------------------</p>

            </p>

            <div id="more_times_enchanted">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/654848">Amber Legrand</a> (2,203)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/654946">Markus Drake</a> (925)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/656754">Vanilla Cream</a> (788)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/654890">Tara '🌌' Sapphire</a> (564)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/655558">Leilana Aldridge</a> (485)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/655383">Sofie Howard</a> (453)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/654939">Matt Felgrand</a> (449)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/654847">Parker 'Matron Sweets' Ponder</a> (401)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/655570">Beatrice Greenberg</a> (396)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/655382">Aloysious Katt</a> (361)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/harlot_babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Covenant Benefactor</h3>
            <p><i>Net Arpyjis donated to covenant:</i> <b>35,000</b></p>
            <p>
                <a href="/pvp/lookatplayer/654850">Iris 'Forgetful Dumb Puppy' Waldron</a>

            <p>------------------</p>

            </p>

            <div id="more_covenant_net_donations">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/654850">Iris 'Forgetful Dumb Puppy' Waldron</a> (35,000)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/655194">Henny Wuns</a> (23,740)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/654890">Tara '🌌' Sapphire</a> (22,540)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/661218">Bitch Fifi</a> (16,520)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/654946">Markus Drake</a> (8,020)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/654846">Varin Elderblood</a> (6,940)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/655163">Lydia Gemma</a> (5,940)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/655493">Lara Ithilwen</a> (5,500)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/654998">Emma Harding</a> (4,960)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/655090">Daughter Sakura</a> (4,640)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/couch_potato_Ninian_Fae.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/diligent_dog_girl_gogo_blackwater.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Couch Potato</h3>
            <p><i>Times using covenant furniture:</i> <b>70</b></p>
            <p>
                <a href="/pvp/lookatplayer/661218">Bitch Fifi</a>

            <p>------------------</p>

            </p>

            <div id="more_covenant_furniture_used">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/661218">Bitch Fifi</a> (70)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/654848">Amber Legrand</a> (67)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/654850">Iris 'Forgetful Dumb Puppy' Waldron</a> (65)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/655471">Lucy Nysa</a> (17)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/655493">Lara Ithilwen</a> (13)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/655464">Zero Confidence</a> (11)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/655285">Princess Lily</a> (10)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/655002">Emily Hart</a> (6)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/654890">Tara '🌌' Sapphire</a> (6)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/654841">Nadia 'Loves Her Stockings' Ayers</a> (5)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/plush_mistress_hei_lilah_lace.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">What's My Form Again?</h3>
            <p><i>Times transformed into an animate form:</i> <b>90</b></p>
            <p>
                <a href="/pvp/lookatplayer/654867">Rory Prismriver</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animated">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/654867">Rory Prismriver</a> (90)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/654890">Tara '🌌' Sapphire</a> (71)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/654833">Shredster Khan</a> (62)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/654841">Nadia 'Loves Her Stockings' Ayers</a> (54)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/657839">Aura Yinn</a> (53)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/655631">Nephthys Nephilium</a> (48)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/654843">Myrna Escobedo</a> (43)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/654857">Arya Vynf</a> (40)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/654850">Iris 'Forgetful Dumb Puppy' Waldron</a> (34)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/657438">Rex Matthews</a> (32)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/woman_14_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Inanimated</h3>
            <p><i>Times transformed into an inanimate form:</i> <b>11</b></p>
            <p>
                <a href="/pvp/lookatplayer/663489">Nikki High</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_inanimated">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/663489">Nikki High</a> (11)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/665757">Kento Hilliard</a> (10)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/663971">Bellona Goddess</a> (8)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/660899">Daphnes Hyrule II</a> (8)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/666098">Orion Olive</a> (8)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/657381">Gamma Blue</a> (7)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/656754">Vanilla Cream</a> (7)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/662815">Amber Lucas</a> (7)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/666145">Jessie Cotton</a> (7)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/661557">Riley Easton III</a> (6)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/animalPortraits/Thumbnails/100/magical_catgirl_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Nothin' But a Hound Dog</h3>
            <p><i>Times transformed into a pet form:</i> <b>7</b></p>
            <p>
                <a href="/pvp/lookatplayer/655002">Emily Hart</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animal">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/655002">Emily Hart</a> (7)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/654946">Markus Drake</a> (6)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/664905">Madison Miles III</a> (5)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/662857">Adelana Binbow IV</a> (4)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/660899">Daphnes Hyrule II</a> (4)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/666098">Orion Olive</a> (4)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/655007">Max Juno</a> (4)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/665430">Little Riley</a> (4)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/663971">Bellona Goddess</a> (4)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/655731">Freyja Kitsu</a> (3)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/jungle_girl_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Animator</h3>
            <p><i>Targets transformed into an animate form:</i> <b>82</b></p>
            <p>
                <a href="/pvp/lookatplayer/654841">Nadia 'Loves Her Stockings' Ayers</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animating">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/654841">Nadia 'Loves Her Stockings' Ayers</a> (82)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/654833">Shredster Khan</a> (72)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/655007">Max Juno</a> (66)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/654867">Rory Prismriver</a> (63)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/657839">Aura Yinn</a> (63)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/654843">Myrna Escobedo</a> (63)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/654850">Iris 'Forgetful Dumb Puppy' Waldron</a> (57)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/657438">Rex Matthews</a> (55)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/655631">Nephthys Nephilium</a> (47)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/654890">Tara '🌌' Sapphire</a> (46)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/harlot_babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Inanimator</h3>
            <p><i>Targets transformed into an inanimate form:</i> <b>142</b></p>
            <p>
                <a href="/pvp/lookatplayer/654850">Iris 'Forgetful Dumb Puppy' Waldron</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_inanimating">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/654850">Iris 'Forgetful Dumb Puppy' Waldron</a> (142)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/655002">Emily Hart</a> (122)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/654998">Emma Harding</a> (87)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/655493">Lara Ithilwen</a> (72)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/655471">Lucy Nysa</a> (62)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/655631">Nephthys Nephilium</a> (60)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/654848">Amber Legrand</a> (55)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/654841">Nadia 'Loves Her Stockings' Ayers</a> (52)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/654833">Shredster Khan</a> (49)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/655464">Zero Confidence</a> (49)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/massively_obese_woman_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Petmaker</h3>
            <p><i>Targets transformed into a pet form:</i> <b>35</b></p>
            <p>
                <a href="/pvp/lookatplayer/655194">Henny Wuns</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animaling">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/655194">Henny Wuns</a> (35)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/657023">Grey Fox</a> (15)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/657688">Jacqueline Tancara</a> (9)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/655493">Lara Ithilwen</a> (8)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/660940">Isaac Stormhaven II</a> (7)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/655007">Max Juno</a> (7)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/661306">Louis Sacco</a> (6)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/664293">Chester Milles III</a> (5)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/657438">Rex Matthews</a> (5)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/657839">Aura Yinn</a> (5)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/harlot_babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Psycho Hunter</h3>
            <p><i>Psychopathic Spellslingers defeated:</i> <b>125</b></p>
            <p>
                <a href="/pvp/lookatplayer/654850">Iris 'Forgetful Dumb Puppy' Waldron</a>

            <p>------------------</p>

            </p>

            <div id="more_psychos_defeated">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/654850">Iris 'Forgetful Dumb Puppy' Waldron</a> (125)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/655002">Emily Hart</a> (124)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/654998">Emma Harding</a> (87)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/655631">Nephthys Nephilium</a> (58)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/655471">Lucy Nysa</a> (57)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/654833">Shredster Khan</a> (51)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/655464">Zero Confidence</a> (50)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/654841">Nadia 'Loves Her Stockings' Ayers</a> (46)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/655058">Cael Winters</a> (46)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/655194">Henny Wuns</a> (43)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/animalPortraits/Thumbnails/100/magical_catgirl_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Fast Commute</h3>
            <p><i>Teleport scrolls used:</i> <b>200</b></p>
            <p>
                <a href="/pvp/lookatplayer/655002">Emily Hart</a>

            <p>------------------</p>

            </p>

            <div id="more_times_teleported_scroll">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/655002">Emily Hart</a> (200)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/654931">Kaede Yamabuki</a> (71)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/656754">Vanilla Cream</a> (8)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/655579">Camille Klinger</a> (7)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/656393">Sarah Ainsley</a> (5)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/657839">Aura Yinn</a> (4)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/656644">Lincoln Duffy</a> (3)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/657688">Jacqueline Tancara</a> (3)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/661742">Daenerys Stormborn</a> (3)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/654905">Xeir Silver</a> (2)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/jungle_girl_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Friend of the Fae</h3>
            <p><i>Times played with Jewdewfae:</i> <b>82</b></p>
            <p>
                <a href="/pvp/lookatplayer/654841">Nadia 'Loves Her Stockings' Ayers</a>

            <p>------------------</p>

            </p>

            <div id="more_jewdewfae_completions">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/654841">Nadia 'Loves Her Stockings' Ayers</a> (82)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/654848">Amber Legrand</a> (72)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/654850">Iris 'Forgetful Dumb Puppy' Waldron</a> (67)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/654890">Tara '🌌' Sapphire</a> (46)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/654891">Britt Wiccanshire</a> (45)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/654833">Shredster Khan</a> (44)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/655464">Zero Confidence</a> (42)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/654867">Rory Prismriver</a> (35)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/657839">Aura Yinn</a> (21)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/655631">Nephthys Nephilium</a> (19)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/plush_mistress_hei_lilah_lace.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Nerrrrrd!</h3>
            <p><i>Tomes read:</i> <b>14</b></p>
            <p>
                <a href="/pvp/lookatplayer/655493">Lara Ithilwen</a>

            <p>------------------</p>

            </p>

            <div id="more_lore_books_read">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/655493">Lara Ithilwen</a> (14)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/654848">Amber Legrand</a> (14)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/655464">Zero Confidence</a> (13)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/654929">Kyrah Binbow</a> (13)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/655473">Glenna Coy</a> (12)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/655631">Nephthys Nephilium</a> (9)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/656432">Droneslave Jupiter</a> (9)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/654902">Amy Clark</a> (8)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/655471">Lucy Nysa</a> (8)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/655449">Layla Fortwick</a> (6)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/itemsPortraits/Thumbnails/100/disembodied_chest_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Rub Rub Rub</h3>
            <p><i>XP gained as an inanimate item:</i> <b>24,390</b></p>
            <p>
                <a href="/pvp/lookatplayer/654993">Nadia's Boobies</a>

            <p>------------------</p>

            </p>

            <div id="more_inanimateXPEarned">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/654993">Nadia's Boobies</a> (24,390)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/655637">Elegant Stockings</a> (23,695)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/654882">Avery Winters</a> (22,815)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/654856">Joe Nobody</a> (22,155)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/655586">Jessica's 'Peerless' Will</a> (19,270)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/654976">Alex Paw</a> (18,695)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/655257">Tammy Paw</a> (17,115)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/657312">Bubble Mischa</a> (16,945)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/655207">Amelia Wyant</a> (16,720)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/657693">Clair Cote</a> (16,475)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/animalPortraits/Thumbnails/100/hound_mark_47_Edna_Schafer.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Petter off this Way</h3>
            <p><i>XP gained as an pet.:</i> <b>24,835</b></p>
            <p>
                <a href="/pvp/lookatplayer/654955">Allyssa Adams</a>

            <p>------------------</p>

            </p>

            <div id="more_petXPEarned">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/654955">Allyssa Adams</a> (24,835)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/654975">Diamonique Possessio</a> (24,105)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/655481">Marcus Gold</a> (22,210)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/654874">Gwen Majors</a> (21,730)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/655281">Precious Puppy</a> (19,655)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/654944">Elise Tund</a> (18,593)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/654941">Yvesza Sylwind</a> (17,935)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/655132">Squeaky Souris</a> (17,835)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/655145">Melina Mercy</a> (15,795)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/655009">Lianna Antheia</a> (15,375)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/harlot_babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Soul Seller</h3>
            <p><i>Net profit from selling to Lindella:</i> <b>24,897</b></p>
            <p>
                <a href="/pvp/lookatplayer/654850">Iris 'Forgetful Dumb Puppy' Waldron</a>

            <p>------------------</p>

            </p>

            <div id="more_lindella_net_profit">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/654850">Iris 'Forgetful Dumb Puppy' Waldron</a> (24,897)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/654890">Tara '🌌' Sapphire</a> (20,121)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/661218">Bitch Fifi</a> (16,005)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/654861">Minervas Petslut</a> (10,822)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/655194">Henny Wuns</a> (8,462)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/655493">Lara Ithilwen</a> (8,002)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/654946">Markus Drake</a> (6,961)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/655473">Glenna Coy</a> (6,885)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/655631">Nephthys Nephilium</a> (6,588)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/654867">Rory Prismriver</a> (5,891)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/cocky_cabbit_boy_Aurora_Ryall.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Soul Consumer</h3>
            <p><i>Net loss from buying from Lindella:</i> <b>8,354</b></p>
            <p>
                <a href="/pvp/lookatplayer/654931">Kaede Yamabuki</a>

            <p>------------------</p>

            </p>

            <div id="more_lindella_net_loss">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/654931">Kaede Yamabuki</a> (8,354)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/655002">Emily Hart</a> (3,795)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/654841">Nadia 'Loves Her Stockings' Ayers</a> (1,768)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/655570">Beatrice Greenberg</a> (1,600)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/654939">Matt Felgrand</a> (1,370)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/654833">Shredster Khan</a> (1,296)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/655201">Jesse Grey</a> (863)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/657576">Emmitt Osgood II</a> (785)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/655285">Princess Lily</a> (761)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/656713">Anishai Mercer</a> (727)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/massively_obese_woman_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Puppy Profit!</h3>
            <p><i>Profit from selling to Wuffie:</i> <b>13,650</b></p>
            <p>
                <a href="/pvp/lookatplayer/655194">Henny Wuns</a>

            <p>------------------</p>

            </p>

            <div id="more_wuffie_net_profit">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/655194">Henny Wuns</a> (13,650)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/654931">Kaede Yamabuki</a> (7,660)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/655002">Emily Hart</a> (1,870)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/657723">Hebijo Hikage</a> (1,030)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/664552">Alistier Blair IV</a> (1,000)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/655154">Piano Tumblepaws</a> (990)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/656678">Maya Amano</a> (950)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/655288">Jessie Nealy</a> (880)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/655582">Jessica Black</a> (770)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/658273">Byron Reinhart</a> (740)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/itemsPortraits/Thumbnails/100/sucker_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Puppy Purchaser</h3>
            <p><i>Loss from buying from Wuffie:</i> <b>2,200</b></p>
            <p>
                <a href="/pvp/lookatplayer/655224">Lefen Hunt</a>

            <p>------------------</p>

            </p>

            <div id="more_wuffie_net_loss">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/655224">Lefen Hunt</a> (2,200)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/654848">Amber Legrand</a> (1,810)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/654853">Eglan Lengo</a> (1,360)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/663873">June Emerson</a> (1,150)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/655473">Glenna Coy</a> (1,112)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/655058">Cael Winters</a> (940)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/654950">Tomiko Hewitt</a> (820)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/654871">Jackson Shadow</a> (710)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/655201">Jesse Grey</a> (700)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/655398">Aidyn Bright</a> (560)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/plush_mistress_hei_lilah_lace.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Exiled's Apprentice</h3>
            <p><i>Most spells learned from Skaldrlyr the Forbidden:</i> <b>169</b></p>
            <p>
                <a href="/pvp/lookatplayer/654867">Rory Prismriver</a>

            <p>------------------</p>

            </p>

            <div id="more_lorekeeper_spells_learned">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/654867">Rory Prismriver</a> (169)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/655710">Nyasa Meownya</a> (96)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/656776">Rime Hayward III</a> (43)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/655631">Nephthys Nephilium</a> (37)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/660914">Nene Lange</a> (32)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/654848">Amber Legrand</a> (31)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/657438">Rex Matthews</a> (29)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/655007">Max Juno</a> (27)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/665405">Finn Reeds</a> (25)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/664462">Aurelie Leroy II</a> (24)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/plush_mistress_hei_lilah_lace.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Dungeon Looter</h3>
            <p><i>Dungeon artifacts found:</i> <b>50</b></p>
            <p>
                <a href="/pvp/lookatplayer/655493">Lara Ithilwen</a>

            <p>------------------</p>

            </p>

            <div id="more_dungeon_artifacts_found">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/655493">Lara Ithilwen</a> (50)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/655473">Glenna Coy</a> (26)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/655285">Princess Lily</a> (23)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/659192">Asura Faust II</a> (14)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/658891">Jeanne Martens</a> (12)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/655389">Lexi Kitti</a> (9)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/665292">Lacey Bottoms</a> (8)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/657625">Eugenia Cyra</a> (5)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/655706">Anna Harvey</a> (5)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/661751">Bianca Daughtry</a> (5)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/plush_mistress_hei_lilah_lace.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Demonslayer</h3>
            <p><i>Dungeon demons defeated:</i> <b>25</b></p>
            <p>
                <a href="/pvp/lookatplayer/655493">Lara Ithilwen</a>

            <p>------------------</p>

            </p>

            <div id="more_dungeon_demons_defeated">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/655493">Lara Ithilwen</a> (25)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/655473">Glenna Coy</a> (1)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/655389">Lexi Kitti</a> (1)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/658964">Victorea Correa</a> (1)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/656058">Catherine Sherrill</a> (1)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/harlot_babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Dungeon Assassin</h3>
            <p><i>Dungeon points stolen from victims:</i> <b>26</b></p>
            <p>
                <a href="/pvp/lookatplayer/654850">Iris 'Forgetful Dumb Puppy' Waldron</a>

            <p>------------------</p>

            </p>

            <div id="more_dungeon_points_stolen">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/654850">Iris 'Forgetful Dumb Puppy' Waldron</a> (26)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/655473">Glenna Coy</a> (17)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/655389">Lexi Kitti</a> (15)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/655493">Lara Ithilwen</a> (10)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/654890">Tara '🌌' Sapphire</a> (2)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/656432">Droneslave Jupiter</a> (2)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/659717">Kate Chance</a> (2)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/657307">Mikhail Vigg</a> (1)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/655258">Jem Quinn</a> (1)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/655471">Lucy Nysa</a> (1)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/animalPortraits/Thumbnails/100/magical_catgirl_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Freeeeedom!</h3>
            <p><i>Times struggled back to an animate form:</i> <b>13</b></p>
            <p>
                <a href="/pvp/lookatplayer/655002">Emily Hart</a>

            <p>------------------</p>

            </p>

            <div id="more_times_struggled_free">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/655002">Emily Hart</a> (13)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/654946">Markus Drake</a> (10)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/657532">Maxine Wampler</a> (9)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/663489">Nikki High</a> (9)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/657916">Nadia Myrick</a> (8)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/663971">Bellona Goddess</a> (8)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/660899">Daphnes Hyrule II</a> (7)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/656186">Richard Buxton</a> (7)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/656754">Vanilla Cream</a> (7)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/662815">Amber Lucas</a> (7)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/harlot_babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Maximally Transmogrified</h3>
            <p><i>Autoselftransmogrification Deflector Devices used:</i> <b>76</b></p>
            <p>
                <a href="/pvp/lookatplayer/654850">Iris 'Forgetful Dumb Puppy' Waldron</a>

            <p>------------------</p>

            </p>

            <div id="more_transmogs_used">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/654850">Iris 'Forgetful Dumb Puppy' Waldron</a> (76)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/654841">Nadia 'Loves Her Stockings' Ayers</a> (64)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/654848">Amber Legrand</a> (60)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/654891">Britt Wiccanshire</a> (52)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/655464">Zero Confidence</a> (43)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/654833">Shredster Khan</a> (27)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/655201">Jesse Grey</a> (13)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/655002">Emily Hart</a> (12)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/655484">Rosario Wolford</a> (11)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/655579">Camille Klinger</a> (10)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/animalPortraits/Thumbnails/100/magical_catgirl_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Call of the Covenant</h3>
            <p><i>Covenant Callback Crystals used:</i> <b>20</b></p>
            <p>
                <a href="/pvp/lookatplayer/655002">Emily Hart</a>

            <p>------------------</p>

            </p>

            <div id="more_callback_crystals_used">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/655002">Emily Hart</a> (20)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/655493">Lara Ithilwen</a> (4)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/654857">Arya Vynf</a> (2)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/657628">Mitch Richard II</a> (2)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/655473">Glenna Coy</a> (2)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/661218">Bitch Fifi</a> (2)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/655570">Beatrice Greenberg</a> (2)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/656393">Sarah Ainsley</a> (1)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/655423">Luna Nocturna</a> (1)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/658472">Alba Hsu IV</a> (1)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/plush_mistress_hei_lilah_lace.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Dollyamory</h3>
            <p><i>Willpower restored from using Inflatable Sex Dolls:</i> <b>10,000</b></p>
            <p>
                <a href="/pvp/lookatplayer/655493">Lara Ithilwen</a>

            <p>------------------</p>

            </p>

            <div id="more_dolls_used">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/655493">Lara Ithilwen</a> (10,000)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/654850">Iris 'Forgetful Dumb Puppy' Waldron</a> (6,990)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/654848">Amber Legrand</a> (3,590)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/654843">Myrna Escobedo</a> (3,090)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/654890">Tara '🌌' Sapphire</a> (2,860)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/654841">Nadia 'Loves Her Stockings' Ayers</a> (1,995)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/655464">Zero Confidence</a> (1,485)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/654833">Shredster Khan</a> (920)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/655473">Glenna Coy</a> (900)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/654867">Rory Prismriver</a> (740)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/animalPortraits/Thumbnails/100/magical_catgirl_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Try Staying Home Today</h3>
            <p><i>Quests failed:</i> <b>50</b></p>
            <p>
                <a href="/pvp/lookatplayer/655002">Emily Hart</a>

            <p>------------------</p>

            </p>

            <div id="more_quests_failed">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/655002">Emily Hart</a> (50)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/664426">Prisca Olds II</a> (32)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/657559">Unagi Umino</a> (31)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/657438">Rex Matthews</a> (23)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/657983">Sue Lloyd</a> (22)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/659196">Ara Fenrirr</a> (22)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/665527">Luke Davidson</a> (21)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/657916">Nadia Myrick</a> (20)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/654859">Andrea Vanness</a> (19)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/657628">Mitch Richard II</a> (19)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/animalPortraits/Thumbnails/100/sheep_pet_karousel_k.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Adventure Time!</h3>
            <p><i>Quests passed:</i> <b>9</b></p>
            <p>
                <a href="/pvp/lookatplayer/654949">Abigail Jasione</a>

            <p>------------------</p>

            </p>

            <div id="more_quests_passed">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/654949">Abigail Jasione</a> (9)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/655464">Zero Confidence</a> (9)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/656225">Alex Fenton</a> (9)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/655007">Max Juno</a> (9)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/656068">Amy Coley</a> (9)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/654929">Kyrah Binbow</a> (9)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/657095">Molded Tosuityu II</a> (9)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/657438">Rex Matthews</a> (9)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/659227">Silver Fischer</a> (9)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/658325">Bobby Cooke III</a> (9)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/plush_mistress_hei_lilah_lace.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Wheels on the Bus</h3>
            <p><i>Total distance riding the bus:</i> <b>1,000</b></p>
            <p>
                <a href="/pvp/lookatplayer/655493">Lara Ithilwen</a>

            <p>------------------</p>

            </p>

            <div id="more_busrides">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/655493">Lara Ithilwen</a> (1,000)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/655002">Emily Hart</a> (957)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/654891">Britt Wiccanshire</a> (445)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/655473">Glenna Coy</a> (406)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/654850">Iris 'Forgetful Dumb Puppy' Waldron</a> (376)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/664368">Silen Lancaster IV</a> (371)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/661218">Bitch Fifi</a> (284)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/655194">Henny Wuns</a> (258)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/664426">Prisca Olds II</a> (254)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/654841">Nadia 'Loves Her Stockings' Ayers</a> (253)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/hypnotized_babysitter_Marisssa_Applethorn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Sex Swap Scoundrel</h3>
            <p><i>Total targets hit with TG Splash Orbs:</i> <b>135</b></p>
            <p>
                <a href="/pvp/lookatplayer/655375">Silke Hose</a>

            <p>------------------</p>

            </p>

            <div id="more_tg_bomb_hits">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/655375">Silke Hose</a> (135)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/655158">Sina Helminster</a> (78)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/654953">Absorption Lover</a> (77)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/659227">Silver Fischer</a> (69)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/654858">Rob Martinson</a> (60)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/658302">Lisa Rosewater</a> (59)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/655473">Glenna Coy</a> (54)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/660788">Ekaterina Moonlight</a> (50)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/654902">Amy Clark</a> (49)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/654998">Emma Harding</a> (48)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/plush_mistress_hei_lilah_lace.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Player Transformayer</h3>
            <p><i>Total PvP-PvP players transformed into items or pets:</i> <b>30</b></p>
            <p>
                <a href="/pvp/lookatplayer/655493">Lara Ithilwen</a>

            <p>------------------</p>

            </p>

            <div id="more_pvp_player_takedowns">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/655493">Lara Ithilwen</a> (30)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/654850">Iris 'Forgetful Dumb Puppy' Waldron</a> (19)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/655007">Max Juno</a> (16)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/654848">Amber Legrand</a> (15)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/657839">Aura Yinn</a> (13)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/661742">Daenerys Stormborn</a> (13)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/654877">Gemini Cyria</a> (11)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/657688">Jacqueline Tancara</a> (11)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/656644">Lincoln Duffy</a> (11)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/655579">Camille Klinger</a> (10)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/plush_mistress_hei_lilah_lace.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Level Shmevel</h3>
            <p><i>Sum of all PvP-PvP levels of players transformed into items or pets:</i> <b>200</b></p>
            <p>
                <a href="/pvp/lookatplayer/655493">Lara Ithilwen</a>

            <p>------------------</p>

            </p>

            <div id="more_pvp_total_level_takedowns">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/655493">Lara Ithilwen</a> (200)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/654850">Iris 'Forgetful Dumb Puppy' Waldron</a> (116)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/661742">Daenerys Stormborn</a> (85)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/654848">Amber Legrand</a> (74)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/657839">Aura Yinn</a> (62)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/655007">Max Juno</a> (61)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/656644">Lincoln Duffy</a> (50)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/655579">Camille Klinger</a> (48)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/657688">Jacqueline Tancara</a> (46)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/655389">Lexi Kitti</a> (46)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/plush_mistress_hei_lilah_lace.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">You Aren't the Boss of Me!</h3>
            <p><i>Times attacking boss NPCs:</i> <b>169</b></p>
            <p>
                <a href="/pvp/lookatplayer/655493">Lara Ithilwen</a>

            <p>------------------</p>

            </p>

            <div id="more_boss_totalBossAttacks">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/655493">Lara Ithilwen</a> (169)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/654850">Iris 'Forgetful Dumb Puppy' Waldron</a> (153)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/654848">Amber Legrand</a> (93)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/655002">Emily Hart</a> (77)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/654867">Rory Prismriver</a> (73)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/654846">Varin Elderblood</a> (62)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/654938">Witch Maria</a> (60)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/654858">Rob Martinson</a> (48)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/654857">Arya Vynf</a> (45)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/654907">Kieran Seekshadow</a> (32)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/wood_mannequin_Lux.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">I Am the Law!</h3>
            <p><i>Times attacking the Seekshadow thieves:</i> <b>29</b></p>
            <p>
                <a href="/pvp/lookatplayer/655579">Camille Klinger</a>

            <p>------------------</p>

            </p>

            <div id="more_boss_ratThiefAttacks">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/655579">Camille Klinger</a> (29)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/655493">Lara Ithilwen</a> (28)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/654850">Iris 'Forgetful Dumb Puppy' Waldron</a> (23)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/654846">Varin Elderblood</a> (20)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/654938">Witch Maria</a> (15)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/654860">Eador Masterson</a> (12)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/654907">Kieran Seekshadow</a> (11)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/654858">Rob Martinson</a> (11)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/655074">Erin Wolfe</a> (7)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/655002">Emily Hart</a> (6)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/animalPortraits/Thumbnails/100/magical_catgirl_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">A.B.S Agent-In-Training</h3>
            <p><i>Times attacking the Lady Lovebringer, PHD:</i> <b>65</b></p>
            <p>
                <a href="/pvp/lookatplayer/655002">Emily Hart</a>

            <p>------------------</p>

            </p>

            <div id="more_boss_lovebringerAttacks">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/655002">Emily Hart</a> (65)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/654850">Iris 'Forgetful Dumb Puppy' Waldron</a> (64)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/655493">Lara Ithilwen</a> (64)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/654867">Rory Prismriver</a> (45)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/654857">Arya Vynf</a> (33)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/654848">Amber Legrand</a> (33)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/654841">Nadia 'Loves Her Stockings' Ayers</a> (32)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/654858">Rob Martinson</a> (24)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/655631">Nephthys Nephilium</a> (22)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/655471">Lucy Nysa</a> (20)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/futinari_flasher_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Down With Donna!</h3>
            <p><i>Times attacking 'Aunt' Donna Milton:</i> <b>17</b></p>
            <p>
                <a href="/pvp/lookatplayer/654848">Amber Legrand</a>

            <p>------------------</p>

            </p>

            <div id="more_boss_donnaAttacks">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/654848">Amber Legrand</a> (17)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/654850">Iris 'Forgetful Dumb Puppy' Waldron</a> (15)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/655493">Lara Ithilwen</a> (8)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/655608">Crystal Moyer</a> (7)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/655771">Jenny Holloway</a> (6)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/655007">Max Juno</a> (4)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/655631">Nephthys Nephilium</a> (4)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/657719">Stoney Waver</a> (3)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/655320">Riley Sorell</a> (2)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/655005">Sonia Bon</a> (2)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/futinari_flasher_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Fae-Away</h3>
            <p><i>Times attacking Narcissa the Corrupted Lunar Fae:</i> <b>33</b></p>
            <p>
                <a href="/pvp/lookatplayer/654848">Amber Legrand</a>

            <p>------------------</p>

            </p>

            <div id="more_boss_faebossAttacks">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/654848">Amber Legrand</a> (33)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/654850">Iris 'Forgetful Dumb Puppy' Waldron</a> (16)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/655464">Zero Confidence</a> (15)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/656186">Richard Buxton</a> (9)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/655154">Piano Tumblepaws</a> (6)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/656876">Jessica Jefferies</a> (4)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/655007">Max Juno</a> (4)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/656285">Shara Wilde</a> (3)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/657438">Rex Matthews</a> (3)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/655443">Holly Soriano</a> (3)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/plush_mistress_hei_lilah_lace.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">This Town Ain't Big Enough</h3>
            <p><i>Times attacking Harley the Road Queen:</i> <b>69</b></p>
            <p>
                <a href="/pvp/lookatplayer/655493">Lara Ithilwen</a>

            <p>------------------</p>

            </p>

            <div id="more_boss_motorcycleGangAttacks">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/655493">Lara Ithilwen</a> (69)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/654938">Witch Maria</a> (45)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/654846">Varin Elderblood</a> (42)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/654850">Iris 'Forgetful Dumb Puppy' Waldron</a> (35)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/654867">Rory Prismriver</a> (23)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/654907">Kieran Seekshadow</a> (21)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/654858">Rob Martinson</a> (11)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/657373">Joni Baughman</a> (10)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/657693">Clair Cote</a> (9)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/656058">Catherine Sherrill</a> (9)
                    </p>

                </div>
            </div>

        </div>

    </div>

    <div id="topTypeList"></div>



</div>