﻿@model IEnumerable<TT.Domain.ViewModels.Location>

@section menu
{
    <li><a href="@Url.Action(MVC.PvP.Play())">Back to game</a></li>
    <li><a href="@Url.Action(MVC.MindControl.MindControlList())">Back to Mind Control List</a></li>
}

<div class="containerInner">

    <p>Where would you like to command your victim, @ViewBag.Victim.GetFullName(), to move to?  Your victim has @ViewBag.Victim.ActionPoints AP available.</p><br>

    @{

        foreach (var loc in Model)
        {
            <a href="@Url.Action(MVC.NPC.MoveVictimSend((int)ViewBag.Victim.Id, loc.dbName))">@loc.Name</a>
            <span>(@TT.Domain.Procedures.MindControlProcedures.GetAPCostToMove(ViewBag.Victim, loc.dbName) AP)</span><br>
        }

    }

</div>