﻿@model TT.Domain.World.DTOs.WorldDetail
@using TT.Domain.Statics
@using TT.Domain.World.DTOs

@{
    if (Model.TestServer)
    {
        <div class="specialBox specialBox2 specialNoticeBox">THIS SERVER IS FOR TESTING ONLY.  The game's live server with regular inround gameplay can be found at <a href="https://transformaniatime.com/">transformaniatime.com</a>.</div>
    }

    if (Model.TurnNumber >= PvPStatics.RoundDuration)
    {
        <div class="specialBox specialBox2 specialNoticeBox"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> The round has ended.  <a href="@Url.Action(MVC.Info.FAQ())#chaosMode">Chaos mode</a> will start soon when an admin can save the round leaderboards. <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span></div>
    }

    if (Model.InbetweenRoundsNonChaos)
    {
        <div class="specialBox specialBox2 specialNoticeBox"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> The round has ended but is NOT currently in chaos mode.  Check the news page for updates on when next round will start. <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span></div>
    }

    if (Model.TurnNumber < PvPStatics.RoundDuration && PvPStatics.ChaosMode)
    {
<div class="specialBox specialBox2"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> The game is currently in <a href="@Url.Action(MVC.Info.FAQ())#chaosMode">Chaos Mode</a> in which attacks are unlimited.  This is a rapid test mode that occurs in-between rounds and is not a representation of normal in-round gameplay. <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span></div>
    }

    if (Model.RoundStartsAt != null && Model.RoundStartsAt.Value.CompareTo(DateTime.UtcNow) > 0)
    {
        <div class="specialBox specialBox2 roundStartNoticeBox"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> The next round is scheduled to start in approximately <span id="nextRound">@Model.RoundStartsAt</span> <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span></div>
    }

    if (ViewBag.UpdateInProgress)
    {
        <p class="infoMessage error">TURN UPDATE IN PROGRESS</p>
    }

    if (!string.IsNullOrEmpty(ViewBag.Duel))
    {
        <p class="infoMessage specialBox2 specialNoticeBox">You are currently engaged in a duel with @ViewBag.Duel!  Click <a href="@Url.Action(MVC.Duel.DuelDetail((int)ViewBag.DuelId))">here</a> to see details.  <b class="bad">@ViewBag.TurnsLeft</b> turns remaining.</p>
    }

    if (!string.IsNullOrEmpty(ViewBag.QuestName))
    {
        <p class="specialBox specialBox2">You are currently engaged in the quest <b>@ViewBag.QuestName!</b>  Click <a href="@Url.Action(MVC.Quest.Questing())">here</a> to resume questing.</p>
    }

    if (Model.Boss_Donna == AIStatics.ACTIVE)
    {
        <div class="specialBox"> <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> Rumor has it a powerful sorceress known as Donna Milton is wandering the streets turning those she meets into animals... <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> </div>
    }

    if (Model.Boss_Valentine == AIStatics.ACTIVE)
    {
        @*
            <div class="specialBox"> <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> Rumor has it a powerful vampire lord known as Lord Valentine is lurking in his castle waiting for mortals to dare and fight him... <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> </div>
        *@
        <div class="specialBox"> <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> Rumor has it a powerful demon known as Lady Krampus is lurking in the shadows, waiting to punish the naughty.<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> </div>
    }

    if (Model.Boss_Bimbo == AIStatics.ACTIVE)
    {
        <div class="specialBox"> <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> Rumor has it a mad scientist is spreading a virus that is transforming many inhabitants of the city into her loyal bimbo army... <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> </div>
    }

    if (Model.Boss_Thief == AIStatics.ACTIVE)
    {
        <div class="specialBox"> <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> Rumor has it a pair of rat thieves of the infamous Seekshadow Guild are out and about pickpocketing any mage with a fat enough wallet... <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> </div>
    }

    if (Model.Boss_Sisters == AIStatics.ACTIVE)
    {
        <div class="specialBox"> <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> Rumor has it the Brisby twin sisters are having a fight and are seeking help from mages to help convince their other to try out a new lifestyle...<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> </div>
    }

    if (Model.Boss_Faeboss == AIStatics.ACTIVE)
    {
        <div class="specialBox"> <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> Rumor has it that the infamous corrupted fae Narcissa has started her conquest of the town, purging it of any non-fae... <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> </div>
    }

    if (Model.Boss_MotorcycleGang == AIStatics.ACTIVE)
    {
        <div class="specialBox"> <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> Rumor has it that a biker gang is in town seeking to recruit new members, and those who don't join become their trophies... <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> </div>
    }

}


