﻿@model IEnumerable<TT.Domain.Models.QuestStart>

@section menu
{
    <li><a href="@Url.Action(MVC.PvP.Play())">Back to game</a></li>
    <li>@Ajax.ActionLink("All Quests", MVC.QuestWriter.ShowAllQuestStarts(), new AjaxOptions {UpdateTargetId = "swapMe", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnSuccess = "success", OnFailure = "fail", OnBegin = "waiting"}, new {@class = ""})</li>
    <li>@Ajax.ActionLink("Help", MVC.QuestWriter.Help(), new AjaxOptions {UpdateTargetId = "swapMe", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnSuccess = "success", OnFailure = "fail", OnBegin = "waiting"}, new {@class = ""})</li>
}

<div class="containerInner">

    <br>
    <div id="loadNotice">
        <div id="loading" class="good"></div>
    </div>
    <br>

    <div id="swapMe">

        @{
            <h4>Other Quests:</h4>

            foreach (var q in Model)
            {
                <p> @Ajax.ActionLink(q.Name, MVC.QuestWriter.QuestStart(q.Id), new AjaxOptions { UpdateTargetId = "swapMe", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnSuccess = "success", OnFailure = "fail", OnBegin = "waiting" }, new { @class = "editButton" })</p>
            }

        }

        <br>

        <p>
            @Ajax.ActionLink("-- New Quest --", MVC.QuestWriter.QuestStart(-1), new AjaxOptions { UpdateTargetId = "swapMe", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnSuccess = "success", OnFailure = "fail", OnBegin = "waiting" }, new { @class = "newButton" })
        </p>

    </div>

</div>

<script>

    $(document).ready(function () {
        $("#loadNotice").hide();
    });

    function success() {
        $("#loadNotice").show();
        var date = new Date();
        var timestamp = date.toString();
        $("#loading").html("Success!  " + timestamp);
        $("#loading").addClass("good");
        $("#loading").removeClass("bad");

        setTimeout(function () { $("#loadNotice").hide(); }, 3500);

    }

    function fail() {
        $("#loadNotice").show();
        $("#loading").html("INTERNAL SERVER ERROR");

        $("#loading").addClass("bad");
        $("#loading").removeClass("good");
        alert("Juderp!  Internal server error, unable to do this.");
    }

    function waiting() {
        $("#loadNotice").show();
        $("#loading").removeClass("bad");
        $("#loading").removeClass("good");
        $("#loading").html("processing...");
    }

    function loadUsedVariablesFromServer() {
        $.getJSON("/QuestWriter/ShowAllUsedQuestVariables/" + questId, function (data) {
            allVariablesList = data;
        }).then(function () {
            $("#allVariables").html("<br>All variables referenced in this quest:<br>");

            for (var i = 0; i < allVariablesList.length; i++) {
                $("#allVariables").append("<b>" + allVariablesList[i] + "</b><br>");
            }

        });
    }

    // populate the the jump to dropdown with all states found for the current quest
    function loadConnectionDropdownValues() {
        $.getJSON("/QuestWriter/QuestStatesInQuestJSON/" + questId, function (data) {
            allStates = data;
        }).then(function () {
            populateConnectionDropdown();
            setDropdownsToValues(fromValue, toValue, toValueFail);
        });
    }

    // load the values for the jump to state dropdown
    function populateConnectionDropdown() {

        for (var i = 0; i < allStates.length; i++) {
            var opt = allStates[i];


            fromStatesDropdown.append($('<option>', {
                value: opt.Id,
                text: opt.StateName
            }));


            toStatesDropdown.append($('<option>', {
                value: opt.Id,
                text: opt.StateName
            }));

            toStatesDropdownFail.append($('<option>', {
                value: opt.Id,
                text: opt.StateName
            }));

     
        }
    }

    // set value of jump to quest state dropdown
    function setDropdownsToValues(from, to, failTo) {
        fromStatesDropdown.val(from);
        toStatesDropdown.val(to);

        if (failTo) {
            toStatesDropdownFail.val(failTo);
        }
    }

</script>

<style>
    #loadNotice {
        background-color: #ffd76a;
        text-align: center;
        border: 1px solid darkred;
    }

    input {
        width: 100%;
    }

    textarea {
        height: 300px;
        width: 100%;
    }

    .short {
        height: 60px;
        width: 100%;
    }

    .tiny {
        width: 40px;
    }

    td {
        padding: 3px;
        border: 1px solid black;
    }

    .newButton {
        background-color: lightgreen;
        border: 2px solid darkgreen;
        border-radius: 5px;
        padding-left: 3px;
        padding-right: 3px;
        margin: 3px;
        position: relative;
    }

    .editButton {
        background-color: #ffd76a;
        border: 2px solid darkorange;
        border-radius: 5px;
        padding-left: 3px;
        padding-right: 3px;
        margin: 3px;
        position: relative;
    }

    .parentButton {
        background-color: #eb99ff;
        border: 2px solid darkviolet;
        border-radius: 5px;
        padding-left: 3px;
        padding-right: 3px;
        margin: 3px;
        position: relative;
    }

    .deleteButton {
        background-color: orangered;
        border: 2px solid darkviolet;
        border-radius: 5px;
        padding-left: 3px;
        padding-right: 3px;
        margin: 3px;
        position: relative;
    }

    .helpButton {
        border: 3px solid blue;
        border-radius: 4px;
        background-color: lightblue;
        padding: 2px;
        cursor: pointer;
    }
</style>
