﻿@model IEnumerable<TT.Domain.Models.QuestStart>

@{
    <h4>All Quests</h4>

    foreach (var q in Model.ToList())
    {
        <p> @Ajax.ActionLink(q.Name, MVC.QuestWriter.QuestStart(q.Id), new AjaxOptions { UpdateTargetId = "swapMe", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnSuccess = "success", OnFailure = "fail", OnBegin = "waiting" }, new { @class = "editButton" })</p>
    }

    <p>
        @Ajax.ActionLink("-- New Quest --", MVC.QuestWriter.QuestStart(-1), new AjaxOptions { UpdateTargetId = "swapMe", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnSuccess = "success", OnFailure = "fail", OnBegin = "waiting" }, new { @class = "newButton" })
    </p>

}
