﻿@section menu
{
    <li><a href="@Url.Action(MVC.PvP.Play())">Back to game</a></li>
    <li><a href="@Url.Action(MVC.Donator.List())">Back</a></li>
}

<div class="containerInner">

    <h1>Edit Donator</h1>


    @using (Html.BeginForm(MVC.Donator.CreateSend(), FormMethod.Post))
    {

        <label>UserId</label>
        @Html.TextBox("UserId")

        <br><br>

        <label>Patreon Name</label>
        @Html.TextBox("PatreonName")

        <br><br>

        <label>Tier (1, 2, or 3)</label>
        @Html.TextBox("Tier", null, new { @type = "number", @min = "0", @max = "3" })

        <br><br>

        <label>Raw Donation Amount</label>
        @Html.TextBox("ActualDonationAmount")

        <br><br>

        <label>Misc Notes</label>
        @Html.TextArea("SpecialNotes")

        <br><br>

        <input type="submit" value="Save">
    }
    
    <hr>
    
    <div>
        Account Id lookup <input id ="lookupName" type="text" placeholder="account name"> <button class="btn" onclick="lookup()">Find</button><br>
        <b id="answer" class="copyable" data-clipboard-text=""></b>
    </div>

</div>

<script>
   
    $.getScript("https://cdn.jsdelivr.net/clipboard.js/1.5.12/clipboard.min.js")
        .done(function () {
            new Clipboard('.copyable');
        })
        .fail(function () {
            alert("Failed to load clipboard.");
        });

    function lookup() {
        $.ajax({
            url: "/PvPAdmin/GetMembershipIdFromUsername?name=" + $("#lookupName").val(),
        }).done(function (data) {
            $("#answer").html(data);
            $('#answer').attr('data-clipboard-text', data);
        });
    }

</script>