﻿@model IEnumerable<TT.Domain.Identity.DTOs.UserDonatorDetail>

@section menu
{
    <li><a href="@Url.Action(MVC.PvP.Play())">Back to game</a></li>
    <li><a href="@Url.Action(MVC.PvPAdmin.Index())">Back to Admin</a></li>
    <li><a href="@Url.Action(MVC.Donator.List(0))">Show All Tiers</a></li>
    <li><a href="@Url.Action(MVC.Donator.List(1))">Show Tier 1+</a></li>
    <li><a href="@Url.Action(MVC.Donator.List(2))">Show Tier 2+</a></li>
    <li><a href="@Url.Action(MVC.Donator.List(3))">Show Tier 3+</a></li>
}

<div class="containerInner">
    <h1>Manage Donators</h1>

    <a href="@Url.Action(MVC.Donator.Create())">New Donator</a>

    <table id="donatorTable">
        <thead>
        <tr>
            <td>Account Id</td>
            <td>Account Name</td>
            <td>Donator Name</td>
            <td>Tier</td>
            <td>Actual Amount</td>
            <td>Notes</td>
            <td>Edit</td>
        </tr>
        </thead>
        <tbody>

        @{
            foreach (var d in Model)
            {
                <tr style="background-color: @d.GetStyleColor()">
                    <td class="copyable" data-clipboard-text="@d.Id">@d.Id</td>
                    <td class="copyable" data-clipboard-text="@d.UserName">@d.UserName</td>
                    <td class="copyable" data-clipboard-text="@d.Donator.PatreonName">@d.Donator.PatreonName</td>
                    <td>@d.Donator.Tier</td>
                    <td>@d.Donator.ActualDonationAmount</td>
                    <td>@d.Donator.SpecialNotes</td>
                    <td><a href="@Url.Action(MVC.Donator.Edit(d.Donator.Id))">[Edit]</a></td>
                </tr>
            }
        }


        </tbody>

    </table>

    <a href="@Url.Action(MVC.Donator.Create())">New Donator</a>
</div>

<style>
    table, td {
        padding: 5px;
        border: 1px solid black;
    }
</style>

<script>
    $('#donatorTable').dataTable({
        "lengthMenu": [[50, 100, 200, -1], [50, 100, 200, "All"]]
    });

    $.getScript("https://cdn.jsdelivr.net/clipboard.js/1.5.12/clipboard.min.js")
        .done(function () {
            new Clipboard('.copyable');
        })
        .fail(function () {
            alert("Failed to load clipboard.");
        });

</script>