﻿@model TT.Domain.ClassifiedAds.DTOs.RPClassifiedAdDetail
@{
    ViewBag.Title = $"{(ViewBag.Edit ?? false ? "Edit" : "Create")} RP Classified Ad";
}

@section menu
{
    <li><a href="@Url.Action(MVC.PvP.Play())">Back to game</a></li>
    <li><a href="@Url.Action(MVC.Settings.MyRPClassifiedAds())">My RP Classified Ads</a></li>
}

<div class="containerInner">
    <h1>@(ViewBag.Edit ?? false ? "Edit" : "Create") RP Classified Ad</h1>

    @using (Html.BeginForm(ViewBag.Edit ?? false ? "UpdateRPClassifiedAd" : "CreateRPClassifiedAd", "Settings", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="messageInfoContainer clearfix">

            <span class="charCounter" id="textRemaining"></span>
        </div>

        <div class="messageInfoContainer clearfix">
           Write a short title for your classified ad.  (Must be between 5 and 35 characters)
            <span class="charCounter" id="Title_textRemaining"></span>
        </div>
        @Html.TextAreaFor(m => m.Title, new { @class = "text-container" })

        <div class="messageInfoContainer clearfix">
            Write a general description of what kind of roleplaying experience you are looking for.  (Must be between 50 and 300 characters)
            <span class="charCounter" id="Text_textRemaining"></span>
        </div>
        @Html.TextAreaFor(m => m.Text, new { @class = "text-container" })

        <div class="messageInfoContainer clearfix">
            What themes would you like this RP <b class="good">TO</b> contain?   (optional, limit 200 characters)
            <span class="charCounter" id="YesThemes_textRemaining"></span>
        </div>
        @Html.TextAreaFor(m => m.YesThemes, new { @class = "text-container" })

        <div class="messageInfoContainer clearfix">
            What themes would you like this RP <b class="bad">TO NOT</b> contain?   (optional, limit 200 characters)
            <span class="charCounter" id="NoThemes_textRemaining"></span>
        </div>
        @Html.TextAreaFor(m => m.NoThemes, new { @class = "text-container" })

    <div class="messageInfoContainer clearfix">
        What times are you best available for this RP?  Include your time zone   (optional, limit 70 characters).
        <span class="charCounter" id="Timezone_textRemaining"></span>
    </div>
    @Html.TextAreaFor(m => m.PreferredTimezones, new { @class = "text-container" })

        @Html.HiddenFor(m => m.Id)

        <br>
        <input type="submit" class="btn btn-chat" value="Send">

    }

</div>

<script>
    $(document).ready(function () {
        var TextMax = 300;
        var YesThemesMax = 200;
        var NoThemesMax = 200;
        var TitleMax = 35;
        var PreferredTimezonesMax = 70;

        $('#Text_textRemaining').html(TextMax + ' characters remaining');
        $('#YesThemes_textRemaining').html(YesThemesMax + ' characters remaining');
        $('#NoThemes_textRemaining').html(NoThemesMax + ' characters remaining');
        $('#Title_textRemaining').html(TitleMax + ' characters remaining');
        $('#Timezone_textRemaining').html(PreferredTimezonesMax + ' characters remaining');

        $('#Text').on('input', function () {
            var length = $(this).val().length;
            var remaining = TextMax - length;

            $('#Text_textRemaining').html(remaining + ' characters remaining');
        });

        $('#YesThemes').on('input', function () {
            var length = $(this).val().length;
            var remaining = YesThemesMax - length;

            $('#YesThemes_textRemaining').html(remaining + ' characters remaining');
        });

        $('#NoThemes').on('input', function () {
            var length = $(this).val().length;
            var remaining = NoThemesMax - length;

            $('#NoThemes_textRemaining').html(remaining + ' characters remaining');
        });

        $('#Title').on('input', function () {
            var length = $(this).val().length;
            var remaining = TitleMax - length;

            $('#Title_textRemaining').html(remaining + ' characters remaining');
        });

        $('#PreferredTimezones').on('input', function () {
            var length = $(this).val().length;
            var remaining = PreferredTimezonesMax - length;

            $('#Timezone_textRemaining').html(remaining + ' characters remaining');
        });
    });
</script>

<style>
    .bad {
        color: #E18948 !important;
    }

    .good {
        color: #77D777 !important;
    }

    .text-container {
        margin-bottom: 20px;
    }
</style>