﻿@using TT.Domain.Procedures

@model IEnumerable<TT.Domain.Identity.DTOs.StatDetail>
@{
    ViewBag.Title = $"{ViewBag.Name}'s {TT.Domain.Statics.PvPStatics.AlphaRound} Statistics";
}

@section menu
{
    <li><a href="@Url.Action(MVC.PvP.Play())">Back to game</a></li>
    <li><a href="@Url.Action(MVC.PvP.LookAtPlayer((int) ViewBag.PlayerId))">Look at Player</a></li>
    <li><a href="@Url.Action(MVC.Leaderboard.PlayerStatsLeaders())">Global Statistics</a></li>
}

<div class="containerInner">
    <h1>@ViewBag.Name's @TT.Domain.Statics.PvPStatics.AlphaRound Statistics</h1>
    <p><i>Note:  Achievements marked with <span class="playerMediatingNotification">*</span> are reset upon character reroll.</i></p>
    <div class="row">
        @{
            foreach (var f in TT.Domain.Procedures.StatsProcedures.StatTypesMap.Keys)
            {
                var ach = Model.FirstOrDefault(a => a.AchievementType == f);
                if (ach != null)
                {
                    <div class="col-md-4 stats-leader">
                        <img src="~/Images/PvP/achievements/@StatsProcedures.StatTypesMap[f].ImageUrl" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">@StatsProcedures.StatTypesMap[f].FriendlyName
                        
                        @{ 
                            if (StatsProcedures.StatTypesMap[f].ResetsOnReroll)
                            {
                                <span class="playerMediatingNotification">*</span>
                            }
                        }
                        
                        </h3>
                        <p><i>@StatsProcedures.StatTypesMap[f].Description:</i> <b>@String.Format("{0:n0}", ach.Amount)</b></p>
                    </div>
                }
            }
        }
    </div>
</div>