﻿@section menu
{
    @Html.Partial(MVC.Chat.Views._ChatMenu)
}

<div id="infoBar" style="display:none">
    
</div>

@* Create Chat Modal *@
<div class="modal fade" id="createChatRoomModal" tabindex="-1" role="dialog" aria-labelledby="createChatRoomLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title text-center" id="createChatRoomLabel">Create Chat Room</h4>
            </div>
            <div class="modal-body">
                <form class="form" name="createChatRoomForm" id="createChatRoomForm">
                    <div class="form-group">
                        <label for="newRoomName">Name</label>
                        <input type="text" class="form-control" id="newRoomName">
                    </div>

                    <button type="submit" class="btn btn-default">Create Room</button>
                </form>
            </div>
        </div>
    </div>
</div>

@* Create Chat Modal *@
<div class="modal fade" id="listChatRoomsModal" tabindex="-1" role="dialog" aria-labelledby="listChatRoomsLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title text-center" id="listChatRoomsLabel">Chat Rooms</h4>
            </div>
            <div class="modal-body" id="roomList">
                
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery.signalR-2.0.3.min.js" type="text/javascript"></script>
<script src="~/Scripts/tt.api.js"></script>
<script src="~/Scripts/tt.chat.js"></script>
<script src="~/Scripts/tt.chat.operations.js"></script>
<script type="text/javascript">
$(function () {
    ChatOperationsModule.initialize();
});
</script>