﻿@section menu
{
    <li><a href="@Url.Action(MVC.PvP.Play())">Back to game</a></li>
    <li><a href="@Url.Action(MVC.Covenant.MyCovenant())">Back to My Covenant</a></li>
}

<div class="containerInner">

    <h3>Claim This Location as Covenant Safeground</h3>

    <p>As the leader of your covenant, you can choose to claim your current location as a covenant safeground as long as it is not in the streets and you have enough Arpeyjis in your covenant's coffers.  Once you do this, you will not be able to move for the remainder of the round.  Covenant safegrounds can be decorated and upgraded with special furniture that offers special benefits to you and your members. Your covenant must have at least five players who are animate and at level three or higher to do this.</p>

    <p>Would you like to claim this location, <b>@ViewBag.MyLocation</b>, and set it as your covenant's homebase?</p>

    <p>You have <b>@ViewBag.CovenantMoney</b> Arpeyjis in your Covenant's chest.  You will need 2,500.</p>

    <p><a href="@Url.Action(MVC.Covenant.ClaimLocationSend())">Claim this location (2,500 Arpeyjis)</a></p>
</div>