﻿@model TT.Domain.ViewModels.CovenantViewModel
@using TT.Domain.Statics

@section menu
{
    <li><a href="@Url.Action(MVC.PvP.Play())">Back to game</a></li>
    <li><a href="@Url.Action(MVC.Covenant.CovenantList())">View All Covenants</a></li>
    <li><a href="@Url.Action(MVC.Covenant.MyCovenant())">Back to My Covenant</a></li>
}

<div class="containerInner text-center">
    <p class="covHeader"><span class="covName">@Model.dbCovenant.Name</span></p>
    <p>
        <b>@Model.dbCovenant.SelfDescription</b>
    </p>
    <p>
                @{
            if (!Model.dbCovenant.HomeLocation.IsNullOrEmpty())
            {
                <i>This covenant has a safeground at <b>@LocationsStatics.LocationList.GetLocation.FirstOrDefault(l => l.dbName == Model.dbCovenant.HomeLocation).Name</b> and has enchanted <b>@ViewBag.LocationsControlled</b> locations.</i>
            }
        }
    </p>
    <a href="@Url.Action(MVC.PvP.LookAtPlayer(Model.Leader.Id))">Led by @Model.Leader.GetFullName()</a>
</div>

<div class="onlinePlayersWrapperBG">
    <div class="row boxContainer">
@foreach (var p in Model.Members.OrderByDescending(c => c.Player.Level).ThenByDescending(c => c.Player.XP))
    {
                <div class="col-md-2 col-sm-4 col-xs-12 charaBox">
                    <div class="charaBoxInner">
                        <div>
                            <p>

                          @Html.Partial(MVC.PvP.Views.Player_Partial, p)     
                            </p>
                        </div>
                    </div>
                </div>
    }
    </div>
</div>
