﻿@model IEnumerable<TT.Domain.Models.CovenantLog>

@section menu
{
    <li><a href="@Url.Action(MVC.PvP.Play())">Back to game</a></li>
    <li><a href="@Url.Action(MVC.Covenant.MyCovenant())">Back to My Covenant</a></li>
}

<div class="containerInner">
    <h3>Covenant Activity</h3>
    <ul>

        @{
            foreach (var l in Model)
            {
                <li>
                    @{
                if (l.IsImportant)
                {
                    <span><b>@Html.Raw(l.Message)</b></span>
                }
                else
                {
                    <span>@Html.Raw(l.Message)</span>
                }
                    }

                    <span class="timeago">@TT.Web.CustomHtmlHelpers.HtmlHelpers.DatetimeToTimeago(l.Timestamp)</span>
                </li>
            }
        }

    </ul>
</div>
