﻿@model TT.Domain.Models.Covenant

@section menu
{
    <li><a href="@Url.Action(MVC.PvP.Play())">Back to game</a></li>
    <li><a href="@Url.Action(MVC.Covenant.MyCovenant())">Back to My Covenant</a></li>
}

<div class="infoMessage error">
    @Html.Raw(ViewBag.ValidationMessage)
</div>
<div class="containerInner">
    <h3>Start A New Covenant</h3>
    <p>You are not in a covenant--so why not start your own?</p>
    @using (Html.BeginForm(MVC.Covenant.StartNewCovenantSubmit(), FormMethod.Post))
    {
        <p>Name</p>
        @Html.TextBoxFor(m => m.Name, new { autofocus = true })<br>
        @Html.ValidationMessageFor(m => m.Name)
        <p>A short description of this covenant:</p>
        @Html.TextBoxFor(m => m.SelfDescription)<br>
        @Html.ValidationMessageFor(m => m.SelfDescription)
        <br>
        <input type="submit" value="Save">
    }
</div>