﻿@model IEnumerable<TT.Domain.ViewModels.FurnitureViewModel>

@section menu
{
    <li><a href="@Url.Action(MVC.PvP.Play())">Back to game</a></li>
    <li><a href="@Url.Action(MVC.Covenant.MyCovenant())">Back to My Covenant</a></li>
}

<div class="containerInner">
    <h1>Available Covenant Furniture Contracts</h1>

    <p>Human Resource Furniture(TM) proudly pairs people desiring a temporary placement as a piece of furniture with eager owners for a price.  These enchanted household belongings are highly in demand as the rare and powerful spells that transform them also allow them to return various gifts and magics to their new owners. </p>

    <p>Your covenant has <span title="Arpeyjis" class="icon icon-money"></span><b>@ViewBag.CovenantMoney</b> Arpeyjis available to spend.  Your covenant is able to hold at most <b>@ViewBag.FurnitureLimit</b> pieces of furniture in your safeground.  Upgrade your safeground to be able to keep more at once.</p>
    @{
        foreach (var f in Model.OrderBy(l => l.dbFurniture.HumanName))
        {
            @Html.Partial(MVC.Covenant.Views.partial.FurnitureViewModel, f);

                                                      if (ViewBag.playerIsCovenantLeader || ViewBag.IAmCaptain)
                                                      {
                                                          <a href="@Url.Action(MVC.Covenant.PurchaseFurniture(f.dbFurniture.Id))">Purchase Contract</a>
                                                      }

                                                    <hr>
        }

    }
</div>
