﻿<!DOCTYPE html>
<html lang="en">
  <head>
  <script src="~/Scripts/jquery-2.1.0.js"></script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="referrer" content="never">
    <meta name="referrer" content="strict-origin-when-cross-origin">
    <title>@(string.IsNullOrEmpty(ViewBag.Title) ? "Transformania Time" : $"{ViewBag.Title} - Transformania Time")</title>
    <script src="~/js/datatables/1.10.11/jquery.dataTables.min.js"></script>
    <script src="~/js/datatables/1.10.11/dataTables.bootstrap.min.js"></script>
    <script src="~/js/datatables-responsive/2.0.2/dataTables.responsive.min.js"></script>
    <script src="~/js/datatables-responsive/2.0.2/responsive.bootstrap.min.js"></script>
    <script src="~/Scripts/moment.min.js"></script>

    <!-- Bootstrap -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
	<link href="~/Content/custom.min.css" rel="stylesheet">
	<link href="~/Content/PvP.css" rel="stylesheet">
    <link href="~/js/datatables/1.10.11/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="~/js/datatables-responsive/2.0.2/responsive.dataTables.min.css" rel="stylesheet">

    <link rel="shortcut icon" href="/Images/PvP/Icons/tt_logo.ico">
    @RenderSection("head", required: false)
  </head>


  <body>
 <div class="container" id="siteTop">
 <nav class="navbar navbar-default outsideContainer navbarTT1">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
		@Html.Partial(MVC.Shared.Views._MenuPartial)
      </ul>

      <ul class="nav navbar-nav navbar-right">
		@Html.Partial(MVC.Shared.Views._LoginPartial)
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
@if (IsSectionDefined("menu"))
{
    <nav class="navbar navbar-default outsideContainer navbarTT2">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                <ul class="nav navbar-nav" style="width:100%;">
                    @RenderSection("menu")
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
}
<div>
    <p id="resultContainer" class="infoMessage result">@Html.Raw(ViewBag.Result)</p>
    <p id="errorContainer" class="infoMessage error">@Html.Raw(ViewBag.ErrorMessage)</p>
    <p id="suberrorContainer" class="infoMessage suberror">@Html.Raw(ViewBag.SubErrorMessage)</p>
</div>
    @RenderBody()
@if (IsSectionDefined("menubottom"))
{
    <nav class="navbar navbar-default outsideContainer navbarTT2">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-3">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-3">
                <ul class="nav navbar-nav" style="width: 100%;">
                    @RenderSection("menubottom")
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
}
</div>

      <div class="container" >
          <footer class="outsideContainer footerTT">
              <a href="#siteTop">[ Back to top ]</a> || <a href="@Url.Action(MVC.Account.TermsOfService())" target="_blank">[ Terms of Service ]</a> || <a href="@Url.Action(MVC.Account.PrivacyPolicy())" target="_blank">[ Privacy Policy ]</a> || Transformania Time :: 2013 - @DateTime.UtcNow.Year
          </footer>
      </div>

      <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="~/js/bootstrap/3.3.1/bootstrap.min.js"></script>
        @RenderSection("scripts", required: false)
      <script src="~/Scripts/boxesResize.js"></script>
  </body>
</html>