﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}
<div class="container-inner" style="padding: 20px;">
    <hgroup class="title">
        <h1 class="error">Juderp!</h1>
        <h2 class="error">An error occurred while processing your request.</h2>
        <p>You might still be able to use certain portions of the site:</p>
        <p><a href="@Url.Action(MVC.Chat.Index("global"))" target="_blank">Global Chat</a></p>
        <p><a href="@Url.Action(MVC.Messages.Index())">Inbox</a></p>
        <p><a href="@Url.Action(MVC.Contribution.Contribute())">Submit Content</a></p>
        
        <p>The following information can be used by developers to resolve this issue.  Please repost this on the forums so we may better assess the problem.</p>

        <p><pre>Error message:  @Model.Exception.Message</pre></p>

        <p><pre>Inner exception:  @Model.Exception.InnerException</pre></p>
        
        <p><pre>Stack trace:</pre>@Model.Exception.StackTrace<p>

        @try
    {
        if (User.IsInRole(TT.Domain.Statics.PvPStatics.Permissions_Killswitcher))
        {
            <p class="bad">Activate this link when and ONLY when you and a number of animate players are receiving error screens and are unable to play.  Clicking this link will temporarily disable turn updates so bots do not attacker players who are incapable of responding. <a href="@Url.Action(MVC.PvPAdmin.Killswitch())">CLICK HERE TO ACTIVATE KILLSWITCH.</a></p>
    }
}
catch
{

}
    </hgroup>
</div>