﻿@model TT.Domain.ViewModels.ReportViewModel

@section menu
{
    <li><a href="@Url.Action(MVC.PvP.Play())">Back to game</a></li>
}

<div class="containerInner listdots">

    <h1>Ask a Question</h1>

    <p>You may use this page to reach out to the moderators if you have a question. Please do not use this form to report a player or a bug. If you are doing either, please use their appropriate tools.</p>

    @using (Html.BeginForm(MVC.Report.SubmitReport(), FormMethod.Post))
    {
        @Html.ValidationSummary()
        @Html.AntiForgeryToken()

        <label>What would you like to ask?</label>
        <div class="messageInfoContainer clearfix">
            <span class="charCounter" id="textRemaining"></span>
        </div>
        @Html.TextAreaFor(m => m.Reason, new { autofocus = true, maxlength = 1000, rows = 5, @class = "text-container" })
        @Html.ValidationMessageFor(m => m.Reason)

        @Html.HiddenFor(m => m.ReportedId)

        <br>

        <input type="submit" class="btn btn-chat" value="Send">
    }


</div>

<script>
    $(document).ready(function () {
        var max = 1000;
        $('#textRemaining').html(max + ' characters remaining');

        $('#reason').on('input', function () {
            var length = $(this).val().length;
            var remaining = max - length;

            $('#textRemaining').html(remaining + ' characters remaining');
        });
    });
</script>