﻿@model TT.Domain.ViewModels.ReportViewModel

@section menu
{
    <li><a href="@Url.Action(MVC.PvP.Play())">Back to game</a></li>
}

<div class="containerInner listdots">

    <h1>Report Player</h1>

    <p>You may use this page to report suspicious activity from <b>@Model.Name</b>.  Please include a detailed reason why this report is being made.</p>

    <p>Valid reasons to report another player <span class="good">ARE:</span></p>

    <ul>
        <li>Suspecting a player of multi-account abuse.</li>
        <li>Cheating or active exploit of a bug to give an unfair advantage.</li>
    </ul>

    <p>Valid reasons to report another player <span class="bad">ARE NOT:</span></p>

    <ul>
        <li>Reporting a player who defeated you in PvP mode when you didn't want them to.  PvP mode is PvP mode, you may be attacked by anyone at anytime.</li>
        <li>Reporting a bug in the game.  Reporting bugs should be done via the official Discord server.</li>
        <li>Reporting harassing messages sent via the ingame messaging system.  Use the "Report this message as abusive" link when the offending message is open instead.</li>
    </ul>

    @using (Html.BeginForm(MVC.Report.SubmitReport(), FormMethod.Post))
    {
        @Html.ValidationSummary()
        @Html.AntiForgeryToken()

        <label>Reason for report:</label>
        <div class="messageInfoContainer clearfix">
            <span class="charCounter" id="textRemaining"></span>
        </div>
        @Html.TextAreaFor(m => m.Reason, new { autofocus = true, maxlength = 1000, rows = 5, @class = "text-container" })
        @Html.ValidationMessageFor(m => m.Reason)

        @Html.HiddenFor(m => m.ReportedId)

        <br>

        <input type="submit" class="btn btn-chat" value="Send">
    }


</div>

<script>
    $(document).ready(function () {
        var max = 1000;
        $('#textRemaining').html(max + ' characters remaining');

        $('#reason').on('input', function () {
            var length = $(this).val().length;
            var remaining = max - length;

            $('#textRemaining').html(remaining + ' characters remaining');
        });
    });
</script>