﻿@model TT.Domain.Models.NewsPost

@section menu
{
    <li><a href="@Url.Action(MVC.Moderator.ListNewsPosts())">Back</a></li>
}

<div class="containerInner listdots">
    <h1>Edit News Post</h1>

    @using (Html.BeginForm(MVC.Moderator.EditNewsPostSend(), FormMethod.Post))
    {

        <label>Timestamp:</label>
        @Html.TextBoxFor(n => n.Timestamp)

        <label>Message:</label>
        @Html.TextAreaFor(n => n.Text, new { autofocus = true })

        <label>Archived?</label>
        @Html.DropDownListFor(n => n.ViewState, new SelectList(
                  new List<Object>{
                      new { value = 0, text = "Hidden"  },
                      new { value = 1, text = "Live"  },
                      new { value = 2, text = "Archived"  }
                    },
                  "value",
                  "text",
                   2))

        <hr>

        @Html.HiddenFor(n => n.Id)
        @Html.AntiForgeryToken()

        <input type="submit" value="Save">

    }

    <hr>
    <div id="date"></div>
    <div id="display"></div>
</div>



<script>

    $(document).ready(function () {
        copyToDisplay();
    });

    $("#Text").keypress(function () {
        copyToDisplay();
    });

    function copyToDisplay() {
        var content = $("#Text").val();
        $("#display").html(content);
    }

</script>

<style>
    table, td {
        padding: 5px;
        border: 1px solid black;
    }

    textarea {
        height: 200px;
    }
</style>

