﻿@model IEnumerable<TT.Domain.Models.NewsPost>

@section menu
{
    <li><a href="@Url.Action(MVC.Moderator.Index())">Back</a></li>
    <li><a href="@Url.Action(MVC.Moderator.EditNewsPost(-1))">Add news</a></li>
}

<div class="containerInner">



    <h2>ListNewsPosts</h2>

    <table id="newsPosts" class="table table-hover messageTable">
        <thead>
            <tr>
                <th>Id</th>
                <th>Timestamp</th>
                <th>Text</th>
                <th>Visibility</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>

            @{
                foreach (var n in Model)
                {
                    <tr>
                        <td>@n.Id</td>
                        <td>@n.Timestamp</td>
                        <td>@Html.Raw(n.Text)</td>
                        <td>@n.PrintVisiblity()</td>
                        <td><a href="@Url.Action(MVC.Moderator.EditNewsPost(n.Id))">Edit</a></td>
                        <td><a href="@Url.Action(MVC.Moderator.DeleteNewsPost(n.Id))" onclick="return confirm('Are you sure you want to delete this?')" class="">[X]</a></td>
                    </tr>
                }
            }

        </tbody>

    </table>

</div>
<script>
        $(document).ready(function () {
            $('#newsPosts').dataTable({
                "order": [[1, "desc"]],
                "columnDefs": [{
                    "targets": 1,
                    "render": function (data, type, full, meta) {
                        if (type == "display") return moment(data).fromNow();
                        return data;
                    }
                }]
            });
        });
</script>

<style>
    .containerInner img {
        width: 100%;
    }
</style>
