﻿@model IEnumerable<TT.Domain.Identity.DTOs.ReportDetail>

@section menu
{
    <li><a href="@Url.Action(MVC.PvP.Play())">Back to game</a></li>
}

<div class="containerInner">

    <h1>View Questions</h1>

    <table class="table table-hover messageTable">
        <thead>
            <tr>
                <th style="width: 25%;">Timestamp</th>
                <th style="width: 25%;">Sender</th>
                <th>Message</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var report in Model.Where(r => r.Reporter.Id == r.Reported.Id))
                {
                    <tr>
                        <td>Round @report.Round, @report.Timestamp.ToString("MM/dd/yyyy")</td>
                        <td class="good"><a href="@Url.Action(MVC.PvP.LookAtPlayer_FromMembershipId(report.Reporter.Id))">@report.Reporter.UserName</a></td>
                        <td>@report.Reason</td>
                    </tr>
                }
            }
        </tbody>
    </table>

    <h1>View Reports</h1>

    <table class="table table-hover messageTable">
        <thead>
            <tr>
                <th>Timestamp</th>
                <th>Reporter</th>
                <th>Reported</th>
                <th>Message</th>
                <th>Moderator response</th>
                <th></th>
            </tr>

        </thead>
        <tbody>

            @{
                foreach (var report in Model.Where(r => r.Reporter.Id != r.Reported.Id))
                {
                    <tr>
                        <td>Round @report.Round, @report.Timestamp.ToString("MM/dd/yyyy")</td>
                        <td class="good"><a href="@Url.Action(MVC.PvP.LookAtPlayer_FromMembershipId(report.Reporter.Id))">@report.Reporter.UserName</a></td>
                        <td class="bad"><a href="@Url.Action(MVC.PvP.LookAtPlayer_FromMembershipId(report.Reported.Id))">@report.Reported.UserName</a></td>
                        <td>@report.Reason</td>
                        <td>@report.ModeratorResponse</td>
                        <td><a href="@Url.Action(MVC.Moderator.HandleReport(report.Id))">Handle</a></td>
                    </tr>

                }
            }

        </tbody>
    </table>

</div>

<script>
    $(document).ready(function () {
        $('.messageTable').dataTable({
            "lengthMenu": [[5, 10, 15, 20, -1], [5, 10, 15, 20, "All"]],
            "order": [[0, "desc"]]
        });
    });

</script>