﻿@model IEnumerable<TT.Domain.Models.EffectContribution>


<div class="containerInner">

    <table>
        <thead>
            <tr>
                <th>Submitter</th>
                <th>Spell Name</th>
                <th>Effect Name</th>
                <th>Approve?</th>
                <th>Snoop</th>
            </tr>
        </thead>

        <tbody>

            @{
                foreach (var c in Model)
                {
                    <tr>
                        <td>@c.SubmitterName</td>
                        <td>@c.Skill_FriendlyName</td>
                        <td>@c.Effect_FriendlyName</td>
                        <td><a href="@Url.Action(MVC.PvPAdmin.ApproveEffectContribution(c.Id))">Approve</a></td>
                        <td><a href="@Url.Action(MVC.Contribution.ContributeEffect(c.Id))">Snoop</a></td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
    <style>
        table {
            padding: 3px;
            border: 1px solid black;
            width: 100%;
        }

        th {
            background-color: black;
            color: white;
            text-align: center;
        }

        tr {
            padding: 3px;
            border: 1px solid black;
        }

            tr:nth-child(odd) {
                background-color: lightgray;
            }

        td {
            text-align: center;
        }
    </style>

