﻿@model IEnumerable<TT.Domain.Models.Contribution>

<div class="containerInner">

    <table>
        <thead>
            <tr>
                <th>Submitter</th>
                <th>Spell Name</th>
                <th>Form Name</th>
                <th>Item Name</th>
                <th>Approve?</th>
                <th>Reject?</th>
                <th>Snoop</th>
            </tr>
        </thead>

        <tbody>

            @{
                foreach (var c in Model)
                {
                    <tr>
                        <td>@c.SubmitterName</td>
                        <td>@c.Skill_FriendlyName</td>
                        <td>@c.Form_FriendlyName</td>
                        <td>@c.Item_FriendlyName</td>



                        @{
                            if (User.IsInRole(TT.Domain.Statics.PvPStatics.Permissions_Admin) || User.IsInRole(TT.Domain.Statics.PvPStatics.Permissions_SpellApprover))
                            {
                                <td><a href="@Url.Action(MVC.PvPAdmin.ApproveContribution(c.Id))">Approve</a></td>
                                <td><a href="@Url.Action(MVC.PvPAdmin.RejectContribution(c.Id))">Reject</a></td>
                            }
                            else
                            {
                                <td></td>
                                <td></td>
                            }
                        }



                        <td><a href="@Url.Action(MVC.Contribution.ContributePreview(c.Id))">Snoop</a></td>
                    </tr>
                            }
            }
        </tbody>
    </table>
</div>
<style>
    table {
        padding: 3px;
        border: 1px solid black;
        width: 100%;
    }

    th {
        background-color: black;
        color: white;
        text-align: center;
    }

    tr {
        padding: 3px;
        border: 1px solid black;
    }

        tr:nth-child(odd) {
            background-color: lightgray;
        }

    td {
        text-align: center;
    }
</style>