﻿@model IEnumerable<TT.Domain.Models.ContributorCustomForm>

<h2>List Custom Forms</h2>

@section menu
{
    <li><a href="@Url.Action(MVC.PvPAdmin.Index())">Back</a></li>
}
<table id="customForms">
    <thead>
        <tr>
            <td>Id</td>
            <td>OwnerMembershipId</td>
            <td>Form</td>
            <td>Edit</td>
            <td>Delete?</td>
        </tr>
    </thead>

    <tbody>

        @{
            foreach (var c in Model.ToList())
            {
                <tr>
                    <td>@c.Id</td>
                    <td><a href="@Url.Action(MVC.PvP.LookAtPlayer_FromMembershipId(c.OwnerMembershipId))" target="_blank">@c.OwnerMembershipId</a></td>
                    <td><b>@c.CustomForm.FriendlyName</b></td>
                    <td><a href="@Url.Action(MVC.PvPAdmin.EditCustomForm(c.Id))">Edit</a></td>
                    <td><a href="@Url.Action(MVC.PvPAdmin.DeleteCustomForm(c.Id))" onclick="return confirm('Are you sure you want to delete this?')" class="">[X]</a></td>
                </tr>

            }
        }

    </tbody>

</table>

<td><a href="@Url.Action(MVC.PvPAdmin.EditCustomForm(-1))">New</a></td>

<style>
    table, td {
        padding: 5px;
        border: 1px solid black;
    }
</style>

<script>
    $(document).ready(function () {
        $('#customForms').dataTable();
    });
</script>