﻿@model IEnumerable<TT.Domain.ViewModels.BalancePageViewModel>
@using TT.Web.CustomHtmlHelpers

<p>
    <a href="@Url.Action(MVC.PvPAdmin.ServerBalance_Forms())">Forms</a>
    <a href="@Url.Action(MVC.PvPAdmin.ServerBalance_Items())">Items</a>
    <a href="@Url.Action(MVC.PvPAdmin.ServerBalance_Pets())">Pets</a>
</p>

<h1>@ViewBag.Text</h1>

<p>This tool shows the current balance of forms, items, or pets (and soon to be effects) using the most up to date balance values.</p>

<table id="balanceTable" class="table table-hover messageTable dt-responsive">
    <thead>
    <tr>
        <th>database Name</th>
        <th>Name</th>
        <th>Unique</th>
        <th>Balance</th>
        <th>Absolute points used</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var entry in Model)
    {
        <tr>
            <td>@Html.Raw(entry.Id)</td>
            <td><b>@Html.Raw(entry.FriendlyName)</b></td>
            <td>@entry.IsUnique</td>
            <td>@HtmlHelpers.WithinBalanceTarget(entry.Balance, ViewBag.Text)</td>
            <td>@Html.Raw(entry.AbsolutePoints)</td>
        </tr>
    }
    </tbody>
</table>

<script>
    $('#balanceTable').dataTable({
        "lengthMenu": [[200, 500, -1], [ 200, 500, "All"]]
    });
</script>