﻿@model List<TT.Domain.Models.DbStaticForm>
@using TT.Domain.Statics

<div id="formsModal">
    <h1>Animate Forms</h1>
    <i>NOTE:  You can click on a table cell to copy it to your clipboard.</i>

    <div class="btn" onclick="hideFormsModal()">Close</div>

    <table id="animateFormsModalTable" style="width: 100%;">
        <thead>
            <tr>
                <td><b>Name as seen ingame</b></td>
                <td><b>Id</b></td>
                <td><b>Unique?</b></td>
            </tr>
        </thead>
        <tbody>

            @foreach (var f in Model.Where(m => m.MobilityType == PvPStatics.MobilityFull).OrderBy(f => f.FriendlyName))
            {
                <tr>
                    <td class="copyable" data-clipboard-text="@f.FriendlyName">@f.FriendlyName</td>
                    <td class="copyable" data-clipboard-text="@f.Id">@f.Id</td>

                    @{
                if (f.IsUnique)
                {
                    <td>Y</td>
                }
                else
                {
                    <td></td>
                }
                    }

                </tr>
            }

        </tbody>
    </table>

    <h1>Items/Pets</h1>

    <table id="itemPetFormsModalTable" style="width: 100%;">
        <thead>
            <tr>
                <td><b>Name as seen ingame</b></td>
                <td><b>Id</b></td>
                <td><b>Unique?</b></td>
            </tr>
        </thead>
        <tbody>

            @foreach (var f in Model.Where(m => m.MobilityType != PvPStatics.MobilityFull).OrderBy(f => f.FriendlyName))
            {
            <tr>
                <td class="copyable" data-clipboard-text="@f.FriendlyName">@f.FriendlyName</td>
                <td class="copyable" data-clipboard-text="@f.Id">@f.Id</td>

                @{
                    if (f.IsUnique)
                    {
                        <td>Y</td>
                    }
                    else
                    {
                        <td></td>
                    }
                }

            </tr>
                        }

        </tbody>
    </table>

    <div class="btn" onclick="hideFormsModal()">Close</div>

</div>



<style>
 

    tr {
        border: 1px solid black;
    }
</style>

<script>
    
    try {
        $('#animateFormsModalTable').dataTable({
            "lengthMenu": [[10, 50, 100, 200, -1], [10, 50, 100, 200, "All"]]
        });

        $('#itemPetFormsModalTable').dataTable({
            "lengthMenu": [[10, 50, 100, 200, -1], [10, 50, 100, 200, "All"]]
        });
    } catch (e) {

    }

    function hideFormsModal() {
        $("#formsModal").hide();
    }

    $.getScript("https://cdn.jsdelivr.net/clipboard.js/1.5.12/clipboard.min.js")
        .done(function () {
                new Clipboard('.copyable');
         })
        .fail(function () {
            alert("Failed to load clipboard.");
        });

</script>