﻿@model IEnumerable<TT.Domain.Items.DTOs.ItemSourceDetail>

<div id="itemsModal">
    <h1>Animate Forms</h1>
    <i>NOTE:  You can click on a table cell to copy it to your clipboard.</i>

    <div class="btn" onclick="hideItemsModal()">Close</div>

    <table id="itemsModalTable" style="width: 100%;">
        <thead>
            <tr>
                <td>Id</td>
                <td><b>Name as seen ingame</b></td>
                <td><b>Unique?</b></td>
            </tr>
        </thead>
        <tbody>

            @foreach (var f in Model)
            {
                <tr>
                    <td class="copyable" data-clipboard-text="@f.Id">@f.Id</td>
                    <td class="copyable" data-clipboard-text="@f.FriendlyName">@f.FriendlyName</td>
                    
                    @{
                if (f.IsUnique)
                {
                    <td>Y</td>
                }
                else
                {
                    <td></td>
                }
                    }

                </tr>
            }

        </tbody>
    </table>

    <div class="btn" onclick="hideItemsModal()">Close</div>

</div>



<style>
 

    tr {
        border: 1px solid black;
    }
</style>

<script>
    try {
        $('#itemsModalTable').dataTable({
            "lengthMenu": [[10, 50, 100, 200, -1], [10, 50, 100, 200, "All"]]
        });

    } catch (e) {

    }

    function hideItemsModal() {
        $("#itemsModal").hide();
    }

    $.getScript("https://cdn.jsdelivr.net/clipboard.js/1.5.12/clipboard.min.js")
        .done(function () {
            new Clipboard('.copyable');
        })
        .fail(function () {
            alert("Failed to load clipboard.");
        });

</script>