﻿@model List<TT.Domain.ViewModels.Location>

<div id="locationsModal">

    <h1>Locations</h1>
    <i>NOTE:  You can click on a table cell to copy it to your clipboard.</i>

    <div class="btn" onclick="hideLocationsModal()">Close</div>

    <table id="locationsModalTable" style="width: 100%;">
        <thead>
            <tr>
                <td><b>Name as seen ingame</b></td>
                <td>
                    <b>Paste this text to contribution form</b>
                </td>
                <td><b>Region</b></td>
            </tr>

        </thead>
        <tbody>

            @foreach (var l in Model.OrderBy(l => l.Name))
            {
                <tr>
                    <td class="copyable" data-clipboard-text="@l.Name">@l.Name</td>
                    <td class="copyable" data-clipboard-text="@l.dbName">@l.dbName</td>
                    <td class="copyable" data-clipboard-text="@l.Region">@l.Region</td>
                </tr>
            }


        </tbody>


    </table>

    <div class="btn" onclick="hideLocationsModal()">Close</div>

</div>



<style>
    tr {
        border: 1px solid black;
    }
</style>

<script>
    try {
        $('#locationsModalTable').dataTable({
            "lengthMenu": [[10, 50, 100, 200, -1], [10, 50, 100, 200, "All"]]
        });
    } catch (e) {

    }

    function hideLocationsModal() {
        $("#locationsModal").hide();
    }

    $.getScript("https://cdn.jsdelivr.net/clipboard.js/1.5.12/clipboard.min.js")
        .done(function () {
            new Clipboard('.copyable');
        })
        .fail(function () {
            alert("Failed to load clipboard.");
        });

</script>