﻿@model TT.Domain.ViewModels.NewsPageViewModel
@using TT.Domain.Statics
@{
    ViewBag.Title = "News";
}
@section menu
{
    <li><a href="@Url.Action(MVC.PvP.Play())">Back to game</a></li>
    <li><a href="@Url.Action(MVC.Info.GameNews_Archive())">News Archive</a></li>
    <li><a href="@Url.Action(MVC.Info.Rules())">Rules of Play</a></li>
    <li><a href="@Url.Action(MVC.Info.GearTool())">Equipment Helper</a></li>
    <li><a href="@Url.Action(MVC.Info.ServerPopulation())">Server Population By Turn</a></li>
    <li><a href="https://gitlab.com/transformania/tt-game">Source Code on GitLab</a></li>
    @{if (User.IsInRole(PvPStatics.Permissions_Admin) || User.IsInRole(PvPStatics.Permissions_Moderator))
        {
            <li><a href="@Url.Action(MVC.Moderator.ListNewsPosts())">Edit News</a></li>
        }
    }
}

<div class="containerInner listdots">

    Misc Links:  <span class="glyphicon glyphicon-star-empty"></span><a href="http://portalz.xyz/newwiki/browse.php">Alyx Portalz's Unofficial TT Wiki</a>, <span class="glyphicon glyphicon-star-empty"></span><a href="@Url.Action(MVC.Report.Question())">Ask Question</a>



    <h1>Updates, News, and Announcements</h1>
    <h4>We will be posting game updates, news, and a list of <a href="#contributorsTable">community contributors</a> here.</h4>

    @{
        foreach (var n in Model.NewsPosts)
        {

            if (User.IsInRole(PvPStatics.Permissions_Admin) || User.IsInRole(PvPStatics.Permissions_Moderator))
            {
                <a href="@Url.Action(MVC.Moderator.EditNewsPost(n.Id))" class="bad">[Edit]</a>
            }

            <p>@n.Timestamp.ToString("MMMM d")</p>
            @Html.Raw(n.Text)

            <hr>

        }
    }
    <div style="text-align:center;">
        <h2><a id="contributorsTable">Contributions and Contributors</a></h2>
        <h3>Artist Biographies</h3>

        @{
            foreach (var n in Model.ArtistBios)
            {
                if (!string.IsNullOrEmpty(n.OtherNames))
                {
                    <a href="@Url.Action(MVC.Settings.AuthorArtistBio(n.Owner.Id))">@n.OtherNames</a><br>
                }
                else
                {
                    <a href="@Url.Action(MVC.Settings.AuthorArtistBio(n.Owner.Id))">@n.Owner.UserName</a><br>
                }

            }
        }

        <br>

        <p class="bad">A complete count of all authors and their spell counts can be viewed <a href="@Url.Action(MVC.Contribution.GetContributionTable())">here.</a></p>
        <p>
            If you are interested in contributing new content to the game, click <a href="@Url.Action(MVC.Contribution.Contribute(-1))">here</a>.
        </p>
    </div>
</div>
