﻿<h1>Equipment Helper Tool</h1>

<p>You can help plan your desired equipment and pets using the table below.</p>

<form id="filtertype" action="">
    <input type="radio" name="filter" value="" checked> All &nbsp;
    <input type="radio" name="filter" value="accessory"> Accessory 	&nbsp;
    <input type="radio" name="filter" value="consumable"> Consumable 	&nbsp;
    <input type="radio" name="filter" value="consumable_reuseable"> Reusable Consumable 	&nbsp;
    <input type="radio" name="filter" value="hat"> Hat 	&nbsp;
    <input type="radio" name="filter" value="pants"> Pants 	&nbsp;
    <input type="radio" name="filter" value="pet"> Pet 	&nbsp;
    <input type="radio" name="filter" value="shirt"> Shirt 	&nbsp;
    <input type="radio" name="filter" value="shoes"> Shoes 	&nbsp;
    <input type="radio" name="filter" value="underpants"> Underpants 	&nbsp;
    <input type="radio" name="filter" value="undershirt"> Undershirt 	&nbsp;
</form>

<div style="overflow-x: scroll;">
    <table id="itemTable" class="table table-hover messageTable">
        <thead>
            <tr>
                <th>Graphic</th>
                <th>Name</th>
                <th>Type</th>
            </tr>
        </thead>
    </table>
</div>

<script>
    $(document).ready(function () {
        $('#itemTable').DataTable({
            "ajax": {
                "url": './Gear',
                "dataSrc": ""
            },
            "lengthMenu": [[10, 25, 50, 100, 200, -1], [10, 25, 50, 100, 200, "All"]],
            "deferRender": true,
            "columns": [
        { "data": "PortraitUrl" },
        { "data": "FriendlyName" },
        { "data": "ItemType" },
       
            ],
            "columnDefs": [{
                "targets": [0],
                "render": function (data, type, full, meta) {
                    if (type == "display") {
                        if (full.ItemType == 'pet') {
                            return "<img src='/Images/PvP/animalPortraits/Thumbnails/100/" + data + "' width=50; height=50;>";
                        } else {
                            return "<img src='/Images/PvP/itemsPortraits/Thumbnails/100/" + data + "' width=50; height=50;>";
                        }
                    }
                    return data;
                }
            },
            {
                "targets": [2],
                "render": function (data, type, full, meta) {
                    if (type == "display") {
                        return "<img src='/Images/PvP/Icons/" + data + ".png' alt='" + data + "' title='" + data + "'>";
                    }
                    return data;
                }
            }],
            "order": [[ 1, "asc" ]],
            "initComplete": function () {
                this.api().column(2).every(function () {
                    var column = this;
                    $("#filtertype input").on('change', function () {
                        var val = $.fn.dataTable.util.escapeRegex(
                            $('input[name=filter]:checked', '#filtertype').val()
                        );

                        column
                            .search(val ? '^' + val + '$' : '', true, false)
                            .draw();
                    });
                });
            }
        });

    });

</script>